{% extends 'base.admin.html.twig' %}
{% block stylesheets %}

<style>
    .treegrid-indent {
        width: 16px;
        height: 16px;
        display: inline-block;
        position: relative;
    }
    .treegrid-expander {
        width: 16px;
        height: 16px;
        display: inline-block;
        position: relative;
        left:-2px;
        cursor: pointer;
    }
</style>
{% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Liste Catégories</li>
    </ol>
    <h1>Liste Catégories</h1>
    <ul class="list-unstyled">
    {% for key, messages in app.session.flashbag.all() %}
        <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
            {% for message in messages %}
                {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>

    <table class="table table-striped table-hover" id="tree-table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Home</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            {% if categorie.parent == null %}
            <tr data-id="{{ categorie.id }}" data-parent="0" data-level="{{ categorie.treeLevel }}">
                
                <td data-column="name">{{ categorie.nom }}</td>
                <td>{% if categorie.home %}<span style="color: #00a65a;" class="glyphicon glyphicon-ok"></span> {% else %}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                <td>
                    <ul class="list-unstyled action ">
                        <li class="inline">
                            <a href="{{ path('admin_categorie_edit', { 'id': categorie.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                        </li>
                        <li class="inline">
                            <a href="{{ path('admin_categorie_delete', { 'id': categorie.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                        </li>
                    </ul>
                </td>
               
            </tr>
            {% endif %}
            {% if categorie.children|length > 0 %}
                {% for category in categorie.children %}
                <tr data-id="{{ category.id }}" data-parent="{{ category.parent.id }}" data-level="{{ category.treeLevel }}">
                    <td data-column="name">{{  category.nom }}
                        </td>
                    <td>&nbsp;</td>
                    <td>
                        <ul class="list-unstyled action ">
                            <li class="inline">
                                <a href="{{ path('admin_categorie_edit', { 'id': category.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                            </li>
                            <li class="inline">
                                <a href="{{ path('admin_categorie_delete', { 'id': category.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}


        {% endfor %}
        </tbody>
    </table>
    <ul class="list-unstyled action">
        <li>
            <a href="{{ path('admin_categorie_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouvelle catégorie</a>
        </li>

    </ul>
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src={{ asset("js/javascript.js") }}></script>

{% endblock %}
