{% extends 'main/Boutique/base.html.twig' %}

{% block boutique_content %}
  <div class="content-box col-12">
    <h2> Votre paiement a échoué </h2>

    <p>
      Paypal a refusé votre paiement ou il a rencontré une erreur durant celui-ci. Nous vous invitons à vérifier vos informations de paiement et à réessayer.
    </p>
    <p>
      Si le problème persiste, n'hésitez pas à nous contacter
    </p>
  </div>
{% endblock boutique_content %}


