{% extends 'main/Boutique/base.html.twig' %}

{% block boutique_content %}


  <div class="content-box col-12 successCB">

      {% if status == "AUTHORISED" %}
        <h2> Votre paiement est en attente de remise </h2>
      {% endif %}

      {% if status == "ABANDONED" %}
        <h2> Votre paiement a été abandonné </h2>
      {% endif %}


      {% if status == "ACCEPTED" %}
        <h2> Votre paiement a été effectué avec succès </h2>
      {% endif %}

      {% if status == "AUTHORISED_TO_VALIDATE" %}
        <h2> Votre paiement a été effectué mais encore à valider </h2>
      {% endif %}

      {% if status == "CANCELLED" %}
        <h2> Votre paiement a été annulé </h2>
      {% endif %}

      {% if status == "CAPTURED" %}
        <h2> Présenté - La transaction est remise en banque. </h2>
      {% endif %}

      {% if status == "CAPTURE_FAILED" %}
        <h2> La remise de la transaction a échoué. Contactez le Support.</h2>
      {% endif %}

      {% if status == "EXPIRED" %}
        <h2> Expiré. La date d'expiration de la demande d'autorisation est atteinte </h2>
      {% endif %}

      {% if status == "INITIAL" %}
        <h2> En attente.</h2>
      {% endif %}

      {% if status == "NOT_CREATED" %}
        <h2> La transaction est non créée.</h2>
      {% endif %}

      {% if status == "REFUSED" %}
        <h2> Votre paiement de {{ montantPayer }}€ TTC en date du {{ "now"|date('d/m/Y h:i:s') }} a été refusé </h2>
      {% endif %}

      {% if status == "SUSPENDED" %}
          <h2> Votre paiement de {{ montantPayer }}€ TTC en date du {{ "now"|date('d/m/Y h:i:s') }} a été suspendu </h2>
      {% endif %}

      {% if status == "WAITING_AUTHORISATION" %}
        <h2> La transaction est en attente d'autorisation. </h2>
      {% endif %}

      {% if status == "WAITING_AUTHORISATION_TO_VALIDATE" %}
        <h2> La transaction est à valider et autoriser. </h2>
      {% endif %}





    <p class="text-center" style="font-size: 18px; margin-top: 20px;">
      Pour nous contacter : <br/>
      Tél: 01 42 96 18 97<br/>
      email: <a href="mailto:abonnement@laprofessioncomptable.com?subject=LCP : Paiement CB {{ status }}">abonnement@laprofessioncomptable.com</a>
    </p>


  </div>
{% endblock boutique_content %}


