{% extends 'base.admin.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' 'jquery.collection.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><a href="{{ path('admin_user_index') }}">Liste User</a></li>
        <li class="active">Edit User</li>
    </ol>
    <h1>User edit</h1>
    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    {{ form_start(edit_form) }}
    <div class="row userForm">
        <ul class="nav nav-tabs nav-article">
            <li class="nav-item active">
                <a class="nav-link active" href="#tab1" aria-expanded="true" data-toggle="tab">Informations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" data-toggle="tab">Accès</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab3" data-toggle="tab">Adresse de livraison</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab4" data-toggle="tab">Abonnement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab5" data-toggle="tab">Produits</a>
            </li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="form-group">
                    {{ form_label(edit_form.nom) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.nom) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.prenom) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.prenom) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.profession) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.profession,{'attr':{'onchange': 'return checkProfession(this.value)'}}) }}</div>
                </div>

                <div class="form-group autreProfession" style="display: none;">
                    {{ form_label(edit_form.autreProfession) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.autreProfession) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.societe) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.societe) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.adresseFacturation1) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.adresseFacturation1) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.adresseFacturation2) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.adresseFacturation2) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.codePostal) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.codePostal) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.ville) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.ville) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.telephone) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.telephone) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.dateCreation) }}
                    <div class="col-sm-2">{{ form_widget(edit_form.dateCreation) }}</div>
                </div>

            </div>

            <div class="tab-pane" id="tab2">
                <div class="form-group">
                    {{ form_label(edit_form.email) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.email) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.enabled) }}
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(edit_form.enabled) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.roles) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.roles) }}</div>
                </div>

                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-2"><a href="{{ path("admin_user_profile",{'id':user.id}) }}" >Modifier le mots de passe</a></div>
                </div>


            </div>

            <div class="tab-pane" id="tab3">
                <div class="form-group">
                    {{ form_label(edit_form.nomLivraison) }}
                    <div class="col-sm-9">{{ form_widget(edit_form.nomLivraison) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.prenomLivraison) }}
                    <div class="col-sm-9">{{ form_widget(edit_form.prenomLivraison) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.societeLivraison) }}
                    <div class="col-sm-9">{{ form_widget(edit_form.societeLivraison) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.adresseLivraison1) }}
                    <div class="col-sm-9">{{ form_widget(edit_form.adresseLivraison1) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.adresseLivraison2) }}
                    <div class="col-sm-9">{{ form_widget(edit_form.adresseLivraison2) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.codePostalLivraison) }}
                    <div class="col-sm-9">{{ form_widget(edit_form.codePostalLivraison) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.villeLivraison) }}
                    <div class="col-sm-9">{{ form_widget(edit_form.villeLivraison) }}</div>
                </div>

            </div>
            <div class="tab-pane" id="tab4">
                <div class="form-group">
                    {{ form_label(edit_form.newsletterSubscription) }}
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(edit_form.newsletterSubscription) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.paidSubscriber) }}
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(edit_form.paidSubscriber) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.subscriptionRenewal) }}
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(edit_form.subscriptionRenewal) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.endSubscriptionDate) }}
                    <div class="col-sm-9">{{ form_widget(edit_form.endSubscriptionDate) }}</div>
                </div>

            </div>
            <div class="tab-pane" id="tab5">
                <h2 style="padding-left: 15px;font-size: 18px;">Liste commandes</h2>
                {% if achats|length > 0 or abonnement %}


                        <table class="table table-striped table-hover" style="margin-left: 15px;">
                            <thead>
                            <tr>

                                <th>Date</th>
                                <th>Numéro</th>
                                <th>Titre produit</th>
                                <th>Qtt</th>
                                <th>Statut</th>
                                <th>Tarif</th>
                                <th>Paiement</th>
                                <th>pdf</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% if abonnement %}
                                {% for unAbo in abonnement %}
                                <tr>
                                    <td>{{ unAbo.dateStart|date('d.m.Y') }} <br>au <br>{{ unAbo.dateEnd|date('d.m.Y')}}</td>
                                    <td>{{ unAbo.agreementPaypalId }}</td>
                                    <td>Abonnement prime</td>
                                    <td>
                                        {% if unAbo.qtt %} {{ unAbo.qtt }} {% else %} 1 {% endif %}
                                    </td>
                                    <td>Statut : <strong>terminé</strong></td>
                                    <td>{{ unAbo.prix }} &euro; TTC</td>
                                    <td>
                                        {% if 'LPC' in unAbo.agreementPaypalId %} CB {% else %} Paypal {% endif %}
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td><a href="{{ path('admin_abonnement_delete', { 'id': unAbo.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a></td>
                                </tr>
                            {% endfor %}
                            {% elseif 'ROLE_ABONNE' in user.roles or  user.paidSubscriber ==1 %}
                                <tr>
                                    <td>Jusqu'au <br>{{ user.endSubscriptionDate|date('d.m.Y') }}</td>
                                    <td></td>
                                    <td>Abonnement prime</td>
                                    <td>1</td>
                                    <td>Statut : <strong>terminé</strong></td>
                                    <td>{{ prixAbonnement }}&euro; TTC</td>
                                    <td>&nbsp;</td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                            {% endif %}
                            {% for achat in achats %}
                                {% set produit = achat.produit %}
                                <tr>
                                    <td>{{ achat.dateAchat|date('d.m.Y') }}</td>
                                    <td>{{ achat.paiement.paymentId }}</td>
                                    <td title="{{ produit.nom }}">{{ produit.nom|striptags|truncate(40, true)|raw  }}</td>
                                    <td>
                                        {{ achat.qtt }}
                                    </td>
                                    <td>Statut : <strong>terminé</strong></td>
                                    <td>{{ produit.prix*achat.qtt }}&euro; TTC</td>
                                    <td>{% if achat.typePaiement is null %}Paypal{% else %}{{ achat.typePaiement }}{% endif %}</td>
                                    <td>
                                        {% if produit.pdf %}
                                            <a href="{{ asset('uploads/pdf/produit/' ~ produit.pdf) }}" target="_blank">
                                                <img src="{{ asset('images/download.png') }}">
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td><a href="{{ path('admin_achat_delete', { 'id': achat.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                {% elseif 'ROLE_ABONNE' in user.roles or  user.paidSubscriber ==1 %}
                    <div class="container commande-list">
                        <table class="table table-striped table-hover">
                            <tbody>
                            <tr>
                                <td>Jusqu'au <br>{{ user.endSubscriptionDate|date('d.m.Y') }}</td>
                                <td>Abonnement prime</td>
                                <td>1</td>
                                <td>Statut : <strong>terminé</strong></td>
                                <td>{{ prixAbonnement }}&euro; TTC</td>
                                <td>&nbsp;</td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p style="padding-left: 100px;">Pas encore acheté de produit LPC</p>

                {% endif %}
                <div class="text-center"><a href="{{ path("add_produit_user", {"id" : user.id}) }}" class="addProduit btn btn-success">Ajouter Produit</a></div>
            </div>

        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Valider" class="btn btn-primary" onclick="return verifChamp()" />

        </div>
    </div>
    {{ form_end(edit_form) }}

    <ul class="list-unstyled action">
        <li>
            <a href="{{ path('admin_user_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouveau user</a>
        </li>
    </ul>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.my-selector').collection();

        function checkProfession(profession) {
            if (profession == "Autre") {
                $(".autreProfession").css("display","block");
            } else {
                $(".autreProfession").css("display","none");
            }
        }
        $(document).ready(function(){
            let profession = $("#App_user_profession").val();

            if (profession == "Autre") {
                $(".autreProfession").css("display","block");
            }

        });

        function verifChamp() {

            let nom = $("#App_user_nom").val();
            let prenom = $("#App_user_prenom").val();
            let profession = $("#App_user_profession").val();
            let adresse = $("#App_user_adresseFacturation1").val();
            let codePostale = $("#App_user_codePostal").val();
            let ville = $("#App_user_ville").val();
            let telephone = $("#App_user_telephone").val();

            let email = $("#App_user_email").val();

            let password_1 = $("#App_user_plainPassword_first").val();
            let password_2 = $("#App_user_plainPassword_second").val();

            if (nom ==="" || prenom ==="" || profession ==="" || adresse ==="" || codePostale ==="" || ville ==="" || telephone ==="") {
                $('.nav-tabs a[href="#tab1"]').tab('show');
            } else if(email === "" || password_1 ==="" || password_2 === ""){
                $('.nav-tabs a[href="#tab2"]').tab('show');
            }

        }

    </script>
{% endblock %}
