{% extends 'base.admin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Liste User</li>
    </ol>
    <h1>Liste User</h1>
    <p class="text-right"><a href="{{ path("admin_user_export") }}" target="_blank" title="Exporter"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Exporter</a> </p>
    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <table class="table table-striped table-hover" id="users">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Date d'inscription</th>
                <th>Abonnement</th>
                <th>Newsletter</th>
                <th>Date fin Abonnement</th>
                <th>Rôles</th>
                <th class="actionBO">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% set rolesUser = {'ROLE_USER': ' Utilisateur', 'ROLE_ABONNE': ' Abonné', 'ROLE_ADMIN': ' Administrateur', 'ROLE_VALIDATOR': 'Validateur', 'ROLE_EDITOR': 'Editeur','ROLE_CONTRIBUTEUR': 'Contributeur'} %}
            <tr>

                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.dateCreation %}{{ user.dateCreation|date('Y-m-d') }}{% endif %}</td>
                <td>{% if user.paidSubscriber %}<span style="color: green;" class="glyphicon glyphicon-ok"></span>{% else %}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                <td>{% if user.newsletterSubscription %}<span style="color: green;" class="glyphicon glyphicon-ok"></span>{% else %}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                <td>{% if user.endSubscriptionDate %}{{ user.endSubscriptionDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    {% for role in user.roles %}
                        {{ rolesUser[role] }}{% if user.roles|length > 1 %},{% endif %}
                    {% endfor %}
                </td>
                <td>
                    <ul class="list-unstyled action ">
                        <li class="inline">
                            <a href="{{ path('admin_user_edit', { 'id': user.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                        </li>
                        <li class="inline">
                            <a href="{{ path('admin_user_delete_element', { 'id': user.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled action">
        <li >
            <a href="{{ path('admin_user_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouveau User</a>
        </li>

    </ul>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="application/javascript">
        $(document).ready(function() {
            $('#users').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "pageLength": 50,
                "order": [[ 3, 'desc' ]]
            });
        } );
    </script>

{% endblock %}
