{% extends 'base.admin.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' 'jquery.collection.html.twig' %}

{% block body %}
    <style type="text/css">
        .help-block li{
            color:red;
        }
    </style>
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><a href="{{ path('admin_user_index') }}">Liste user</a></li>
        <li class="active">Nouveau user</li>
    </ol>
    <h1>Nouveau User</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_errors(form.email) }}

    <div class="row userForm">
        <ul class="nav nav-tabs nav-article">
            <li class="nav-item active">
                <a class="nav-link active" href="#tab1" aria-expanded="true" data-toggle="tab">Informations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" data-toggle="tab">Accès</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#tab3" data-toggle="tab">Adresse de livraison</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab4" data-toggle="tab">Abonnement</a>
            </li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="form-group">
                    {{ form_label(form.nom) }}
                    <div class="col-sm-5">{{ form_widget(form.nom) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.prenom) }}
                    <div class="col-sm-5">{{ form_widget(form.prenom) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(form.societe) }}
                    <div class="col-sm-5">{{ form_widget(form.societe) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.profession) }}
                    <div class="col-sm-5">{{ form_widget(form.profession, {'attr':{'onchange': 'return checkProfession(this.value)'}}) }}</div>
                </div>

                <div class="form-group autreProfession" style="display: none;">
                    {{ form_label(form.autreProfession) }}
                    <div class="col-sm-5">{{ form_widget(form.autreProfession) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(form.adresseFacturation1) }}
                    <div class="col-sm-5">{{ form_widget(form.adresseFacturation1) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.adresseFacturation2) }}
                    <div class="col-sm-5">{{ form_widget(form.adresseFacturation2) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.codePostal) }}
                    <div class="col-sm-5">{{ form_widget(form.codePostal) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.ville) }}
                    <div class="col-sm-5">{{ form_widget(form.ville) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.telephone) }}
                    <div class="col-sm-5">{{ form_widget(form.telephone) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(form.dateCreation) }}
                    <div class="col-sm-2">{{ form_widget(form.dateCreation) }}</div>
                </div>

            </div>

            <div class="tab-pane" id="tab2">
                <div class="form-group">
                    {{ form_label(form.email) }}
                    <div class="col-sm-5">{{ form_widget(form.email) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.roles) }}
                    <div class="col-sm-5">{{ form_widget(form.roles) }}</div>
                </div>
                <div class="form-group">
                    {{ form_widget(form.plainPassword) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.enabled) }}
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(form.enabled) }}</div>
                </div>
            </div>

            <div class="tab-pane" id="tab3">
                <div class="form-group">
                    {{ form_label(form.nomLivraison) }}
                    <div class="col-sm-9">{{ form_widget(form.nomLivraison) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.prenomLivraison) }}
                    <div class="col-sm-9">{{ form_widget(form.prenomLivraison) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.societeLivraison) }}
                    <div class="col-sm-9">{{ form_widget(form.societeLivraison) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.adresseLivraison1) }}
                    <div class="col-sm-9">{{ form_widget(form.adresseLivraison1) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.adresseLivraison2) }}
                    <div class="col-sm-9">{{ form_widget(form.adresseLivraison2) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.codePostalLivraison) }}
                    <div class="col-sm-9">{{ form_widget(form.codePostalLivraison) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.villeLivraison) }}
                    <div class="col-sm-9">{{ form_widget(form.villeLivraison) }}</div>
                </div>

            </div>
            <div class="tab-pane" id="tab4">
                <div class="form-group">
                    {{ form_label(form.newsletterSubscription) }}
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(form.newsletterSubscription) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(form.paidSubscriber) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(form.subscriptionRenewal) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.endSubscriptionDate) }}
                    <div class="col-sm-9">{{ form_widget(form.endSubscriptionDate) }}</div>
                </div>

            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Valider" class="btn btn-primary" onclick="return verifChamp()" />

        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.my-selector').collection();

        function checkProfession(profession) {
            if (profession == "Autre") {
                $(".autreProfession").css("display","block");
            } else {
                $(".autreProfession").css("display","none");
            }
        }

        function verifChamp() {

            let nom = $("#App_user_nom").val();
            let prenom = $("#App_user_prenom").val();
            let profession = $("#App_user_profession").val();
            let adresse = $("#App_user_adresseFacturation1").val();
            let codePostale = $("#App_user_codePostal").val();
            let ville = $("#App_user_ville").val();
            let telephone = $("#App_user_telephone").val();

            let email = $("#App_user_email").val();

            let password_1 = $("#App_user_plainPassword_first").val();
            let password_2 = $("#App_user_plainPassword_second").val();

            if (nom ==="" || prenom ==="" || profession ==="" || adresse ==="" || codePostale ==="" || ville ==="" || telephone ==="") {
                $('.nav-tabs a[href="#tab1"]').tab('show');
            } else if(email === "" || password_1 ==="" || password_2 === ""){
                $('.nav-tabs a[href="#tab2"]').tab('show');
            }

        }

    </script>
{% endblock %}
