{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Societe</th>
                <td>{{ user.societe }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ user.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.ville }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ user.telephone }}</td>
            </tr>
            <tr>
                <th>Adressefacturation1</th>
                <td>{{ user.adresseFacturation1 }}</td>
            </tr>
            <tr>
                <th>Adressefacturation2</th>
                <td>{{ user.adresseFacturation2 }}</td>
            </tr>
            <tr>
                <th>Adresselivraison1</th>
                <td>{{ user.adresseLivraison1 }}</td>
            </tr>
            <tr>
                <th>Adresselivraison2</th>
                <td>{{ user.adresseLivraison2 }}</td>
            </tr>
            <tr>
                <th>Nomlivraison</th>
                <td>{{ user.nomLivraison }}</td>
            </tr>
            <tr>
                <th>Prenomlivraison</th>
                <td>{{ user.prenomLivraison }}</td>
            </tr>
            <tr>
                <th>Societelivraison</th>
                <td>{{ user.societeLivraison }}</td>
            </tr>
            <tr>
                <th>Codepostallivraison</th>
                <td>{{ user.codePostalLivraison }}</td>
            </tr>
            <tr>
                <th>Villelivraison</th>
                <td>{{ user.villeLivraison }}</td>
            </tr>
            <tr>
                <th>Conditionsaccepted</th>
                <td>{% if user.conditionsAccepted %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Newslettersubscription</th>
                <td>{% if user.newsletterSubscription %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Paidsubscriber</th>
                <td>{% if user.paidSubscriber %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Endsubscriptiondate</th>
                <td>{% if user.endSubscriptionDate %}{{ user.endSubscriptionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
