{% extends 'base.admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <style>
        .treegrid-indent {
            width: 16px;
            height: 16px;
            display: inline-block;
            position: relative;
        }
        .treegrid-expander {
            width: 16px;
            height: 16px;
            display: inline-block;
            position: relative;
            left:-2px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Liste Commentaires</li>
    </ol>
    <h1>Liste Commentaires</h1>
    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <table class="table table-striped table-hover" id="tree-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Article</th>
            <th>User</th>
            <th>Commentaire</th>
            <th>Approuve</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for un_article in articles %}
            {% set compteur = 0 %}

        {% for commentaire in commentaires %}

            {% if commentaire.article.id ==  un_article.id %}

                {% if commentaire.parent == null %}
                    <tr data-id="{{ commentaire.id }}" data-parent="0" data-level="{{ commentaire.treeLevel }}">
                        <td>{{ commentaire.article.id }}</td>
                        <td>{% if compteur == 0 %}<a target="_blank" href="{{ path("show_article", {"categorie": commentaire.article.categorie.slug, "slug": commentaire.article.slug}) }}"> {{ commentaire.article.titre }}</a>{% else %}&nbsp;{% endif %}</td>
                        <td data-column="name">{{ commentaire.user.username }}</td>
                        <td>{{ commentaire.comment|striptags|truncate(100, true)|raw }}</td>
                        <td class="text-center">{% if commentaire.approuve %}<span class="glyphicon glyphicon-ok-sign" style="color: #00a65a;"></span>{% else %}<span class="glyphicon glyphicon-remove" style="color: red;"></span>{% endif %}</td>
                        <td class="text-center">{% if commentaire.dateCreation %}{{ commentaire.dateCreation|date('Y-m-d h:i:s') }}{% endif %}</td>
                        <td>
                            <ul class="list-unstyled action ">
                                <li class="inline">
                                    <a href="{{ path('admin_commentaire_edit', { 'id': commentaire.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                                </li>
                                <li class="inline">
                                    <a href="{{ path('admin_commentaire_delete', { 'id': commentaire.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                                </li>
                            </ul>
                        </td>

                    </tr>
                {% endif %}
                {% if commentaire.response|length > 0 %}
                    {% for commentaire in commentaire.response %}
                        <tr data-id="{{ commentaire.id }}" data-parent="{{ commentaire.parent.id }}" data-level="{{ commentaire.treeLevel }}">
                            <td>{{ commentaire.article.id }}</td>
                            <td>&nbsp;</td>
                            <td data-column="name">{{ commentaire.user.username }}
                            </td>
                            <td>&nbsp;{{ commentaire.comment|striptags|truncate(100, true)|raw }}</td>
                            <td class="text-center">{% if commentaire.approuve %}<span class="glyphicon glyphicon-ok-sign" style="color: #00a65a;"></span>{% else %}<span class="glyphicon glyphicon-remove" style="color: red;"></span>{% endif %}</td>
                            <td class="text-center">{% if commentaire.dateCreation %}{{ commentaire.dateCreation|date('Y-m-d h:i:s') }}{% endif %}</td>
                            <td>
                                <ul class="list-unstyled action ">
                                    <li class="inline">
                                        <a href="{{ path('admin_commentaire_edit', { 'id': commentaire.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                                    </li>
                                    <li class="inline">
                                        <a href="{{ path('admin_commentaire_delete', { 'id': commentaire.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% set compteur = compteur + 1 %}
            {% endif %}

        {% endfor %}

       {% endfor %}
        </tbody>
    </table>


{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src={{ asset("js/javascript.js") }}></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="application/javascript">
        $(document).ready(function() {
            $('#tree-table').DataTable({
                "order": [[ 0, 'desc' ]],
                "pageLength": 100,
            });
        } );

    </script>

{% endblock %}
