{% trans_default_domain 'FOSUserBundle' %}
<div class="login-box">
  <div class="login-logo">
    <b>BBA</b> - LPC
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">{{ 'security.login.submit'|trans}}</p>
    {% if error %}
        <div class="alert alert-error"><label>{{ error.messageKey|trans(error.messageData, 'security') }}</label></div>
    {% endif %}

    <form action="{{ path("fos_admin_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
      {#<input type="hidden" name="uri" value="/admin/login">#}
      <div class="form-group has-feedback">
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox" id="remember_me" name="_remember_me" value="on" > {{ 'security.login.remember_me'|trans}}
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-flat">{{ 'security.login.submit'|trans}}</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    
    <p class="text-center">
    <span><a href="{{ path('fos_user_resetting_request')}}">{{ 'resetting.mots_de_passe_oublier'|trans}}</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    </p>

  </div>
  <!-- /.login-box-body -->
</div>
