{#% extends "@FOSUser/layout.html.twig" %#}

<div class="box-connexion hidden" >
{#    <form action="{{ path("fos_user_security_check") }}" method="post">#}
    <form action="" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <input type="hidden" name="uri" value="{{ uri }}">
        <div class="form-group">
            <label for="username">Identifiant</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" placeholder="Password">
            {#<a href="{{ path('fos_user_resetting_request')}}">mot de passe perdu ?</a>#}
        </div>

        <button class="btn btn-abonne" type="submit" id="_submit" name="_submit" >Connexion</button>
    </form>
</div>
