{#% extends "@FOSUser/layout.html.twig" %#}
{% extends "base-externe.html.twig" %}

{% block title %}Login | {{ parent() }}{% endblock %}
{% block description %}{{ parent() }}{% endblock %}
{% block robots %}{{ parent() }}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

  {% block stylesheets %}
    <style type="text/css">
        .login-box-body{
            width: 50%;margin: 0 auto;
        }
        .login-box-body h1{
            font-family: 'alberbold';
            font-size: 25px;
        }
        p a{
            font-family: 'alberregular';
        }
        .form-group{
            font-family: 'alberregular';
        }
        button{
            font-family: 'alberregular';
        }
        @media (max-width : 768px){
            .btn-block{
                font-size: 12px;
            }
            h1{
                font-size: 14px!important;
                margin-top: 15px!important;
            }
            .label-control{
                font-size: 14px!important;
            }
            form{
                width: 230px!important;
            }
            .login-box-body{
                width: 65%!important;
            }
            .form-control{
                font-size: 14px!important;
                height: 35px!important;
            }
        }

    </style>
  {% endblock %}

{% block body %}
<div class="login-box">
    <div class="login-box-body">
        <h1 class="login-box-msg">{{ 'security.login.submit'|trans}}</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>

        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <input type="hidden" name="uri" value="{{ uri }}">
            <div class="form-group has-feedback">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" > {{ 'security.login.remember_me'|trans}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-flat" style="background-color: #009fe3;border-color: #009fe3;">{{ 'security.login.submit'|trans}}</button>
                </div>
                <!-- /.col -->
            </div>
        </form>


        <p class="text-center">
            <span><a href="{{ path('fos_user_resetting_request')}}">{{ 'resetting.mots_de_passe_oublier'|trans}}</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        </p>

    </div>

</div>
{% endblock %}

