{% extends 'base.admin.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' 'jquery.collection.html.twig' %}

{% block body %}
    <style type="text/css">
        #App_revue_linkCalameo{
            width: 50%;
        }
    </style>
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><a href="{{ path('admin_revue_index') }}">Liste Revue</a></li>
        <li class="active">Edit Revue</li>
    </ol>
    <h1>Revue edit</h1>
    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    {{ form_start(edit_form) }}
<div class="row">
    <ul class="nav nav-tabs nav-article">
        <li class="nav-item active">
            <a class="nav-link active" href="#tab1" aria-expanded="true" data-toggle="tab">Contenus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab5" data-toggle="tab">Descriptif</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab2" data-toggle="tab">Images</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab3" data-toggle="tab">Pdf</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab4" data-toggle="tab">Sommaires</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab6" data-toggle="tab">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab7" data-toggle="tab">Calameo</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="form-group">
                {{ form_label(edit_form.numero) }}
                <div class="col-sm-5">{{ form_widget(edit_form.numero) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.titre) }}
                <div class="col-sm-5">{{ form_widget(edit_form.titre) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.slug) }}
                <div class="col-sm-5">{{ form_widget(edit_form.slug) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.tarif) }}
                <div class="col-sm-5">{{ form_widget(edit_form.tarif) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.dateCreation) }}
                <div class="col-sm-5">{{ form_widget(edit_form.dateCreation) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.active) }}
                <div class="col-sm-5 col-sm-offset-2">{{ form_widget(edit_form.active) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.isCheck) }}
                <div class="col-sm-5 col-sm-offset-2">{{ form_widget(edit_form.isCheck) }}</div>
            </div>
        </div>
        <div class="tab-pane" id="tab5">
            <div class="form-group">
                {{ form_label(edit_form.descriptif) }}
                <div class="col-sm-9">{{ form_widget(edit_form.descriptif) }}</div>
            </div>

        </div>
        <div class="tab-pane" id="tab2">
            <div class="form-group">
                {{ form_label(edit_form.imageFile) }}
                <div class="col-sm-9">{{ form_widget(edit_form.imageFile) }}</div>
            </div>

        </div>
        <div class="tab-pane" id="tab3">
            <div class="form-group">
                {{ form_label(edit_form.pdfFile) }}
                <div class="col-sm-9">{{ form_widget(edit_form.pdfFile) }}</div>
            </div>

        </div>
        <div class="tab-pane" id="tab4">
            <div class="form-group">
                {{ form_label(edit_form.sommaire) }}
                <div class="col-sm-9">{{ form_widget(edit_form.sommaire) }}</div>
            </div>

        </div>

        <div class="tab-pane" id="tab7">
            <div class="form-group">
                {{ form_label(edit_form.linkCalameo) }}
                <div class="col-sm-9">{{ form_widget(edit_form.linkCalameo) }}</div>
            </div>

        </div>

        <div class="tab-pane" id="tab6">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Article</th>
                    <th>Catégorie</th>
                    <th>Position</th>
                    <th>Actions </th>
                </tr>
                </thead>
                <tbody>
                {% for un_article in articles %}
                    <tr>

                        <td>{{ un_article.article.titre }}</td>
                        <td>{{ un_article.article.categorie.nom }}</td>
                        <td>
                            <ul class="list-unstyled action ">

                                {% if loop.first %}
                                    <li class="inline">
                                        <a href="{{ path('admin_revue_article_sort', { 'id': un_article.id,'position':un_article.position+1, 'idRevue':revue.id , 'direction':'down' }) }}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> </a>
                                    </li>
                                {% elseif loop.last %}
                                    <li class="inline">
                                        <a href="{{ path('admin_revue_article_sort', { 'id': un_article.id,'position':un_article.position-1, 'idRevue':revue.id, 'direction':'up' }) }}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true" ></span></a>
                                    </li>
                                {% else %}
                                        <li class="inline">
                                            <a href="{{ path('admin_revue_article_sort', { 'id': un_article.id,'position':un_article.position+1, 'idRevue':revue.id , 'direction':'down' }) }}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> </a>
                                        </li>
                                        <li class="inline">
                                            <a href="{{ path('admin_revue_article_sort', { 'id': un_article.id,'position':un_article.position-1, 'idRevue':revue.id, 'direction':'up' }) }}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true" ></span></a>
                                        </li>

                                    {% endif %}

                                {#% if (un_article.position) != articles|length %}
                                    <li class="inline">
                                        <a href="{{ path('admin_revue_article_sort', { 'id': un_article.id,'position':un_article.position+1, 'idRevue':revue.id , 'direction':'down' }) }}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> </a>
                                    </li>
                                {% endif %}
                                {% if (un_article.position-1)!= 0 %}
                                    <li class="inline">
                                        <a href="{{ path('admin_revue_article_sort', { 'id': un_article.id,'position':un_article.position-1, 'idRevue':revue.id, 'direction':'up' }) }}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true" ></span></a>
                                    </li>
                                {% endif %#}

                            </ul>
                        </td>
                        <td>
                            <ul class="list-unstyled action ">
                                <li class="inline">
                                    <a href="{{ path('admin_article_delete_revue', { 'id': revue.id, 'idArticle':un_article.article.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                                </li>
                            </ul>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Valider" class="btn btn-primary" />

        </div>
    </div>
    {{ form_end(edit_form) }}

    <ul class="list-unstyled action">
        <li>
            <a href="{{ path('admin_revue_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouveau Revue</a>
        </li>
    </ul>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.my-selector').collection();
        $(document).ready(function() {
            let changePositionArticle = "{{ changePositionArticle }}";

            if (changePositionArticle == "1") {
                $('.nav-tabs a[href="#tab6"]').tab('show');
            }


        });


    </script>
{% endblock %}
