{% extends 'base.admin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
    <style type="text/css">
        .actionBO_revue{
            width: 20%!important;
        }
    </style>
{% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Liste Revue</li>
    </ol>
    <h1>Liste Revue</h1>
    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <table class="table table-striped table-hover" id="revues">
        <thead>
            <tr>
                <th>Image</th>
                <th>Titre</th>
                <th>Descriptif</th>
                <th>Pdf</th>
                <th>Tarif</th>
                <th>Date</th>
                <th>is Check</th>
                <th class="actionBO_revue">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for revue in revues %}
            <tr>
                <td align="center">{% if revue.image %}<img src="{{ asset("uploads/images/revue/"~revue.image) }}" width="80px">{% else %}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                <td>{{ revue.titre }}</td>
                <td>{{ revue.descriptif|striptags|truncate(50, true)|raw }}</td>
                <td>{% if revue.document %}<a href="{{ asset("uploads/pdf/revue/"~revue.document) }}"><span class="glyphicon glyphicon-edit"></span></a> {% else %}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                <td>{% if revue.tarif %}{{ revue.tarif }}&euro;{% endif %}</td>
                <td>{% if revue.dateCreation  %}{{ revue.dateCreation|date("Y-m-d") }}{% else %}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                <td>{% if revue.isCheck %}<span style="color: green;" class="glyphicon glyphicon-ok"></span>{% else %}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                <td>
                    <ul class="list-unstyled action ">
                        <li class="inline">
                            <a href="{{ path('admin_revue_edit', { 'id': revue.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit </a>
                        </li>
                        <li class="inline">
                            <a href="{{ path('admin_revue_duplicate', { 'id': revue.id }) }}" onclick="return duplicateList();"><span class="glyphicon glyphicon glyphicon-duplicate" aria-hidden="true" ></span> Duplicate </a>
                        </li>
                        <li class="inline">
                            <a href="{{ path('admin_revue_delete_element', { 'id': revue.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                        </li>
                    </ul>
                </td>
               </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="list-unstyled action">
        <li >
            <a href="{{ path('admin_revue_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouveau Revue</a>
        </li>

    </ul>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function() {
            $('#revues').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "pageLength": 10,
                "order": [[ 5, 'desc' ]]
            });
        } );
        function duplicateList(){
            var messageConfirm ="Voulez vous vraiement le dupliquer?";
            if(confirm( messageConfirm )){
                return true;
            }else{
                return false;
            }
        }
    </script>

{% endblock %}
