{% extends 'base.admin.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' 'jquery.collection.html.twig' %}

{% block body %}
    <style type="text/css">
        #App_revue_linkCalameo{
            width: 50%;
        }
    </style>
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><a href="{{ path('admin_revue_index') }}">Liste Revue</a></li>
        <li class="active">Nouveau Revue</li>
    </ol>
    <h1>Nouveau Revue</h1>

    {{ form_start(form) }}
    <div class="row">
        <ul class="nav nav-tabs nav-article">
            <li class="nav-item active">
                <a class="nav-link active" href="#tab1" aria-expanded="true" data-toggle="tab">Contenus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab5" data-toggle="tab">Descriptif</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" data-toggle="tab">Images</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab3" data-toggle="tab">Pdf</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab4" data-toggle="tab">Sommaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab7" data-toggle="tab">Calameo</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="form-group">
                    {{ form_label(form.numero) }}
                    <div class="col-sm-5">{{ form_widget(form.numero) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.titre) }}
                    <div class="col-sm-5">{{ form_widget(form.titre) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.slug) }}
                    <div class="col-sm-5">{{ form_widget(form.slug) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.tarif) }}
                    <div class="col-sm-5">{{ form_widget(form.tarif) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.dateCreation) }}
                    <div class="col-sm-5">{{ form_widget(form.dateCreation) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.isCheck) }}
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(form.isCheck) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.active) }}
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(form.active) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="tab5">
                <div class="form-group">
                    {{ form_label(form.descriptif) }}
                    <div class="col-sm-9">{{ form_widget(form.descriptif) }}</div>
                </div>

            </div>
            <div class="tab-pane" id="tab2">
                <div class="form-group">
                    {{ form_label(form.imageFile) }}
                    <div class="col-sm-9">{{ form_widget(form.imageFile) }}</div>
                </div>

            </div>
            <div class="tab-pane" id="tab3">
                <div class="form-group">
                    {{ form_label(form.pdfFile) }}
                    <div class="col-sm-9">{{ form_widget(form.pdfFile) }}</div>
                </div>

            </div>
            <div class="tab-pane" id="tab4">
                <div class="form-group">
                    {{ form_label(form.sommaire) }}
                    <div class="col-sm-9">{{ form_widget(form.sommaire) }}</div>
                </div>

            </div>

            <div class="tab-pane" id="tab7">
                <div class="form-group">
                    {{ form_label(form.linkCalameo) }}
                    <div class="col-sm-9">{{ form_widget(form.linkCalameo) }}</div>
                </div>

            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Valider" class="btn btn-primary" />

        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.my-selector').collection();

    </script>
{% endblock %}
