{% extends 'base.html.twig' %}

{% block body %}
    <h1>Revue</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ revue.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ revue.titre }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ revue.descriptif }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ revue.image }}</td>
            </tr>
            <tr>
                <th>Document</th>
                <td>{{ revue.document }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ revue.tarif }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if revue.updatedAt %}{{ revue.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_revue_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_revue_edit', { 'id': revue.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
