{% extends "base-externe.html.twig" %}

{% block title %}Mes Revues - {{ parent() }}{% endblock %}
{% block description %}Mes Revues - {{ parent() }}{% endblock %}

{% block ariane %}
  <div class="fil-ariane no-margin">
    <h1>Mes revues en ligne</h1>
  </div>
{% endblock ariane %}


{% block body %}
    <div class="row">
    <div class="hidden fil-ariane"><h1>Mes revues en ligne</h1></div>
    {% if dateRevue %}
    <div id="carousel-date-revue" class="carousel slide" data-ride="carousel" data-interval="false" >

        <div class="carousel-inner">

          {% for unDate in dateRevue %}
              <div class="carousel-item {% if unDate == anneeActive %}active{% endif %}">
              {{ unDate }}

            </div>
          {% endfor %}

        </div>

        {% if anneePrevious and anneePrevious !="" %}
          <a class="carousel-control-prev" href="{{ path("liste_revues_annee",{"annee":anneePrevious}) }}" role="button" data-slide="prev" title="Mes revues {{ anneePrevious }}">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        {% endif %}

        {% if anneeNext and anneeNext !="" %}
          <a class="carousel-control-next" href="{{ path("liste_revues_annee",{"annee":anneeNext}) }}" role="button" data-slide="next" title="Mes revues {{ anneeNext }}">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        {% endif %}
    </div>
      {% endif %}
      <div class="separation"></div>
      <div class="liste-revue">
        {% if revues %}

          {% for unRevue in revues %}
            {% if unRevue.dateCreation|date("Y") == anneeActive %}
              <div class="row unRevue">
                <div class="col-lg-3 text-center col-4 order-1 order-lg-1">
                  {% if unRevue.image %}

                      <img src="{{ asset("uploads/images/revue/"~unRevue.image) }}" alt="{{ unRevue.titre }}" class="img-responsive revue-illustration">

                  {% endif %}
                </div>
                <div class="col-lg-7 col-12 order-3 order-lg-2 content-revue-box">
                  <h2 class="mobile-hide">{{ unRevue.titre }} </h2>
                  <p>{{ unRevue.descriptif|raw }}</p>
                </div>
                <div class="col-lg-2 text-center order-2 order-lg-3 col-8 downPdf">
                  <h2 class="desktop-hide">{{ unRevue.titre }} </h2>
                    {% if unRevue.linkCalameo %}
                        <a href="{{ path('revue_fiche_lecture', {'slug': unRevue.slug }) }}">
                            <img src="{{ asset("images/pdf-icon.jpg") }}" alt="pdf icon">
                        </a>
                  {% elseif unRevue.document %}
                    <a href="{{ asset("uploads/pdf/revue/"~unRevue.document) }}" target="_blank">
                      <img src="{{ asset("images/pdf-icon.jpg") }}" alt="pdf icon">
                    </a>
                  {% endif %}
                </div>
              </div>

              {% if loop.last %}

              {% else %}
                <div class="separation"></div>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}


      </div>

        {% if dateRevue %}
            <div id="carousel-date-revue" class="carousel slide" data-ride="carousel" data-interval="false" >

                <div class="carousel-inner">

                    {% for unDate in dateRevue %}
                        <div class="carousel-item {% if unDate == anneeActive %}active{% endif %}">
                            {{ unDate }}

                        </div>
                    {% endfor %}

                </div>

                {% if anneePrevious and anneePrevious !="" %}
                    <a class="carousel-control-prev" href="{{ path("liste_revues_annee",{"annee":anneePrevious}) }}" role="button" data-slide="prev" title="Mes revues {{ anneePrevious }}">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                {% endif %}

                {% if anneeNext and anneeNext !="" %}
                    <a class="carousel-control-next" href="{{ path("liste_revues_annee",{"annee":anneeNext}) }}" role="button" data-slide="next" title="Mes revues {{ anneeNext }}">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                {% endif %}
            </div>
        {% endif %}


  </div>


{% endblock %}
