{% extends "base-externe.html.twig" %}

{% block title %}{{ revue.titre }} - {{ parent() }} - Calameo{% endblock %}
{% block description %}{{ revue.descriptif }} - Calameo{% endblock %}

{% block ariane %}

{% endblock ariane %}


{% block body %}
    <div class="fil-ariane no-margin">
        <h1>{{ revue.titre }}</h1>
    </div>
    <div class="row">
      <div class="liste-revue col-lg-12">

          <p>{{ revue.descriptif|raw }}</p>

          <div class="resume-content">
              <iframe src="{{ revue.linkCalameo }}" style="width:100%;height:600px" scrolling="no" allowtransparency="" allowfullscreen="" width="100%" height="550" frameborder="0"></iframe>

          </div>

      </div>




  </div>


{% endblock %}
