{% extends 'base.html.twig' %}

{% block title %}{{ revue.titre }} - {{ parent() }}{% endblock %}
{% block description %}{{ revue.descriptif }}{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/home.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
        <link href="{{ asset('css/podcast.css')}}" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <style type="text/css">
              .sommaire p{
                    margin-bottom:0;
                }
              .couverture img{
                     width: auto;
                  }
              [v-cloak] { display: none; }
        </style>      
    {% endblock %}

    {% block body %}
        <div id="app">
            <input type="hidden" id="user" name="user" value="{{ app.user }}" />
            <div class="content col-lg-12" v-cloak>
                <div class="row row-main">
                    <div class="col-lg-12 fixed-top_sub">
                        {% include 'main/Index/_top_sub.html.twig' %}
                    </div>
                    <div class="col-lg-2 left-width">
                        <div class="row">
                            <div class="sidebar-filter collapse" id="sidebar-filter">
                                {#{% include 'main/Index/_share_buttons.html.twig' %}#}
                                {% include 'main/Index/_categorie_list.html.twig' %}

                                {% include 'main/Index/_type_list.html.twig' %}
                                <agenda-lateral :agendas="agendas" :is-authenticated="isAuthenticated"></agenda-lateral>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="row">
                            <div class="content-box col-12">

                                <div class="row content-box top-revue-box">
                                    <div class="col-lg-6 couverture text-center">
                                        <img src="{{ asset("uploads/images/revue/"~revue.image) }}" alt="{{ revue.titre }}">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="sommaire">
                                                <h2>Sommaire</h2>
                                                {% if revue.sommaire %}
                                                    <ul>
                                                        {% for un_sommaire in  revue.sommaire %}
                                                            <li>{{ un_sommaire.titre|raw }}</li>
                                                        {% endfor %}

                                                    </ul>
                                                {% endif %}
                                            
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                {% include 'main/Index/_article_list.html.twig' %}

                                <!--inter-article-->

                                <!--.inter-article-->


                                <transition name="custom-classes-transition"
                                            leave-active-class="animated fadeIn"
                                            leave-active-class="animated fadeOut">
                                    <div class="more-article" v-if="showButtonMoreArticles">
                                        <a class="btn btn-more" @click="getMoreArticles">Plus d'articles</a>
                                    </div>
                                </transition>
                                <div class="loading text-center" v-if="showLoading">
                                    <img src="{{ asset("images/load.gif") }}" alt="loading" width="100px">
                                </div>
                                

                            </div>


                        </div>
                    </div>

                    <div class="col-lg-3 sidebar-droite">
                        {% include 'main/Index/_right.html.twig' %}
                    </div>

                </div>

            </div>

            <videos :videos="videos" :user="user"></videos>

            {% include 'main/Index/_popup_premium.html.twig' %}


        </div>
    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- VueJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/fr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-fontawesome@0.0.2/lib/vue-fontawesome.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="{{ asset('assets/js/vue-filter/custom_filters.js')}}"></script>
    <script src="{{ asset('assets/js/vue-component/reading-progress.js')}}?{{ "now"|date("m-d-Y h:s") }}"></script>
    <script src="{{ asset('assets/js/vue-component/categorie-tree.js')}}"></script>
    <script src="{{ asset('assets/js/vue-component/agenda-lateral.js')}}"></script>
    <script src="{{ asset('assets/js/vue-component/agenda-linear.js')}}"></script>
    <script src="{{ asset('assets/js/vue-component/breves.js')}}"></script>
    <script src="{{ asset('assets/js/vue-component/videos.js')}}"></script>
    <script>
        new WOW().init();
        var base_url = "{{ base_url }}";
        var api_base_url = "{{ api_base_url }}";
        var articlesFirstBatch = {{ articles | serialize('json') | raw }};
        var categoriesFirstBatch = {{ categories | serialize('json') | raw }};

        {% if articlesUne %}
        var frontPageArticle = {{ articlesUne | raw }};
        {% else %}
        var frontPageArticle = false;
        {% endif %}

        {% if firstArticle is defined %}
        var firstArticle = {{ firstArticle | serialize('json') | raw }};
        {% else %}
        var firstArticle = false;
        {% endif %}

        var disableRedirections = false;

        {% if hideUnesBloc is defined %}
        var hideUnesBloc = {{ hideUnesBloc | serialize('json') | raw }};
        {% else %}
        var hideUnesBloc = false;
        {% endif %}

        var eventsTop = {{ eventsTop | raw }};
        var bref = {{ bref | raw }};
        {% if videosLatest is defined %}
        var videosLatest = {{ videosLatest | raw }};
        {% else %}
        var videosLatest = false;
        {% endif %}
        var tagHome = {{ tagHome | serialize('json') | raw }};

        {% if agenda is defined %}
        var agendas = {{ agenda | raw }};
        {% else %}
        var agendas = false;
        {% endif %}

        //credit to @Bill Criswell for this filter
        Vue.filter('truncate', function (text, stop, clamp) {
            return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
        })
        Vue.filter('stripTags', function (text) {
            return text.replace(/(<([^>]+)>)/ig, '');
        })

        var IdRevue = {{ revue.id }};

        var categoryFiteredID = "";

        var categorieParentID = "";

        var tagSlug = "";

        var search = "";

        var home = "";

        var curentUrl = "{{ path('revue_fiche',{'slug':revue.slug}) }}";

        $( document ).ready(function() {
            $('.sommaire ul li a').click(function() {

                var url = $(this).attr('href');
                var tabUrl = url.split('/');

                var slug = tabUrl[(tabUrl.length-1)];

                for (var i=0; i<articlesFirstBatch.length;i++){

                    if (slug === articlesFirstBatch[i].slug) {
                        $('html, body').animate({
                            scrollTop: $("#id_"+articlesFirstBatch[i].id).offset().top -200
                        }, 1000);

                        return false;
                        //showFullContent(articlesFirstBatch[i]);
                    }
                }

                return false;
            });

        });

    </script>

    <script src="{{ asset('js/home.js')}}?{{ "now"|date("m-d-Y h:s") }}"></script>
    <script src="{{ asset('js/inte.js')}}"></script>
    <script src="{{ asset('js/podcast.js')}}?{{ "now"|date("m-d-Y h:s") }}"></script>
    <script src="{{ asset('js/commentaire.js')}}"> </script>
{% endblock %}
