{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bref</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bref.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ bref.titre }}</td>
            </tr>
            <tr>
                <th>Datepublication</th>
                <td>{% if bref.datePublication %}{{ bref.datePublication|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_bref_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_bref_edit', { 'id': bref.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
