/*.content-preview {
  cursor: pointer;
}
.content-preview .content-preview_header,
.content-preview .content-preview_content,
.content-preview .content-preview_image {
  overflow: hidden;
}
.content-wrap .content-wrap_header .content-wrap_header_title {
  cursor: pointer;
}
.content-wrap_content {
  overflow: hidden;
}
.category-selected {
  color: #ccc;
}*/
/*.content-preview_image figure {
  position: relative;
  width: 100%;
}
.content-preview_image figure img {
  width: 100%;
}
.content-preview_image figure figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18%;
  height: 25px;
  background: #fff;
  padding: 0 10px;
}
.content-preview_image figure figcaption i {
  color: #a5a5a5;
  font-size: 25px;
}
.content-preview_image figure .premium-picto {
  position: absolute;
  bottom: 0;
  right: 18%;
  background: #007bff;
  width: 120px;
  height: 25px;
  padding: 3px 15px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}




.articles-top-aside {
  margin-top: 10px;
}
.articles-top_right {
  margin: 0 0 25px 0;
}
.tags-article .tags {
  display: flex;
  justify-content: flex-start;
}
*/
