<transition name="scroll-down" >
    <div class="content-wrap article-content-wrap no-marge" v-if="article.fullContent">
        <div class="row big-article">
            <div class="content-wrap_header col-xs-12 col-sm-11 col-lg-11">
                <header>
                    <p class="hidden" v-if="article.premium">
                        <span class="label-premium mobile-label">PREMIUM</span>
                    </p>

                    <h3 class="content-wrap_header_title" @click="hideFullContent(article)">
                        <% article.titre %>
                    </h3>


                </header>
            </div>

            <div class="col-12 desc-article">
                <div class="row row-desc-article">
                    <p>
                        <span class="label-premium premium-label mobile-label" v-if="article.premium"> PREMIUM </span>

                        <span class="label-type-article" v-if="article.type">
                                <% article.type %> 
                                    -
                                    </span>
                        <span class="label-date-article">
                                    <% article.datePublication | formatDate %> écrit par
                                        </span>
                        <span class="label-author-article" v-if="article.type">
                                        <% article.auteur %>
                                            </span>
                        <span class="label-date-article" v-if="article.date_publication">-
                                            <% article.datePublication | formatDate %>
                                                </span>
                        <span class="comment-new2 class-call-comment" id="span-call" onclick="document.getElementById('CommentSidenav').classList.toggle('width-sidenav');"><!--<img src="{{ asset('images/icon-comment.png')}}" class="img-icon-comment" >--><span class="nbComment" v-if="article.comments.length ==0 " >&nbsp;</span><span class="nbComment" v-if="article.comments.length>0" v-html="article.comments.length"></span> Commentaire<span v-if="article.comments.length>1">s</span></span>
                    <div class="share-buttons-in-article mobile-rs">
                        <ul class="ul-btn">
                            <li>
                                <a class="rs twitter clicktwitter"
                                   target="_blank"
                                   :href="'https://twitter.com/share?text='+article.titre+'&url=https://www.laprofessioncomptable.com/article/'+article.categorie.slug+'/'+article.slug+'&hashtags=laprofessioncomptable&via=LaProfComptable'"
                                   data-size="large"
                                   :data-text="article.titre"
                                   data-hashtags="laprofessioncomptable"
                                   data-via="@LaProfComptable"
                                >
                                    <span class="twitter-ico"></span>
                                </a>
                            </li>
                            <li>
                                <a :href="'http://www.linkedin.com/shareArticle?mini=true&url=https://www.laprofessioncomptable.com/article/'+article.categorie.slug+'/'+article.slug+'&title='+article.titre+'&source=@LaProfComptable'" target="_blank" class="rs linkedin clicklinkedin">
                                    <span class="linkedin-ico"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </p>

                    <span class="icon-comment-new class-call-comment" id="span-call" onclick="document.getElementById('CommentSidenav').classList.toggle('width-sidenav');"><!--<img src="{{ asset('images/icon-comment.png')}}" class="img-icon-comment" >--><span class="nbComment" v-if="article.comments.length ==0 " >&nbsp;</span><span class="nbComment" v-if="article.comments.length>0" v-html="article.comments.length"></span> Commentaire<span v-if="article.comments.length>1">s</span></span>


                </div>
            </div>

            <div class="content-wrap_content col-12">
                <div class="crop mb-4" v-if="article.image && !article.videoArticle">
                    <img :src="'{{ asset('uploads/images/articles/') }}' + article.image" alt="">
                </div>

                <div class="crop mb-4" v-if="article.videoArticle">
                    <iframe
                            :src="article.videoArticle.lien | transformVideoUrl"
                            width="640"
                            height="360"
                            frameborder="0"
                            webkitallowfullscreen
                            mozallowfullscreen
                            allowfullscreen>
                    </iframe>
                </div>

                <div class="resume-content" v-html="article.resume"></div>
                <div class="pcast-player" v-if="article.podcast">
                    <div class="pcast-player-controls">
                        <button class="pcast-play" :onclick="'playAudio('+article.id+');'"><i class="fa fa-play"></i><span>Play</span></button>
                        <button class="pcast-pause" style="display: none;" ><i class="fa fa-pause"></i><span>Pause</span></button>
                        <button class="pcast-rewind" ><i class="fa fa-fast-backward"></i><span>Rewind</span></button>
                        <span class="pcast-currenttime pcast-time">00:00</span>
                        <progress class="pcast-progress" value="0"></progress>
                        <span class="pcast-duration pcast-time">00:00</span>
                        <button class="pcast-speed">1x</button>
                        <button class="pcast-mute" style="display: none;"><i class="fa fa-volume-up"></i><span>Mute/Unmute</span></button>
                    </div>
                    <audio :id="'audio_'+article.id" :src="'{{ asset('uploads/podcast/') }}' + article.podcast" ></audio>

                </div>

                <div class="resume-content" v-if="article.linkCalameo">
                    <iframe :src="article.linkCalameo" style="width:100%;height:550px" scrolling="no" allowtransparency="" allowfullscreen="" width="100%" height="550" frameborder="0"></iframe>

                </div>
                <section class="article-content_box" v-html="article.contenu"></section>

                <div class="rs-n-date">
                    <div class="aut-and-date">
                        <p>Ecrit par
                            <strong><% article.auteur %></strong>
                            - <% article.datePublication | formatDate %>
                        </p>
                    </div>
                    <div class="rs-box-article">
                        <div class="ouvrir">
                            <span class="ouvrir-img"></span>
                        </div>
                        <div class="share-buttons-in-article">
                            <ul class="content-ul-share">
                                <li>
                                    <a class="rs twitter clicktwitter"
                                       target="_blank"
                                       :href="'https://twitter.com/share?text='+article.titre+'&url=https://www.laprofessioncomptable.com/article/'+article.categorie.slug+'/'+article.slug+'&hashtags=laprofessioncomptable&via=LaProfComptable'"
                                       data-size="large"
                                       :data-text="article.titre"
                                       data-hashtags="laprofessioncomptable"
                                       data-via="@LaProfComptable"
                                    >
                                        <span class="twitter-ico"></span>
                                    </a>
                                </li>
                                <li>
                                    <a :href="'http://www.linkedin.com/shareArticle?mini=true&url=https://www.laprofessioncomptable.com/article/'+article.categorie.slug+'/'+article.slug+'&title='+article.titre+'&source=@LaProfComptable'" target="_blank" class="rs linkedin clicklinkedin">
                                        <span class="linkedin-ico"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <section class="tags-article" v-if="article.tags.length > 0">
                    <div class="tags">
                        <span class="icon-tag"><img src="{{ asset('/images/ico-tag.svg') }}" alt=""></span>
                        <span v-for="tag in article.tags"><a :href="'/tag/'+tag.slug"> <% tag.nom %></a></span>
                    </div>
                </section>

                <div class="container-btn-comment text-center">
                    <a href="javascript:void(0)" class="btn btn-primary btn-post-comment class-call-comment" onclick="document.getElementById('CommentSidenav').classList.toggle('width-sidenav');" >Lire les commentaires</a>
                </div>


                <!-- Rigth Sidebar List commentaire -->

                <div id="CommentSidenav" class="sidenav-comment">

                </div>

                <!-- End Rigth Sidebar List commentaire -->

            </div>
        </div>

        <div class="widget-wrapper" :id="'widget-wrapper'+article.id">

            <div class="mobile-hide">
                <reading-progress radius="26"
                                  v-bind:next-element-selector="getNextArticleElementSelector(article)"
                                  @click="hideFullContent(article)"
                                  v-on:end-of-scroll="handleEndOfScroll(article)"
                                  :current-article-url="currentArticleUrl"
                                  :article="article" >
                </reading-progress>
            </div>
            <div class="desktop-hide deplace">
                <reading-progress radius="18"
                                  v-bind:next-element-selector="getNextArticleElementSelector(article)"
                                  @click="hideFullContent(article)"
                                  v-on:end-of-scroll="handleEndOfScroll(article)"
                                  :current-article-url="currentArticleUrl"
                                  :article="article" >
                </reading-progress>
            </div>
        </div>
    </div>


</transition>

