<div class="listing-article">
  <transition-group name="custom-classes-transition"
                    leave-active-class="animated fadeOut">

    <article :class="'article-section ' + (article.front ? 'front-article' : '')"
             v-for="(article, index) in articles"
             :article-id="article.front ? '' : article.id"
             :key="index + 1"
             :id="'article-' + (article.front ? 'front-' : 'front-') + article.id" >
      
      {#<template v-if="index != 0 && !article.front && ((index - 3) / 7) == 1">#}
        <template v-if="index != 0 && ((index - 3) / 7) == 1">

        <agenda-linear :events="events"  :is-authenticated="isAuthenticated"></agenda-linear>
      </template>

      {#<hr v-if="index != 0 && !article.front">#}

      {% include 'main/Index/_list_content.html.twig' %}
      {% include 'main/Index/_article_content.html.twig' %}

    </article>

    <article :key="0" class="form-group article" id="after-last-article"></article>
  </transition-group>
</div>

