<transition name="custom-classes-transition"
            enter-active-class="animated fadeIn"
            :duration="{enter: 500}">
<div class="form-group" v-if="!articleShow && !hideUnesBloc">
  <div class="articles-top row1">
    <div class="col-lg-12">

    </div>
    <div class="col-lg-8 articles-top-aside0">
      <div class="row1">
        <div class="articles-top_header col-12 order-1 order-lg-1">
          <header v-if="articlesTop[0].article">
            <div class="row1">         
              <h3 class="col-12 order-1 order-lg-1 articles-top_header_title"
                  @click="showFullContent(articlesTop[0].article, $event)"
                  style="cursor:pointer">
                <% articlesTop[0].article.titre %>
              </h3>
              <p class="col-12 order-1 order-lg-2">
                <span class="label-author-article" v-if="articlesTop[0].article.auteur">
                  Par <% articlesTop[0].article.auteur %> -
                </span>
                <span class="label-type-article" v-if="articlesTop[0].article.auteur">
                  <% articlesTop[0].article.type %>
                </span>
                <span v-if="articlesTop[0].article.premium" class="premium-icon-star">
                  <i class="fas fa-star"></i>
                </span>
              </p>
            </div>
          </header>
        </div>
        <div class="col-12 img-cover order-1 order-lg-2" v-if="articlesTop[0].article.image && !articlesTop[0].article.videoArticle">
          <img :src="'{{ asset('uploads/images/articles/') }}' + articlesTop[0].article.image">
        </div>
        <div class="col-12 img-cover order-1 order-lg-2" v-if="articlesTop[0].article.premium && articlesTop[0].article.thumbnails && !user">
          <img :src="'{{ asset('uploads/images/articles/thumbnails/') }}' + articlesTop[0].article.thumbnails">
        </div>
        <div class="col-12 crop mb-4 order-1 order-lg-2" v-if="articlesTop[0].article.videoArticle && articlesTop[0].article.premium && user">
          <iframe
                  :src="articlesTop[0].article.videoArticle.lien | transformVideoUrl"
                  width="640"
                  height="360"
                  frameborder="0"
                  webkitallowfullscreen
                  mozallowfullscreen
                  allowfullscreen>
          </iframe>

        </div>
        <div class="col-12 crop mb-4 order-1 order-lg-2" v-if="articlesTop[0].article.videoArticle && !articlesTop[0].article.premium">
          <iframe
                  :src="articlesTop[0].article.videoArticle.lien | transformVideoUrl"
                  width="640"
                  height="360"
                  frameborder="0"
                  webkitallowfullscreen
                  mozallowfullscreen
                  allowfullscreen>
          </iframe>

        </div>     
      </div>
    </div>

    <div class="col-lg-4 articles-top-aside">
      <div v-for="(articleTop, index) in startFrom(articlesTop, 1)"
           class="articles-top_right"
           :key="index"
           @click="showFullContent(articleTop.article, $event)"
           v-if="articleTop.article"
           style="cursor:pointer">
        <div>
          <h6 class="articles-top_right_title"><% articleTop.article.titre %></h6>
          <p>
          <span class="label-author-article" v-if="articleTop.article.auteur">
            Par <% articleTop.article.auteur %> -
          </span>
          <span class="label-type-article" v-if="articleTop.article.type">
            <% articleTop.article.type %>
          </span>
            <span v-if="articleTop.article.premium" class="premium-icon-star">
            <i class="fas fa-star"></i>
          </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</transition>

