{% extends 'main/Boutique/base.html.twig' %}

{% block title %}{{ article.titre |striptags| raw  }} | La profession comptable{% endblock %}
{% block description %}{{ article.resume |striptags | raw  }}{% endblock %}
{% block robots %}{{ parent() }}{% endblock %}

    {% block stylesheets %}

            <meta name="twitter:card" content="summary" />
            <meta name="twitter:description" content="{{ article.resume |striptags | raw  }}" />
            <meta name="twitter:title" content="{{ article.titre |striptags| raw  }} | La profession comptable" />
            <meta name="twitter:site" content="@LaProfComptable" />
            {% if article.image is not null  %}
                <meta name="twitter:image" content="https://www.laprofessioncomptable.com/uploads/images/articles/{{ article.image  }}" />
            {% elseif article.videoArticle %}
                {% if article.videoArticle.type == "Vimeo" %}
                    <meta name="twitter:player" content="{{ article.videoArticle.lien | replace({'https://vimeo.com/':'https://player.vimeo.com/video/'}) }}" />
                {% else %}
                    <meta name="twitter:player" content="{{ article.videoArticle.lien }}" />
                {% endif %}

            {% endif %}
            <meta name="twitter:creator" content="@LaProfComptable" />
            <meta property="og:locale" content="fr_FR" />
            <meta property="og:type" content="article" />
            <meta property="og:title" content="{{ article.titre |striptags| raw  }} | La profession comptable" />
            <meta property="og:description" content="{{ article.resume |striptags | raw  }}" />
            <meta property="og:url" content="{{ app.request.uri }}" />
            {% if article.image is not null  %}
                <meta property="og:image" content="https://www.laprofessioncomptable.com/uploads/images/articles/{{ article.image  }}" />
                <meta property="og:image:secure_url" content="https://www.laprofessioncomptable.com/uploads/images/articles/{{ article.image  }}" />
                <meta property="og:image:width" content="650" />
                <meta property="og:image:height" content="440" />
            {% endif %}
            <meta property="og:site_name" content="LaProfComptable" />
            <meta property="og:updated_time" content="{{ "now"|date("Y-m-d\\TH:i:sP") }}" />
<style type="text/css">
    .content-box .listing-article .row-article:after{
        background-color:#ffffff;
    }
</style>

    {% endblock %}

{% block boutique_content %}
  <div class="content-box col-12 boutique top-mobile">

      <h1 class="alert alert-danger" style="font-size:14px;"><a href="/login?urltoredirect={{ app.request.uri }}" >Connectez-vous</a> pour accéder au contenu ou abonnez-vous pour profiter des contenus réservés en <a href="{{ path('front_boutique') }}">cliquant ici</a>.</h1>
      <div class="listing-article">
          <div class="row-article" onclick="return showAlert();">
              <div class="inner-article-box">
                  <div class="row content-preview small-article">
                      <div class="col-lg-4 col-6 order-2 order-lg-1 order-lg-first mobile-no-padd">
                          <div class="bloc-titre">
                              <div class="auteur">
                                  Par {{ article.auteur }} - <span class="type">{{ article.type }}</span>
                                  <span class="premium-icon-star">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                              <h3>{{ article.titre }}</h3>
                          </div>
                      </div>

                      <div class="col-lg-4 order-3 order-lg-2">
                          <div class="bloc-chapeau">
                              <span > {{ article.resume | raw }}</span>
                          </div>
                      </div>

                      <div class="col-lg-4 order-1 col-6 order-lg-3">
                          <div class="bloc-thumb">
                              {% if article.image  %}
                              <div class="bloc-img">
                                  <img src="/uploads/images/articles/{{ article.image }}" />

                                  <div class="etiquete">
                                      <span class="type">PREMIUM</span>

                                  </div>
                              </div>
                              {% elseif article.thumbnails %}
                                  <div class="bloc-img">
                                      <img src="/uploads/images/articles/thumbnails/{{ article.thumbnails }}" />

                                      <div class="etiquete">
                                          <span class="type">PREMIUM</span>

                                      </div>
                                  </div>
                              {% endif %}

                              {#<div class="bloc-img" v-if="article.thumbnails && article.premium && !user">
                                  <img :src="'{{ asset('uploads/images/articles/thumbnails/') }}' + article.thumbnails"/>

                                  <div class="etiquete">
                                      <span class="type" v-if="article.premium">PREMIUM</span>

                                  </div>
                              </div>#}
                          </div>
                      </div>
                  </div>

              </div>

          </div>

    {% include 'main/Boutique/_abonnement_prime.html.twig' %}

  </div>

{% endblock boutique_content %}
{% block javascripts %}
    {{ parent() }}
  <script type="text/javascript">
      $(document).ready(function () {
          let isMobile = window.matchMedia("only screen and (max-width: 760px)");
          if (isMobile.matches) {
              $('#panier-wrapper').hide();
          }
      });

      function showAlert() {
          var popupPremium = document.getElementById('popup-premium');
          popupPremium.classList.remove('fade');
          popupPremium.classList.add('open-popup-premium');
          $("#popup-premium .inverted").attr("href", "/login?urltoredirect={{ app.request.uri }}");
          $('.fixed-top_sub').css('display', 'none');
          return;
      }
  </script>

{% endblock javascripts %}

