<div class="navigation-left">
  <div class="close-sidebar"></div>
  <ul class="cat_menu">

    <transition-group name="categories-transition"
                      enter-active-class="animated fadeIn"
                      leave-active-class="animated fadeOut">
      <categorie-tree v-for="categorie in categories"
                      :key="categorie.id"
                      :depth="0"
                      :categorie="categorie"
                      :click-handler="filterByCategory"
                      :class="{ active: (categoryFiteredID === categorie.id || categorieParentID === categorie.id)  }"
                      :id="'id_cat_'+categorie.id"
                      >
      </categorie-tree>
    </transition-group>
  </ul>
</div>
