<div class="footer-elements">
    <div class="share-btn order-2 order-lg-1">
        {{ render(controller(
            'App\\Controller\\Main\\IndexController::shareButtonAction',
            { 'position': 'bas' }
        )) }}

    </div>

  <div class="copyright order-1 order-lg-2">
    <p>© Copyright CPC - Tous droits réservés</p>
  </div>
  <div class="link-use mobile-hide order-3">
      {{ render(controller(
          'App\\Controller\\Main\\IndexController::menuFooterAction'
      )) }}

  </div>
</div>