<transition name="custom-classes-transition"
            enter-active-class="animated fadeIn"
            :duration="{enter: 500}">
  <div class="row-article" :id="'id_'+article.id">
    <div class="inner-article-box">
      <div class="row content-preview small-article"
           v-if="!article.fullContent && !article.front"
           @click="showFullContent(article, $event)">

        <div class="col-lg-4 col-6 order-2 order-lg-1 order-lg-first mobile-no-padd">
          <div class="bloc-titre">
            <div class="auteur">
              Par <% article.auteur %> - <span class="type"><% article.type %></span>
              <span v-if="article.premium" class="premium-icon-star">
              <i class="fas fa-star"></i>
            </span>
            </div>
            <h3><% article.titre %></h3>
          </div>
        </div>

        <div class="col-lg-4 order-3 order-lg-2">
          <div class="bloc-chapeau">
            <span v-html="article.resume"></span>
          </div>
        </div>

        <div class="col-lg-4 order-1 col-6 order-lg-3">
          <div class="bloc-thumb">
            <div class="bloc-img" v-if="article.image && !article.videoArticle">
              <a :href="'/article/'+article.categorie.slug+'/'+article.slug+''"> <img :src="'{{ asset('uploads/images/articles/') }}' + article.image"/></a>

              <div class="etiquete">
                <span class="type" v-if="article.premium">PREMIUM</span>
                <figcaption v-if="article.type === 'Podcasts'"><img src="{{ asset("images/podcast.svg") }}" alt=""></figcaption>
                <figcaption v-if="article.type === 'Vidéos'"><img src="{{ asset("images/video.svg") }}" alt=""></figcaption>
                <figcaption v-if="article.type === 'Articles'"><img src="{{ asset("images/article.svg") }}" alt=""></figcaption>
                <figcaption v-if="article.type === 'Événements'"><img class="invert" src="{{ asset("images/event.svg") }}" alt=""></figcaption>
              </div>
            </div>

            <div class="bloc-img" v-if="article.videoArticle && !article.premium">
              <div class="video-responsive">             
                <iframe width="218" height="123"
                        :src="article.videoArticle.lien | transformVideoUrl"
                        frameborder="0"
                        webkitallowfullscreen
                        mozallowfullscreen
                        allowfullscreen>
                </iframe>
              </div>

              <div class="etiquete">
                <span class="type" v-if="article.premium">PREMIUM</span>
                <figcaption v-if="article.type === 'Podcasts'"><img src="{{ asset("images/podcast.svg") }}" alt=""></figcaption>
                <figcaption v-if="article.type === 'Vidéos'"><img src="{{ asset("images/video.svg") }}" alt=""></figcaption>
                <figcaption v-if="article.type === 'Articles'"><img src="{{ asset("images/article.svg") }}" alt=""></figcaption>
                <figcaption v-if="article.type === 'Événements'"><img class="invert" src="{{ asset("images/event.svg") }}" alt=""></figcaption>
              </div>
            </div>

            <div class="bloc-img" v-if="article.thumbnails && article.premium && !user">
              <img :src="'{{ asset('uploads/images/articles/thumbnails/') }}' + article.thumbnails"/>

              <div class="etiquete">
                <span class="type" v-if="article.premium">PREMIUM</span>
                <figcaption v-if="article.type === 'Podcasts'"><img src="{{ asset("images/podcast.svg") }}" alt=""></figcaption>
                <figcaption v-if="article.type === 'Vidéos'"><img src="{{ asset("images/video.svg") }}" alt=""></figcaption>
                <figcaption v-if="article.type === 'Articles'"><img src="{{ asset("images/article.svg") }}" alt=""></figcaption>
                <figcaption v-if="article.type === 'Événements'"><img class="invert" src="{{ asset("images/event.svg") }}" alt=""></figcaption>
              </div>
            </div>

            <div class="bloc-img bloc-img-video" v-if="article.videoArticle && article.premium && user">
              <div class="video-responsive">  
                <iframe width="218" height="123"
                        :src="article.videoArticle.lien | transformVideoUrl"
                        frameborder="0"
                        webkitallowfullscreen
                        mozallowfullscreen
                        allowfullscreen>
                </iframe>
              </div>
              <div class="etiquete">
                <span class="type" v-if="article.premium">PREMIUM</span>
                <figcaption v-if="article.type === 'Podcasts'"><img src="{{ asset("images/podcast.svg") }}" alt=""></figcaption>
                <figcaption v-if="article.type === 'Vidéos'"><img src="{{ asset("images/video.svg") }}" alt=""></figcaption>
                <figcaption v-if="article.type === 'Articles'"><img src="{{ asset("images/article.svg") }}" alt=""></figcaption>
                <figcaption v-if="article.type === 'Événements'"><img class="invert" src="{{ asset("images/event.svg") }}" alt=""></figcaption>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
</transition>
