<div id="popup-premium" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" @click.prevent="closePremiumModal">&times;</button>
        <div class="premium-icon-lock"><img src="{{ asset('/images/premium.png') }}" alt=""></div>
        <div class="premium-title"><span>Cet article est réservé aux abonnées PREMIUM.</span></div>
        <p class="premium-explain">Si vous souhaitez le consulter, </br> veuillez vous connectez ou vous abonnez.</p>
        <div class="premium-buttons">
          <a href="/login" class="btn inverted" >Je me connecte</a>
          <a href="{{ path('front_boutique_add_to_cart', {'produit': 3}) }}" class="btn" >Je m'abonne</a>
        </div>
      </div>
    </div>
  </div>
</div>

