{{ render(controller(
    'App\\Controller\\Main\\CommunController::newsletterAction',
    {'uri': app.request.uri, 'desktop': 'computer' }

)) }}

{{ render(controller(
    'App\\Controller\\Main\\CommunController::downloadPdfAction',
    {'uri': app.request.uri, 'desktop': 'computer' }

)) }}

<div class="mobile-hide">
  <div class="sidebar-right">
    {% if app.request.attributes.get('_route') != "revue_fiche" %}
      {{ render(controller(
          'App\\Controller\\Main\\CommunController::getLastRevueAction'
      )) }}
    {% endif %}

    <br/>

    <div class="bloc-pub large img-cover">
      <div class="pub-inner-box">
        {{ render(controller(
            'App\\Controller\\Admin\\PubController::getPubAction',
            { 'position': 'droite' }
        )) }}
      </div>

    </div>

    <breves :brevef="brefs" :feed="'{{ path('front_breves_rss') }}'"> </breves>

    <div id="before-pub"></div>

  </div>
</div>

