{% if linkReseaux %}
<div class="share-buttons">
  {% for unReseau in  linkReseaux %}
  {% if unReseau.reseaux == "Twitter" %}
  <a href="{{ unReseau.lien }}" target="_blank" title="Twitter"> <span><i class="fab fa-twitter"></i></span></a>
  {% endif %}
      {% if unReseau.reseaux == "Linkedin" %}
        <a href="{{ unReseau.lien }}" target="_blank" title="Linkedin"><span><i class="fab fa-linkedin-in"></i></span></a>
      {% endif %}
      {% if unReseau.reseaux == "Youtube" %}
        <a href="{{ unReseau.lien }}" target="_blank" title="Youtube"><span><i class="fab fa-youtube"></i></span></a>
      {% endif %}
      {% if unReseau.reseaux == "Instagramm" %}
        <a href="{{ unReseau.lien }}" target="_blank" title="Instagram"><span><i class="fab fa-instagram"></i></span></a>
      {% endif %}
      {% if unReseau.reseaux == "Vimeo" %}
        <a href="{{ unReseau.lien }}" target="_blank" title="Vimeo"><span><i class="fab fa-vimeo-v"></i></span></a>
      {% endif %}
      {% if unReseau.reseaux == "RSS" %}
        <a href="{{ unReseau.lien }}" target="_blank" title="Fil RSS"><span><i class="fas fa-rss"></i></span></a>
      {% endif %}
  {% endfor %}
</div>
{% endif %}
