<div class="toggle-tag">
    <a href="#" data-toggle="collapse" class="collapsed" data-target=".mobile-sujet-box">Choisir un tag</a>
</div>
<div class="sujet-box mobile-sujet-box collapse" id="sujet-box"  aria-labelledby="mobiletag-trigger">
    <ul>
        <li v-for="unTag in tagHome"><span><a :href="'/tag/'+unTag.slug"> <% unTag.nom %></a></span></li>
    </ul>
</div>

<div class="sujet-box mobile-hide" id="sujet-box-2"  aria-labelledby="mobiletag-trigger-2">
    <ul>
        <li v-for="unTag in tagHome"><span><a :href="'/tag/'+unTag.slug"> <% unTag.nom %></a></span></li>
    </ul>
</div>
