{% set currentPath = app.request.attributes.get('_route') %}
{% set uri = app.request.uri  %}
<div class="top_sub">
  <div class="row">
    <div class="col-lg-2 left-width mobile-hide">
      <div class="row">
        {{ render(controller(
          'App\\Controller\\Main\\IndexController::shareButtonAction',
        { 'position': 'haut' }
        )) }}

      </div>
    </div>

    <div class="col-lg-7  order-2 order-lg-1">
        {% if currentPath == "liste_revues" or currentPath == "liste_revues_annee" %}
      <div class="fil-ariane no-margin">
        <h1>Mes revues en ligne</h1>
      </div>
        {% elseif currentPath == "revue_fiche" %}
      <div class="fil-ariane-revue">
        <h1>Votre revue #{{ app.request.get('numero') }}</h1>
      </div>
            {% elseif currentPath =="front_mes_commandes" %}
              <div class="fil-ariane-boutique">
                <div class="pagename">Mes commandes</div>
              </div>
            {% elseif currentPath =="front_mon_profil" %}
              <div class="fil-ariane-boutique">
                <div class="pagename">Mon Profil</div>
              </div>
            {% elseif currentPath =="page_information" %}
              <div class="fil-ariane-boutique">
                <div class="pagename">{{ page.titre }}</div>
              </div>
            {% elseif currentPath =="front_search" %}
              <div class="fil-ariane-boutique">
                <div class="pagename">{% if articles|length >1 %}Résultats de recherche{% else %}Résultat de recherche{% endif %} </div>
              </div>
            {% else %}

            {% block ariane %}
              {% include 'main/Index/_tag_list-externe.html.twig' %}
            {% endblock ariane %}
      {% endif %}
    </div>

    <div class="col-lg-3  order-1 order-lg-2 border-blue">
      <div class="sub-header ">
        <div class="navigation">
          <ul>
            <li><a href="" title="Rechercher"  data-toggle="modal" data-target="#searchmodal" ><img src="{{ asset('/images/find-ico.svg') }}" alt=""></a></li>
            <li>{{ render(controller('App\\Controller\\Main\\UserController::userBlocAction',{'uri':uri})) }}</li>
            <li>
              <a title="e-boutique" href="{{ path('front_boutique') }}" id="boutique-link" >
                <img src="{{ asset('/images/market-ico.svg') }}" alt="">
              </a>
            </li>

            <li style="margin-left: 35px;margin-top: 5px;">
                {{ render(controller(
                    'App\\Controller\\Main\\CommunController::newsletterAction',
                    {'uri': app.request.uri, 'desktop': 'mobile' }
                )) }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="searchmodal" class="modal fade">
  <div class="close-btn" data-dismiss="modal">
    <img src="{{ asset('/images/close-search.svg') }}" alt="">
  </div>
  <div class="modal-dialog mx-auto" role="document">
    <div class="modal-content">
      <form action="{{ path("front_search") }}" class="form-search">
        <div class="input-field-wrap">
          <input type="text" class="form-control" name="q" id="search" placeholder="Recherche">
        </div>
        <div class="search-btn">
          <input class="search-submit" type="submit" value="" >
        </div>
      </form>

    </div>
  </div>

</div>
