<div>
  <div class="top-header-bloc">
    <div class="logo-bloc">
      <div class="burger-menu collapsed" data-toggle="collapse" data-target="#sidebar-filter"></div>
      <h1 class="logo-content"><a href="{{ path('home') }}" class="navbar-brand img-cover">
        <img src="{{ asset('images/logo.svg') }}" alt="logo">
      </a></h1>
        {#{% if app.request.attributes.get('_route') != "revue_fiche" %}#}
            {#{{ render(controller(#}
                {#'AppBundle:Main/Commun:getLastRevue'#}

            {#)) }}#}
        {#{% endif %}#}
      {% if app.request.attributes.get('_route') != "revue_fiche" %}
        {{ render(controller(
            'App\\Controller\\Main\\CommunController::getLastRevueAction'
        )) }}
      {% endif %}
    </div>
    <div class="pub-bloc horizontal mobile-hide">
        {{ render(controller(
            'App\\Controller\\Admin\\PubController::getPubAction',
            { 'position': 'haut', 'page': app.request.attributes.get('_route') }
        )) }}

    </div>
  </div>
</div>
