{% set currentPath = app.request.attributes.get('_route') %}
{% set uri = app.request.uri  %}
<div class="top_sub">
  <div class="row row-sub">
    <div class="row">
        {{ render(controller(
            'App\\Controller\\Main\\IndexController::shareButtonAction',
            { 'position': 'haut' }
        )) }}

    </div>
    <div class="col-lg-7 order-2 order-lg-1">
      {% if currentPath == "revue_fiche" %}
        <div class="fil-ariane-revue">
          <h1>Votre revue <span style="color: #212529;">#{{ app.session.get('numero') }}</span></h1>
        </div>
          {% elseif currentPath == "show_article_agenda" or currentPath == "article_agenda_date" %}
            <div class="fil-ariane no-margin">
              <h1>Agenda</h1>
            </div>
      {% else %}
          {% include 'main/Index/_tag_list.html.twig' %}
      {% endif %}

    </div>
    <div class="col-lg-3 order-1 order-lg-2 border-blue">
      <div class="sub-header">
        <div class="navigation">
          <ul>
            <li><a href="" title="Rechercher" data-toggle="modal" data-target="#searchmodal" ><img src="{{ asset('/images/find-ico.svg') }}" alt=""></a></li>
            <li>{{ render(controller('App\\Controller\\Main\\UserController::userBlocAction',{'uri':uri})) }}</li>
            <li>
              <a title="e-boutique" href="{{ path('front_boutique') }}" id="boutique-link" >
                <img src="{{ asset('/images/market-ico.svg') }}" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 order-1-mobile order-lg-2 border-blue">
      <div class="sub-header">
        <div class="navigation">
          <ul>
            <li><a href="" title="Rechercher" data-toggle="modal" data-target="#searchmodal" ><img src="{{ asset('/images/find-ico.svg') }}" alt=""></a></li>
            <li>{{ render(controller('App\\Controller\\Main\\UserController::userBlocAction',{'uri':uri})) }}</li>
            <li>
              <a title="e-boutique" href="{{ path('front_boutique') }}" id="boutique-link" >
                <img src="{{ asset('/images/market-ico.svg') }}" alt="">
              </a>
            </li>
            <li style="margin-left: 35px;margin-top: 5px;">
                {{ render(controller(
                    'App\\Controller\\Main\\CommunController::newsletterAction',
                    {'uri': app.request.uri, 'desktop': 'mobile' }

                )) }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-7 order-2-mobile order-lg-1">
      {% if currentPath == "revue_fiche" %}
        <div class="fil-ariane-revue">
          <h1>Votre revue <span style="color: #212529;">#{{ app.session.get('numero') }}</span></h1>
        </div>
          {% elseif currentPath == "show_article_agenda" or currentPath == "article_agenda_date" %}
            <div class="fil-ariane no-margin">
              <h1>Agenda</h1>
            </div>
      {% else %}
          {% include 'main/Index/_tag_list.html.twig' %}
      {% endif %}

    </div>
  </div>
</div>
<div id="searchmodal" class="modal fade">
  <div class="close-btn" data-dismiss="modal">
    <img src="{{ asset('/images/close-search.svg') }}" alt="">
  </div>
  <div class="modal-dialog mx-auto" role="document">
    <div class="modal-content">
      <form action="{{ path("front_search") }}" class="form-search">
        <div class="input-field-wrap">
          <input type="text" class="form-control" name="q" id="search" placeholder="Recherche">
        </div>
        <div class="search-btn">
          <input class="search-submit" type="submit" value="" >
        </div>
      </form>

    </div>
  </div>

</div>
