<div class="filter-box">
  <div class="titre-section">
    <h2 class="titre-filter"
        data-toggle="collapse"
        data-target="#content-filter">
      Filtrer
    </h2>
  </div>

  <transition name="types-articles-transition"
              enter-active-class="animated zoomIn"
              leave-active-class="animated zoomOut">

  <div id="content-filter" class="collapse2">
    <ul>
      <li v-for="type in allTypes">
        <input type="checkbox"
               :value="type"
               :id="'type-' + type"
               v-model="selectedTypeFilters"
               @click="filterByTypes">
        <label :for="'type-' + type">
          <span v-if="type === 'Podcasts'"><img src="{{ asset("images/podcast.svg") }}" alt=""></span>
          <span v-if="type === 'Vidéos'"><img src="{{ asset("images/video.svg") }}" alt=""></span>
          <span v-if="type === 'Articles'"><img src="{{ asset("images/article.svg") }}" alt=""></span>
          <span v-if="type === 'Événements'"><img src="{{ asset("images/event.svg") }}" alt=""></span>
          <% type %> 
        </label>
      </li>
    </ul>
    </select>
  </div>
  </transition>
</div>
