<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for un_url in urls %}
    <url>
            <loc>{{ un_url  }}</loc>
            <lastmod>{{date}}</lastmod>
            <priority>0.8</priority>
        </url>
    {% endfor %}

</urlset>