{% extends 'base.admin.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Liste baromètre</li>
    </ol>
    <h1>Liste baromètre</h1>
    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <div class="row">
        <div class="col-md-6">
            <p><strong>Nombre de résultats : {{ newsletters|length }}</strong> </p>
        </div>
        <div class="col-md-6">
            <p class="text-right"><a href="{{ path("admin_barometre_export") }}" target="_blank" title="Exporter"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Exporter</a> </p>
        </div>
    </div>
    

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Ip</th>
                <th>Date</th>
                <th>Baromètre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for newsletter in newsletters %}
            <tr>
                <td>{{ newsletter.nom }}</td>
                <td>{{ newsletter.prenom }}</td>
                <td>{{ newsletter.email }}</td>
                <td>{{ newsletter.ip }}</td>
                <td>{% if newsletter.createdAt %}{{ newsletter.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <th>
                    {% if newsletter.produit %}
                        <a target="_blank" href="/uploads/pdf/produit/{{ newsletter.produit.pdf  }}"><span class="glyphicon glyphicon-download"></span> {{ newsletter.produit.nom }}</a>
                    {% endif %}
                </th>
                <td>
                    <ul class="list-unstyled action ">
                        {#<li class="inline">
                            <a href="{{ path('admin_barometre_edit', { 'id': newsletter.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                        </li>#}
                        <li class="inline">
                            <a href="{{ path('admin_barometre_delete_element', { 'id': newsletter.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                        </li>
                    </ul>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
