{% extends 'base.admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

    <style type="text/css">
        .loadBody .chargement{
            /*background-color: #32c5d2;
            color: #000000;*/
            width: 400px;
            margin: 0 auto;
            height: 30px;
            border-radius: 5px;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
            margin-top: 5px;
            position: fixed;
            z-index: 999999999!important;
            left: 35%;
            padding: 0;

        }

        .loadBody button.close{
            margin-right: 5px;
        }

        .loadBody, .loadBodyTexte{
            display: none;
        }

        .loadBodyTexte .chargement {
            background-color: #ffe57e;
            color: #000000;
            width: 400px;
            margin: 0 auto;
            height: 30px;
            border-radius: 5px;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
            margin-top: 5px;
            position: fixed;
            z-index: 999999999!important;
            left: 35%;
            padding: 0;
            top: 280px;

        }
    </style>

{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Liste newsletter</li>
    </ol>
    <h1>Liste newsletter</h1>

    <div class="loadBodyTexte">
                    <div class="chargement alert-dismissable alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        Merci de patienter!.. Chargement en cours..
                    </div>

                </div>

    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <table class="table table-striped table-hover" id="newsletter">
        <thead>
            <tr>

                <th>Email</th>
                <th>Ip</th>
                <th>Ajouté le</th>
                <th>In sendinblue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for newsletter in newsletters %}
            <tr>
                <td>{{ newsletter.email }}</td>
                <td>{{ newsletter.ip }}</td>
                <td>{% if newsletter.createdAt %}{{ newsletter.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <input type="checkbox" id="inSendinblue_{{ newsletter.id }}" name="inSendinblue_{{ newsletter.id }}" {% if newsletter.sendblue %} checked value="{{ newsletter.id }}"{% else %}value="{{ newsletter.id }}"{% endif %} >
                </td>
                <td>
                    <ul class="list-unstyled action ">
                        <li class="inline">
                            <a href="{{ path('admin_newsletter_edit', { 'id': newsletter.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                        </li>
                        <li class="inline">
                            <a href="{{ path('admin_newsletter_delete_element', { 'id': newsletter.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                        </li>
                    </ul>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="application/javascript">
        $(document).ready(function() {

            $('#newsletter').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "pageLength": 50,
                "order": [[ 3, 'desc' ]],
                'fnDrawCallback': function() {
                    $('input').iCheck({
                        checkboxClass: 'icheckbox_square-blue',
                        radioClass: 'iradio_square-blue',
                        increaseArea: '20%' /* optional */
                    });

                    $('input').on('ifChecked', function (event){ 
                        //$(this).closest("input").attr('checked', true); 
                        var id = $(this).val();

                        updateNewsletter(1, id);    
                    }); 

                    $('input').on('ifUnchecked', function (event) { 
                        //$(this).closest("input").attr('checked', false); 
                        var id = $(this).val();

                        updateNewsletter(0, id);    
                    });
                }
            });

            setTimeout(inSendinblue, 1000);
           

           
        } );

        function inSendinblue(){
                $('input').on('ifChecked', function (event){ 
                        //$(this).closest("input").attr('checked', true); 
                        var id = $(this).val();

                        updateNewsletter(1, id);
                        
                }); 

                    $('input').on('ifUnchecked', function (event) { 
                        //$(this).closest("input").attr('checked', false); 
                        var id = $(this).val();

                        updateNewsletter(0, id);

                    });
            }

            function updateNewsletter(isSendinblue, id)
            {
                $(".loadBodyTexte").css('display', 'block');
                $.ajax({
                    type: 'post',
                    url: '/admin/newsletter/sendinblue/'+id+'/from-ajax',
                    data: {id: id, isSendinblue: isSendinblue},
                    success: function (response) {
                        $(".loadBodyTexte").css('display', 'none');

                    },
                    error: function () {
                        $(".loadBodyTexte").css('display', 'none');

                    }
                });

            }

        
    </script>

{% endblock %}
