<transition name="custom-classes-transition"
            enter-active-class="animated fadeIn"
            :duration="{enter: 500}">
  <div class="row-article row-agenda">
    <div class="inner-article-box">
      <div class="row content-preview small-article"
           v-if="!article.fullContent && !article.front"
           @click="showFullContent(article, $event)">

        <div class="col-md-4 col-12 mobile-no-padd">
          <div class="agenda-date-partage">
            <div class="duree-agenda" v-if="article.dateDebutEvent != article.dateFinEvent"><% article.dateDebutEvent | formatDateShowDayOnly %> - <% article.dateFinEvent | formatDateShowDayAndMounth %></div>
            <div class="duree-agenda" v-if="article.dateDebutEvent == article.dateFinEvent"> <% article.dateFinEvent | formatDateShowDayAndMounth %></div>
            <div class="share-agenda">
              <ul>
                {#<li><a><img src="{{ asset("images/calendar.svg") }}" alt=""></a></li>#}
                <li><a target="_blank"
                       :href="'https://twitter.com/share?text='+article.titre+'&url=https://www.laprofessioncomptable.com/article-agenda/'+article.categorie.slug+'/'+article.slug+'&hashtags=laprofessioncomptable&via=LaProfComptable'"
                       data-size="large"
                       :data-text="article.titre"
                       data-hashtags="laprofessioncomptable"
                       data-via="@LaProfComptable"><img src="{{ asset("images/twitter-ico.svg") }}" alt=""></a></li>
                <li><a :href="'http://www.linkedin.com/shareArticle?mini=true&url=https://www.laprofessioncomptable.com/article-agenda/'+article.categorie.slug+'/'+article.slug+'&title='+article.titre+'&source=@LaProfComptable'" target="_blank"><img src="{{ asset("images/linkedin-ico.svg") }}" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8 offset-2 col-10 offset-sm-0">
          <div class="agenda-contenu">
            <div class="agenda-contenu-titre"><a :href="'/article-agenda/'+article.categorie.slug+'/'+article.slug+''" style="color: #1e2839;font-weight: 400;font-size: 18px;"><% article.titre %></a></div>
            <div class="agenda-contenu-lieu"><% article.lieuEvent %></div>
            <div class="agenda-contenu-chapeau">
              <span v-html="article.resume"></span>
            </div>
          </div>
        </div>
      </div>

    </div>
</transition>
