{% extends 'base.html.twig' %}

{% block title %}{{ meta.title }}{% endblock %}
{% block description %}{{ meta.description|raw }}{% endblock %}
{% block robots %}{{ parent() }}{% endblock %}

    {% block stylesheets %}
        {% if firstArticle  %}
            <meta name="twitter:card" content="{% if articles[0].videoArticle %}player{% else %}summary{% endif %}" />
            <meta name="twitter:description" content="{{ articles[0].resume |striptags| raw  }}" />
            <meta name="twitter:title" content="{{ articles[0].titre |striptags| raw  }} | La profession comptable" />
            <meta name="twitter:site" content="@LaProfComptable" />
            {% if articles[0].image is not null  %}
                <meta name="twitter:image" content="https://www.laprofessioncomptable.com/uploads/images/articles/{{ articles[0].image  }}" />
            {% elseif articles[0].videoArticle %}
                {% if articles[0].videoArticle.type == "Vimeo" %}
                    <meta name="twitter:player" content="{{ articles[0].videoArticle.lien | replace({'https://vimeo.com/':'https://player.vimeo.com/video/'}) }}" />
                {% else %}
                    {% set codeVideoTwitter = articles[0].videoArticle.lien | replace({'https://www.youtube.com/watch?v=':''}) %}
                    {% set codeVideoTwitter = codeVideoTwitter | replace({'https://youtu.be/':''})  %}
                    <meta name="twitter:image" content="https://img.youtube.com/vi/{{ codeVideoTwitter }}/hqdefault.jpg" />
                    <meta name="twitter:player" content="https://www.youtube.com/embed/{{ codeVideoTwitter }}" />
                {% endif %}
                <meta name="twitter:player:width" content="480" />
                <meta name="twitter:player:height" content="270" />
            {% endif %}
            <meta name="twitter:creator" content="@LaProfComptable" />
            <meta property="og:locale" content="fr_FR" />
            <meta property="og:type" content="{% if articles[0].videoArticle %}video{% else %}article{% endif %}" />
            <meta property="og:title" content="{{ articles[0].titre |striptags| raw  }} | La profession comptable" />
            <meta property="og:description" content="{{ articles[0].resume |striptags | raw  }}" />
            <meta property="og:url" content="https://www.laprofessioncomptable.com/article/{{ articles[0].categorie.slug }}/{{ articles[0].slug }}" />
            {% if articles[0].image is not null  %}
                <meta property="og:image" content="https://www.laprofessioncomptable.com/uploads/images/articles/{{ articles[0].image  }}" />
                <meta property="og:image:secure_url" content="https://www.laprofessioncomptable.com/uploads/images/articles/{{ articles[0].image  }}" />
                <meta property="og:image:width" content="650" />
                <meta property="og:image:height" content="440" />
            {% elseif articles[0].videoArticle %}
                {% if articles[0].videoArticle.type == "Vimeo" %}
                    <meta property="og:image" content="https://www.laprofessioncomptable.com/uploads/images/articles/thumbnails/{{ articles[0].thumbnails }}" />
                    <meta property="og:video" content="{{ articles[0].videoArticle.lien | replace({'https://vimeo.com/':'https://player.vimeo.com/video/'}) }}" />
                    <meta property="og:video:secure_url" content="{{ articles[0].videoArticle.lien | replace({'https://vimeo.com/':'https://player.vimeo.com/video/'}) }}" />
                {% else %}
                    {% set codeVideo = articles[0].videoArticle.lien | replace({'https://www.youtube.com/watch?v=':''}) %}
                    {% set codeVideo = codeVideo | replace({'https://youtu.be/':''})  %}
                    <meta property="og:image" content="https://img.youtube.com/vi/{{ codeVideo }}/hqdefault.jpg" />
                    <meta property="og:video" content="https://www.youtube.com/embed/{{ codeVideo }}" />
                    <meta property="og:video:secure_url" content="https://www.youtube.com/embed/{{ codeVideo }}" />
                {% endif %}
                <meta property="og:video:width" content="480" />
                <meta property="og:video:height" content="270" />
            {% endif %}
            <meta property="og:site_name" content="LaProfComptable" />
            <meta property="og:updated_time" content="{{ "now"|date("Y-m-d\\TH:i:sP") }}" />
        {% endif %}
      {{ parent() }}
      <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
      <link href="{{ asset('css/home.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
        <link href="{{ asset('css/podcast.css')}}" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    {% endblock %}

    {% block body %}
      <div id="app">
        <input type="hidden" id="user" name="user" value="{% if (app.user is not null and app.user.isPaidSubscriber) or (app.user and 'ROLE_ABONNE' in app.user.roles) %}1{% endif %}" />
        <div class="content col-lg-12" v-cloak>
          <div class="row row-main">
            <div class="col-lg-12 fixed-top_sub">
              {% include 'main/Index/_top_sub.html.twig' %}
            </div>

            <div class="col-lg-2 left-width">
              <div class="row">
                <div class="sidebar-filter collapse" id="sidebar-filter">
                  {#{% include 'main/Index/_share_buttons.html.twig' %}#}
                  {% include 'main/Index/_categorie_list.html.twig' %}

                  {% include 'main/Index/_type_list.html.twig' %}
                  <agenda-lateral :agendas="agendas" :is-authenticated="isAuthenticated"></agenda-lateral>
                </div>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="row">
                <div class="content-box col-12">
                  {#{% include 'main/Index/_tag_list.html.twig' %}#}
                  {% if articlesUne and articlesUne !="[]"  %}
                    {% include 'main/Index/_article_une.html.twig' %}
                  {% endif %}
                    {% if app.request.attributes.get('_route') == "home" %}
                          <div class="section-titre">
                            <h2>Les dernieres news</h2>
                          </div>
                    {% endif %}

                  {% include 'main/Agenda/_article_list_agenda.html.twig' %}

                  <!--inter-article-->

                  <!--.inter-article-->
{#
                  <transition name="custom-classes-transition"
                              leave-active-class="animated fadeIn"
                              leave-active-class="animated fadeOut">
                  <div class="more-article" v-if="showButtonMoreArticles">
                    <a class="btn btn-more" @click="getMoreArticles">Plus d'articles</a>
                  </div>
                  </transition>
                  <div class="loading text-center" v-if="showLoading">
                    <img src="{{ asset("images/load.gif") }}" alt="loading" width="100px">
                  </div>#}
                </div>
              </div>
            </div>

            <div class="col-lg-3 sidebar-droite">
              {% include 'main/Index/_right.html.twig' %}
            </div>
          </div>
        </div>

        <videos :videos="videos" :user="user"></videos>

        {% include 'main/Index/_popup_premium.html.twig' %}
      </div>
    {% endblock %}

    {% block javascripts %}
      {{ parent() }}
      <!-- VueJS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/fr.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue-fontawesome@0.0.2/lib/vue-fontawesome.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
      <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <script src="{{ asset('assets/js/vue-filter/custom_filters.js')}}"></script>
      <script src="{{ asset('assets/js/vue-component/reading-progress.js')}}?{{ "now"|date("m-d-Y h:s") }}"></script>
      <script src="{{ asset('assets/js/vue-component/categorie-tree.js')}}"></script>
      <script src="{{ asset('assets/js/vue-component/agenda-lateral.js')}}"></script>
      <script src="{{ asset('assets/js/vue-component/agenda-linear.js')}}"></script>
      <script src="{{ asset('assets/js/vue-component/breves.js')}}"></script>
      <script src="{{ asset('assets/js/vue-component/videos.js')}}"></script>
      <script>
        new WOW().init();
var base_url = "{{ base_url }}";
var api_base_url = "{{ api_base_url }}";
var articlesFirstBatch = {{ articles | serialize('json') | raw }};
var categoriesFirstBatch = {{ categories | serialize('json') | raw }};

var curentUrl = "";

{% if articlesUne %}
  var frontPageArticle = {{ articlesUne | raw }};
{% else %}
  var frontPageArticle = false;
{% endif %}

{% if firstArticle is defined %}
  var firstArticle = {{ firstArticle | serialize('json') | raw }};
{% else %}
  var firstArticle = false;
{% endif %}

{% if disableRedirections is defined %}
  var disableRedirections = true;
{% else %}
  var disableRedirections = false;
{% endif %}

{% if hideUnesBloc is defined %}
  var hideUnesBloc = {{ hideUnesBloc | serialize('json') | raw }};
{% else %}
  var hideUnesBloc = false;
{% endif %}

var eventsTop = {{ eventsTop | raw }};
var bref = {{ bref | raw }};
{% if videosLatest is defined %}
  var videosLatest = {{ videosLatest | raw }};
{% else %}
  var videosLatest = false;
{% endif %}
var tagHome = {{ tagHome | serialize('json') | raw }};

{% if agenda is defined %}
  var agendas = {{ agenda | raw }};
{% else %}
  var agendas = false;
{% endif %}

        var IdRevue = null;
        {% if currentCategorie is defined %}
          var categoryFiteredID = {{ currentCategorie[0].id }};
            {% if idParent != "" %}
                var categorieParentID = {{ idParent }};
            {% else %}
                var categorieParentID ="";
            {% endif %}
        var curentUrl = "/categorie/{{ currentCategorie[0].slug }}";
        {% else %}
            var categoryFiteredID = "";
            var categorieParentID = "";
        {% endif %}

        {% if tagSlug is defined %}
          var tagSlug = "{{ tagSlug }}";
          var curentUrl = "/tag/{{ tagSlug }}";
        {% else %}
          var tagSlug = "";
        {% endif %}

        var search = "";
        {% if accueil is defined %}
            var home = {{ accueil }};
        {% else %}
            var home = "";
        {% endif %}

      </script>
      <script src="{{ asset('js/home.js')}}?{{ "now"|date("m-d-Y h:s") }}"></script>
      <script src="{{ asset('js/inte.js')}}"></script>
      <script src="{{ asset('js/podcast.js')}}?{{ "now"|date("m-d-Y h:s") }}"></script>
        <script src="{{ asset('js/commentaire.js')}}"> </script>

    {% endblock %}


