<div id="carousel-date-agenda_boutom" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        {% for une_date in listeDate %}
            <div class="carousel-item {% if app.session.get('dateCurrentEvent') ==  une_date.anneeMoisCourt %}active{% endif %}">
                {% if  une_date.nbEvent == "0" %}
                    <a>{{ une_date.anneeMois }}</a>
                {% else %}
                    <a href="{{ path("article_agenda_date",{"dateAgenda":une_date.anneeMoisCourt}) }}">{{ une_date.anneeMois }}</a>
                    {% endif %}
            </div>
        {% endfor %}
    </div>

    <a class="carousel-control-prev" href="{{ path('article_agenda_date',{'dateAgenda':app.session.get('dateCurrentEventPrevious')}) }}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    
    <a class="carousel-control-next" href="{{ path('article_agenda_date',{'dateAgenda':app.session.get('dateCurrentEventNext')}) }}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>