<div class="dateliste">
    <ul>
        <li class="prevDate">
            <a href="{{ path('article_agenda_date',{'dateAgenda':app.session.get('dateCurrentEventPrevious')}) }}" >
                <img src="{{ asset('images/prevDate.png') }}" alt="Date précédent">
            </a>
        </li>
        {% for une_date in listeDate %}
            {% if  une_date.nbEvent == "0" %}
                <li {% if app.session.get('dateCurrentEvent') ==  une_date.anneeMoisCourt %}class="current"{% endif %}>
                    <a>{{ une_date.anneeMois }} </a>
                </li>
                {% else %}
                    <li {% if app.session.get('dateCurrentEvent') ==  une_date.anneeMoisCourt %}class="current"{% endif %}>
                        <a href="{{ path("article_agenda_date",{"dateAgenda":une_date.anneeMoisCourt}) }}">{{ une_date.anneeMois }}</a><span class="dateliste-number">{{ une_date.nbEvent }}</span>
                    </li>
            {% endif %}
        {% endfor %}
        <li class="nextDate">
            <a href="{{ path('article_agenda_date',{'dateAgenda':app.session.get('dateCurrentEventNext')}) }}" >
                <img src="{{ asset('images/nextDate.png') }}" alt="Date précédent">
            </a>
        </li>

    </ul>

    <div id="carousel-date-agenda-top" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">

            {% for une_date in listeDate %}
                <div class="carousel-item {% if app.session.get('dateCurrentEvent') ==  une_date.anneeMoisCourt %}active{% endif %}">
                    <a {% if  une_date.nbEvent != "0" %}href="{{ path("article_agenda_date",{"dateAgenda":une_date.anneeMoisCourt}) }}"{% endif %}>{{ une_date.anneeMois }}</a>
                </div>
            {% endfor %}

        </div>

        <a class="carousel-control-prev" href="{{ path('article_agenda_date',{'dateAgenda':app.session.get('dateCurrentEventPrevious')}) }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="{{ path('article_agenda_date',{'dateAgenda':app.session.get('dateCurrentEventNext')}) }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>