{% extends 'main/Boutique/base.html.twig' %}

{% block title %}Confirmation Commande - {{ parent() }}{% endblock %}

{% block boutique_content %}
  <div class="boutique titre-nv pt-mobile">
    <h2>
      Récapitulatif de la commande
    </h2>
      <ul class="list-unstyled">
          {% for key, messages in app.session.flashbag.all() %}
              <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                  {% for message in messages %}
                      {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                  {% endfor %}
              </li>
          {% endfor %}
      </ul>

    <div class="container recap-list">
        {% set abonnement_prime = 0 %}
      {% for un_produit in panierProduit %}

          {% if un_produit.produit.rubrique == "abonnement-prime" %}
              {% set abonnement_prime = 1 %}
          {% endif %}

          {% if un_produit.produit.rubrique != "frais-transport" %}
              <div class="row">
                  <div class="col-9 col-lg-10 product-name">
                    <strong>{{ un_produit.produit.nom }} (x{{ un_produit.qtt }})</strong>
                  </div> <!-- col -->
                  <div class="col-3 col-lg-2 product-price">
                    {{ un_produit.produit.prix*un_produit.qtt }}&euro; TTC
                  </div> <!-- col -->
                </div> <!-- row -->
          {% endif %}
      {% endfor %}

        {% for un_produit in panierProduit %}

            {% if un_produit.produit.rubrique == "frais-transport" %}
                <div class="row">
                    <div class="col-9 col-lg-10 product-name">
                        <strong>{{ un_produit.produit.nom }} (x{{ un_produit.qtt }})</strong>
                    </div> <!-- col -->
                    <div class="col-3 col-lg-2 product-price">
                        {{ un_produit.produit.prix*un_produit.qtt }}&euro; TTC
                    </div> <!-- col -->
                </div> <!-- row -->
            {% endif %}
        {% endfor %}

      <div class="row">
        <div class="col-6">
        </div> <!-- col -->
        <div class="col-4 total">
          TOTAL TTC<br>
          <em>dont TVA 2.1%</em>
        </div> <!-- col -->
        <div class="col-2 total">
          {{ panier.prixTotal|euro }}
          <br>
          {{ panier.tvaTotal|euro }}
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->

      {% if abonnement_prime != 1 and isAbonne == false and abonnementPrime %}
          <div class="row">
              <div class="col-lg-4 text-center">
                  <img src="{{ asset('images/abonnement2.png') }}" alt="Abonnement d'un an au magazine LPC" title="Abonnement d'un an au magazine LPC" class="img-fluid">
              </div>

              <div class="col-lg-8">

                  <div class="descriptif" style="margin-top: 50px;">
                      <p>Profitez de <strong style="color: #009fe3;">l’Abonnement PRIME à {{ abonnementPrime.prix }} € TTC</strong>,
                          <strong>en plus du Hors Série</strong>, vous avez pendant <strong>TOUTE l’année un accès à l’ensemble des articles en ligne et à tous les numéros LPC </strong>au format électronique et print !</p>
                      </div>
              </div>
          </div>
      {% endif %}

      <div class="row">
          <div class="col-lg-6 text-center">
              {% if abonnement_prime != 1 and isAbonne == false and abonnementPrime %}

              <form method="POST" action="{{ path('front_boutique_add_to_cart', {'produit': abonnementPrime.id}) }}?for=confirmation"><input type="submit" value="Je m'abonne" class="btn btn-abonne"></form>

              {% endif %}
          </div>

          <div class="col-lg-6 text-center">
              <div class="order-validation" style="margin-top: 0;">
                  {% if abonnement_prime == 1 %}
                      <form action="{{ path('front_boutique_abonnement') }}" method="POST">
                          <input class="btn btn-abonne" type="submit" value="Je valide ma commande">
                      </form>
                  {% else %}
                      <form action="{{ path('front_boutique_checkout') }}" method="POST">
                          <input class="btn btn-abonne" type="submit" value="Je valide ma commande">
                      </form>
                  {% endif %}
              </div>
          </div>

  </div>
{% endblock boutique_content %}
{% block javascripts %}
    {{ parent() }}
  <script type="text/javascript">
      $(document).ready(function () {
          let isMobile = window.matchMedia("only screen and (max-width: 990px)");
          if (isMobile.matches) {
              $('#panier-wrapper').hide();
          }
      });
  </script>
{% endblock %}

