{% extends 'base.admin.html.twig' %}

{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' 'jquery.collection.html.twig' %}

{% block body %}

    <style type="text/css">
        .form-control{
            width: 25%;
        }
    </style>

    <div id="app">

        <ol class="breadcrumb">
            <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li><a href="{{ path('admin_questionnaire_index') }}"><i class="fa fa-bookmark"></i> Questionnaires</a></li>
            <li class="active">Edit</li>
        </ol>

        <h1>Questionnaire : {{ questionnaire.cabinet.nom }}</h1>

        <ul class="list-unstyled">
            {% for key, messages in app.session.flashbag.all() %}
                <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                    {% for message in messages %}
                        {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        {{ form_end(edit_form) }}

        <ul class="" style="list-style: none;">

            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette cabinet?');">
                {{ form_end(delete_form) }}
            </li>
        </ul>


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.my-selector').collection();

    </script>
{% endblock %}
