{% extends 'base.admin.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

{% endblock %}

{% block body %}

    <style type="text/css">
        li a{
            margin-bottom: 5px;
            margin-top: 5px;
        }

        .loadBody .chargement{
            background-color: #32c5d2;
            color: #000000;
            width: 400px;
            margin: 0 auto;
            height: 30px;
            border-radius: 5px;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
            margin-top: 5px;
            position: fixed;
            z-index: 999999999!important;
            left: 35%;
            padding: 0;

        }

        .loadBody button.close{
            margin-right: 5px;
        }

        .loadBody{
            display: none;
        }
    </style>

    <div id="app">

        <ol class="breadcrumb">
            <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active">Cabinet - questionnaire</li>
        </ol>
        <h1>Cabinet - questionnaire</h1>
        <ul class="list-unstyled">
            {% for key, messages in app.session.flashbag.all() %}
                <li class="alert {% if key == 'error'%}alert-danger{%elseif key == 'warning'%} alert-warning{%else%}alert-success{% endif %}">
                    {% for message in messages %}
                        {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>


        <div class="loadBody">
            <div class="chargement alert-dismissable alert alert-warning alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                Merci de patienter!.. Chargement en cours..
            </div>

        </div>

        <div class="messageConfirm alert alert-block alert-success fade in" style="display: none;">
            <button type="button" class="close" data-dismiss="alert"></button>
            <p> Un email a été bien envoyé  avec succès!</p>

            </p>
        </div>





        <table class="table table-striped table-hover" id="statistiques">
            <thead>
            <tr>

                <th>Cabinet</th>
                <th>Destinataire</th>
                <th width="5%">Email</th>
                <th>Code</th>
                <th>Etude</th>
                <th>1er Mail<br/>Statut d'envoie</th>
                <th>Relance<br/>Statut d'envoie</th>
                <th>Statut FJ</th>
                <th>Statut <br/>Adresse</th>
                <th>Statut <br/>Nom du président</th>
                <th>Statut <br/>CA total</th>
                {#x<th class="text-center">
                    <input type="checkbox" name="selecTout">

                </th>#}
                <th class="text-center" width="40%">
                    <button onclick="return sendAllCabinet();" class="btn btn-danger" type="button"   >
                        <i class="fa fa-envelope"></i> Tout envoyer (1er mail)
                    </button>


                    <a href="/admin/questionnaire/export-questionnaire/from-bo" style="margin-left: 40px;" class="btn btn-default" type="button"   >
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> exporter
                    </a>

                &nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for statistique in statistiques %}
                <tr>

                    <td>{{ statistique.cabinet.nom }}</td>
                    <td>{{ statistique.destinataire }}</td>
                    <td>{{ statistique.email }}</td>
                    <td>{{ statistique.code }}</td>
                    <td>{{ statistique.etude.annee }}</td>
                    <td>
                        {% if  statistique.nbSend %}
                            <span style="color: green;" class="glyphicon glyphicon-ok"></span> ({{ statistique.nbSend }} fois)
                        {% else %}
                            <span style="color: red;" class="glyphicon glyphicon-remove"></span>
                        {% endif %}

                    </td>

                    <td>
                        {% if  statistique.nbSendRelance %}
                            <span style="color: green;" class="glyphicon glyphicon-ok"></span> ({{ statistique.nbSendRelance }} fois)
                        {% else %}
                            <span style="color: red;" class="glyphicon glyphicon-remove"></span>
                        {% endif %}

                    </td>
                    <td>
                        {#Statut FJ#}
                        {% if  statistique.cabinet.formeJuridique %}
                            <span style="color: green;" class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span style="color: red;" class="glyphicon glyphicon-remove"></span>
                        {% endif %}

                    </td>
                    <td>
                        {#Statut Adresse#}
                        {% if  statistique.cabinet.adresse %}
                            <span style="color: green;" class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span style="color: red;" class="glyphicon glyphicon-remove"></span>
                        {% endif %}

                    </td>
                    <td>
                        {#Statut Nom du président#}
                        {% if  statistique.cabinet.nomPresident %}
                            <span style="color: green;" class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span style="color: red;" class="glyphicon glyphicon-remove"></span>
                        {% endif %}


                    </td>

                    <td>
                        {#Statut CA total #}
                        {% if  tabResult[statistique.id]['ca_'~annee1] !="" %}
                            <span style="color: green;" class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span style="color: red;" class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>



                    {#<td class="text-center">

                    </td>#}


                    <td>
                        <input type="hidden" name="questionnaire" value="{{ statistique.id }}" >

                        <ul class="list-unstyled action m-0 text-center">

                            <li class="inline"><a href="{{ path('admin_questionnaire_edit', {'id': statistique.id }) }}" class="dropdown-item btn btn-primary"><i class="fa fa-edit"></i> Editer</a></li>

                            <li class="inline"><a onclick="return confirm('Êtes-vous sûr de vouloir envoyer un message au cabinet?');" href="{{ path('admin_questionnaire_send_mail', {'id': statistique.id }) }}" class="dropdown-item btn btn-success"><i class="fa fa-envelope"></i> 1er Mail</a></li>

                            <li class="inline"><a onclick="return confirm('Êtes-vous sûr de vouloir envoyer un mail de relance au cabinet?');" href="{{ path('admin_questionnaire_send_mail', {'id': statistique.id }) }}?relance=1" class="dropdown-item btn btn-danger"><i class="fa fa-envelope"></i> Mail Relance</a></li>

                            <li class="inline">
                                <a target="_blank" href="{{ path('questionnaire_send_etude', {'id': statistique.id, 'annee': statistique.etude.annee}) }}?code={{ statistique.code }}" class="btn btn-warning">
                                    <i class="fa fa-book"></i> Voir reponse </a>
                            </li>
                        </ul>


                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>





    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>




    <script type="application/javascript">
        $(document).ready(function() {

            $('#statistiques').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "pageLength": 25,
                "lengthMenu": [ [5, 10, 25, 50, 100, 1000000000], [5, 10, 25, 50, 100, "All"] ],
                "order": [[ 0, 'asc' ]]

            });

            $("input[name='selecTout']").on('ifChanged', function () {


                var _this = jQuery(this);
                if (_this.is(':checked')) {
                    $("input[name^='questionnaire']").each(function (index) {
                        $(this).iCheck('check');
                    });
                } else {
                    $("input[name^='questionnaire']").each(function (index) {
                        $(this).iCheck('uncheck');
                    });
                }
            });

        } );

        function sendAll() {
            if (confirm('Voulez vous envoyer un email à tout les cabinets?')) {

                $("input[name^='questionnaire']").each(function (index) {

                    //if ($(this).is(":checked")) {
                        $(".loadBody").css('display', 'block');

                        var id = $(this).val();

                        $.ajax({
                            type: 'post',
                            url: '/admin/questionnaire/send-questionnaire/'+id+'/from-ajax',
                            data: {id: id},
                            success: function (nameCity) {
                                $(".loadBody").css('display', 'none');

                                $(".messageConfirm").css('display', 'block');
                            },
                            error: function () {
                                $(".loadBody").css('display', 'none');

                            }
                        });

                    //}
                });


            }

            return false;
        }

        function sendAllCabinet() {
            if (confirm('Voulez vous envoyer un email à tout les cabinets?')) {

                $(".loadBody").css('display', 'block');

                $.ajax({
                    type: 'post',
                    url: '/admin/questionnaire/send-questionnaire-all/from-ajax',
                    data: {},
                    success: function (response) {
                        $(".loadBody").css('display', 'none');

                        $(".messageConfirm").css('display', 'block');
                    },
                    error: function () {
                        $(".loadBody").css('display', 'none');

                    }
                });
            }
        }



    </script>


{% endblock %}
