<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 4.5.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>LPC | {{ etude.titre }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="ÉTUDE NATIONALE 2022" name="description" />
    <meta content="laprofessioncomptable" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('questionnaire/assets/global/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('questionnaire/assets/global/plugins/simple-line-icons/simple-line-icons.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('questionnaire/assets/global/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('questionnaire/assets/global/plugins/uniform/css/uniform.default.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('questionnaire/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{{ asset('questionnaire/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('questionnaire/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css')}}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{{ asset('questionnaire/assets/global/css/components.min.css')}}" rel="stylesheet" id="style_components" type="text/css" />
    <link href="{{ asset('questionnaire/assets/global/css/plugins.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="{{ asset('questionnaire/assets/layouts/layout3/css/layout.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('questionnaire/assets/layouts/layout3/css/themes/default.min.css')}}" rel="stylesheet" type="text/css" id="style_color" />
    <link href="{{ asset('questionnaire/assets/layouts/layout3/css/custom.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('favicon.png') }}" type="image/png">
    <link rel="icon" sizes="32x32" href="{{ asset('favicon-32.png') }}" type="image/png">
    <link rel="icon" sizes="64x64" href="{{ asset('favicon-64.png') }}" type="image/png">
    <link rel="icon" sizes="96x96" href="{{ asset('favicon-96.png') }}" type="image/png">
    <link rel="icon" sizes="196x196" href="{{ asset('favicon-196.png') }}" type="image/png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png')}}">
    <style type="text/css">
        p{
            font-size: 16px;
        }

        .form-horizontal .form-group.form-md-line-input{
            margin: 0 -15px 0px;
        }

        .table td, .table th{
            font-size: 16px;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
            line-height: 2.5;
            padding-left: 15px;
        }

        .table thead tr th{
            font-size: 18px;
            font-weight: bold;
            color: #2f5496;
            text-align: center;
        }

        #static{
            width: 20%;
        }
    </style>
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid page-boxed">
<!-- BEGIN HEADER -->

<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <div class="container">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title-lpc text-center" style="margin-top:50px;">
                    <div class="logo">
                        <img src="{{ asset('questionnaire/images/logo.png') }}" alt="logo">
                    </div>
                    <h1 style="color: #2f5496;font-weight: bold;">LA PROFESSION COMPTABLE LIBÉRALE</h1>
                    <h2 style="color: #2f5496;font-weight: 500;">{{ etude.titre }}</h2>
                </div>

                <div class="descriptif">

                    {{ etude.descriptif|raw }}

                </div>
                <!-- END PAGE TITLE -->


            </div>
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">

                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal" id="form_sample_1">
                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="page-content-inner">
                    <div class="m-heading-1 border-green m-bordered">
                        <h3 style="font-size:20px; color:#2f5496;font-weight: bold;line-height: 25px ;">{{ etude.titre1 }}</h3>


                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- BEGIN VALIDATION STATES-->
                            <div class="portlet light portlet-fit portlet-form ">

                                <div class="portlet-body">

                                        <div class="form-body">
                                            <div class="alert alert-danger display-hide">
                                                <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                                            <div class="alert alert-success display-hide">
                                                <button class="close" data-close="alert"></button> Your form validation is successful! </div>
                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Intitulé juridique du cabinet
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="" name="name">
                                                    <div class="form-control-focus"> </div>
                                                    {#<span class="help-block">Intitulé juridique</span>#}
                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Forme juridique

                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="" name="name">
                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Numéro SIRET

                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="" name="name">
                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Numéro SIREN

                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="" name="name">
                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Adresse

                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="" name="name">
                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Code postal

                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="" name="name">
                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Ville

                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="" name="name">
                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Département

                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="" name="name">
                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Région

                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="" name="name">
                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Tél

                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="" name="name">
                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Email

                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="" name="email">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Site internet

                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="" name="url">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Nom du président

                                                </label>
                                                <div class="col-md-2">
                                                    <select class="form-control" name="delivery">
                                                        <option value="1">Mr</option>
                                                        <option value="2">Mme</option>
                                                        <option value="3">Mlle</option>

                                                    </select>
                                                    <div class="form-control-focus"> </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" placeholder="Nom" name="url">
                                                    <div class="form-control-focus"> </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" placeholder="Prènom" name="url">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>

                                        </div>


                                </div>
                            </div>
                            <!-- END VALIDATION STATES-->
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN VALIDATION STATES-->
                            <div class="portlet light portlet-fit portlet-form ">

                                <div class="portlet light portlet-fit portlet-form ">

                                    <div class="portlet-body" style="padding: 20px; min-height: auto; line-height: 38px; padding-bottom: 0; padding-left: 25px;">
                                        {{ etude.descriptif1|raw }}

                                    </div>
                                </div>

                                <div class="portlet-body" style="padding:40px; padding-bottom: 0;">

                                    <table class="table table-bordered table-striped table-condensed flip-content">

                                        <thead class="flip-content">
                                        <tr>
                                            <th width="50%">  </th>
                                            <th> 2019 / 2020 </th>
                                            <th> 2020 / 2021 </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Chiffre d’affaires (K€)</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-center"><strong>Ventilation du chiffre d’affaires</strong>  </td>
                                        </tr>

                                        <tr>
                                            <td>Dont Chiffre d’affaires Commissariat aux comptes (K€) (1)</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Dont Chiffre d’affaires en Expertise comptable (K€) (2)</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="3" class="text-center"><strong>Répartition du CA en Expertise comptable(A + B + C = CA EC)  </strong></td>
                                        </tr>

                                        <tr>
                                            <td>A - Missions d'assurance sur les comptes complets historiques    (K€)</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>B - Autres missions d'assurance (K€)</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>C - Missions sans assurance (K€)</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="3" class="text-center"><strong>Autres informations </strong></td>
                                        </tr>

                                        <tr>
                                            <td>Nombre de clients</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Date de clôture</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Effectif total</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Dont Experts-comptables Hommes:</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Dont Experts-comptables Femmes:</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Dont Associés Hommes:</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Dont Experts-comptables Femmes:</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Nombre de bureaux</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Localisation</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Réseau Association technique ou groupement national</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Réseau international</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>

                                </div>
                            </div>
                            <!-- END VALIDATION STATES-->
                        </div>
                    </div>


                    <div class="m-heading-1 border-red m-bordered">
                        <h3 style="font-size:20px; color:#2f5496;font-weight: bold;line-height: 25px ;">{{ etude.titre2 }}</h3>

                    </div>




                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN VALIDATION STATES-->
                            <div class="portlet light portlet-fit portlet-form " style="padding: 15px;">
                                {{ etude.descriptif2|raw }}

                                <div class="portlet-body" style="padding:40px;">

                                    <table class="table table-bordered table-striped table-condensed flip-content">

                                        <thead class="flip-content">
                                        <tr>
                                            <th width="50%">  </th>
                                            <th> 2019 / 2020 </th>
                                            <th> 2020 / 2021 </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Juridique (K€)</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>Fiscal (K€)</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Conseil en organisation (K€)</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>



                                        <tr>
                                            <td>Autres (K€)</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>TOTAL</td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="">
                                            </td>
                                        </tr>


                                        </tbody>

                                    </table>



                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-12 text-center" >
                                                    <button style="font-size:25px;" type="submit" class="btn btn-success">Je valide</button>

                                                </div>
                                            </div>
                                        </div>

                                </div>
                            </div>

                            <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                                <form name="valideCode" action="" method="post">

                                    <div class="modal-body">
                                        <p style="color: #2f5496;"> Merci de confirmer votre code : </p>
                                        <div class="form-group">
                                            <input name="code" class="form-control" type="text" data-tabindex="1">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        {#<button type="button" data-dismiss="modal" class="btn btn-outline dark">Cancel</button>#}
                                        <button type="button" data-dismiss="modal" class="btn green">Je valide</button>
                                    </div>

                                </form>
                            </div>
                            <!-- END VALIDATION STATES-->
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT INNER -->
                </form>
            </div>
        </div>
        <!-- END PAGE CONTENT BODY -->
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->
    <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
    </a>

</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->


<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->
<!-- END FOOTER -->
<!--[if lt IE 9]>
<script src="{{ asset('questionnaire/assets/global/plugins/respond.min.js')}}"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/excanvas.min.js')}}"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="{{ asset('questionnaire/assets/global/plugins/jquery.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/js.cookie.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/jquery.blockui.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/uniform/jquery.uniform.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}" type="text/javascript"></script>

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{ asset('questionnaire/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js')}}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ asset('questionnaire/assets/pages/scripts/ui-extended-modals.min.js')}}" type="text/javascript"></script>

<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{ asset('questionnaire/assets/global/plugins/jquery-validation/js/jquery.validate.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/jquery-validation/js/additional-methods.min.js')}}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{{ asset('questionnaire/assets/global/scripts/app.min.js')}}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ asset('questionnaire/assets/pages/scripts/form-validation-md.min.js')}}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{{ asset('questionnaire/assets/layouts/layout3/scripts/layout.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/layouts/layout3/scripts/demo.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/layouts/global/scripts/quick-sidebar.min.js')}}" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->

<script type="application/javascript">
    $(document).ready(function() {

        //$('#static').modal('show');

    } );
</script>
</body>

</html>

