<tr class="tr_reseau" >
    <td>Réseau international
        <button class="btn btn-primary" style="line-height: 0px;float: right;"><i class="fa fa-plus"></i> Ajouter</button>
    </td>
    <td>
        <select data-placeholder="Séléctionner....."  onchange="return saveAuto();" name="reseau_{{ annee-2 }}[]" class="form-control chosen-select" multiple>
            {% for regroupement in regroupements %}
                <option value="{{ regroupement.id }}" {% if tabResult and regroupement.id in tabResult['reseau_'~annee2] %}selected{% endif %}>
                    {{ regroupement.nom }}
                </option>
            {% endfor %}
        </select>
    </td>
    <td>

        <select data-placeholder="Séléctionner....."  onchange="return saveAuto();" name="reseau_{{ annee-1 }}[]" class="form-control chosen-select" multiple>
            {% for regroupement in regroupements %}
                <option value="{{ regroupement.id }}" {% if tabResult and regroupement.id in tabResult['reseau_'~annee1] %}selected{% endif %}>
                    {{ regroupement.nom }}
                </option>
            {% endfor %}
        </select>
    </td>
</tr>

<script type="application/javascript">

    $(document).ready(function() {
        $('.chosen-select').chosen({width: "100%"});
    });

</script>