<tr class="tr_groupe">
    <td>Réseau, association technique ou groupement national
        <button class="btn btn-primary" style="line-height: 0px;float: right;"><i class="fa fa-plus"></i> Ajouter</button>
    </td>
    <td>
        <select  data-placeholder="Séléctionner....."  onchange="return saveAuto();" name="groupement_{{ annee-2 }}[]" class="form-control chosen-select" multiple>
            {% for groupe in groupes %}
                <option value="{{ groupe.id }}" {% if tabResult and groupe.id in tabResult['groupement_'~annee2] %}selected{% endif %}>
                    {{ groupe.nom }}
                </option>
            {% endfor %}
        </select>
    </td>
    <td>

        <select  data-placeholder="Séléctionner....."  onchange="return saveAuto();" name="groupement_{{ annee-1 }}[]" class="form-control chosen-select" multiple>
            {% for groupe in groupes %}
                <option value="{{ groupe.id }}" {% if tabResult and groupe.id in tabResult['groupement_'~annee1] %}selected{% endif %}>
                    {{ groupe.nom }}
                </option>
            {% endfor %}
        </select>

    </td>
</tr>

<script type="application/javascript">

    $(document).ready(function() {
        $('.chosen-select').chosen({width: "100%"});
    });

</script>