{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' 'jquery.collection.html.twig' %}
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 4.5.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="fr" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="fr" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>LPC | {{ etude.titre }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="ÉTUDE NATIONALE 2022" name="description" />
    <meta content="laprofessioncomptable" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('questionnaire/assets/global/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('questionnaire/assets/global/plugins/simple-line-icons/simple-line-icons.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('questionnaire/assets/global/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('questionnaire/assets/global/plugins/uniform/css/uniform.default.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('questionnaire/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{{ asset('questionnaire/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('questionnaire/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css')}}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{{ asset('questionnaire/assets/global/css/components.min.css')}}" rel="stylesheet" id="style_components" type="text/css" />
    <link href="{{ asset('questionnaire/assets/global/css/plugins.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="{{ asset('questionnaire/assets/layouts/layout3/css/layout.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('questionnaire/assets/layouts/layout3/css/themes/default.min.css')}}" rel="stylesheet" type="text/css" id="style_color" />
    <link href="{{ asset('questionnaire/assets/layouts/layout3/css/custom.min.css')}}" rel="stylesheet" type="text/css" />

    <link href="{{ asset('questionnaire/css/plugins/chosen/bootstrap-chosen.css') }}" rel="stylesheet">
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('favicon.png') }}" type="image/png">
    <link rel="icon" sizes="32x32" href="{{ asset('favicon-32.png') }}" type="image/png">
    <link rel="icon" sizes="64x64" href="{{ asset('favicon-64.png') }}" type="image/png">
    <link rel="icon" sizes="96x96" href="{{ asset('favicon-96.png') }}" type="image/png">
    <link rel="icon" sizes="196x196" href="{{ asset('favicon-196.png') }}" type="image/png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png')}}">
    <style type="text/css">
        p{
            font-size: 14px;
            line-height: 25px;
        }

        .form-horizontal .form-group.form-md-line-input{
            margin: 0 -15px 0px;
        }

        .table td, .table th{
            font-size: 14px;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
            line-height: 2.5;
            padding-left: 15px;
        }

        .table thead tr th{
            font-size: 16px;
            font-weight: bold;
            color: #2f5496;
            text-align: center;
        }

        #static{
            width: 20%;
        }

        .loadBody .chargement{
            /*background-color: #32c5d2;
            color: #000000;*/
            width: 400px;
            margin: 0 auto;
            height: 30px;
            border-radius: 5px;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
            margin-top: 5px;
            position: fixed;
            z-index: 999999999!important;
            left: 35%;
            padding: 0;

        }

        .loadBody button.close{
            margin-right: 5px;
        }

        .loadBody, .loadBodyTexte{
            display: none;
        }

        .dropdown-menu{
            max-height: 300px;
            overflow-y: auto;
            width: 400px;
        }

        h1, h2{
            font-size: 25px;
        }

        .form-horizontal .form-group.form-md-line-input > label{
            color: inherit;
        }

        .addTag{
            line-height: 0;
        }

        #cabinet_response_personnes .col-sm-2 {
            width: 0;
        }

        /*#cabinet_response_personnes input{
            display: inline-block;
            width: 50%;
        }*/

        .glyphicon-trash::before {
            content: "x";
        }

        .glyphicon-plus-sign::before {
            content: "+";
        }

        input[id^='cabinet_response_personnes_'] {
            width: 70%;display: inline-block;margin-left: 10px;
        }

        fieldset[id^='cabinet_response_personnes_'] {
            position: relative;
        }

        .cabinet_response_personnes-collection-actions{
            position: absolute;
            top: auto;
            right: 25%;
        }

        .cabinet_response_personnes-collection-actions a{
            background-color: red;
            color: white;
            border-color: red;
            font-weight: bold;
        }

        #cabinet_response_commentaire, #cabinet_response_txtPluridiscplinaire{
            border:1px solid;
            padding: 5px;
        }

        .loadBodyTexte .chargement {
            background-color: #ffe57e;
            color: #000000;
            width: 400px;
            margin: 0 auto;
            height: 30px;
            border-radius: 5px;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
            margin-top: 5px;
            position: fixed;
            z-index: 999999999!important;
            left: 35%;
            padding: 0;
            top: 280px;

        }
    </style>
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid page-boxed">
<!-- BEGIN HEADER -->

<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <div class="container">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title-lpc text-center" style="margin-top:50px;">
                    <div class="lo  go">
                        <img src="{{ asset('questionnaire/images/logo.png') }}" alt="logo">
                    </div>
                    <h1 style="color: #2f5496;font-weight: bold;">
                        <span>LA PROFESSION COMPTABLE LIBÉRALE</span>
                        <span><a onclick="return convertApiPdf();" class="printPage"
                                  href=""><img src="{{ asset('images/pdf-icon.jpg') }}" alt=""></a></span>
                        {#<form id="convertAPI" action="https://v2.convertapi.com/convert/web/to/pdf?Secret=U93LuWIVYl0tQn2j" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="Url" value="https://www.laprofessioncomptable.com/questionnaire/2" />
                            <input type="hidden" name="StoreFile" value="true" />
                            <input type="submit" value="Convert file"/>
                        </form>#}
                    </h1>
                    <h2 style="color: #2f5496;font-weight: 500;">{{ etude.titre }}</h2>
                </div>

                <div class="descriptif">

                    {{ etude.descriptif|raw }}

                </div>
                <!-- END PAGE TITLE -->

                <div class="loadBodyTexte">
                    <div class="chargement alert-dismissable alert alert-warning alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        Merci de patienter!.. Chargement en cours..
                    </div>

                </div>

                <div class="alert alert-block alert-success fade in" {% if saveYes %}{% else %}style="display: none;"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert"></button>
                    <p> Merci ! Les données saisies ont été enregistrées avec succès ! </p>
                    <p>
                        Visitez notre site <a class="btn green" href="https://www.laprofessioncomptable.com">laprofessioncomptable</a>

                    </p>
                </div>


            </div>

            <div class="loadBody">



                <div class="chargement">
                    <img src="{{ asset('questionnaire/images/loading.gif') }}" alt="loading">
                    {#<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    Merci de patienter!.. Chargement en cours..#}
                </div>

            </div>


        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">

                <!-- BEGIN FORM-->
                {{ form_start(form, {'attr': {'class': 'form-horizontal', 'action':''}}) }}

                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="page-content-inner">
                    <div class="m-heading-1 border-green m-bordered">
                        <h3 style="font-size:20px; color:#2f5496;font-weight: bold;line-height: 25px ;">{{ etude.titre1 }}</h3>


                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- BEGIN VALIDATION STATES-->
                            <div class="portlet light portlet-fit portlet-form " style="margin-bottom: 0;padding-bottom: 1px;">

                                <div class="portlet-body">

                                        <div class="form-body">
                                            {#<div class="alert alert-danger display-hide">
                                                <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                                            <div class="alert alert-success display-hide">
                                                <button class="close" data-close="alert"></button> Your form validation is successful! </div>#}
                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Intitulé juridique du cabinet
                                                    {#<span class="required">*</span>#}
                                                </label>
                                                <div class="col-md-8">
                                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'onkeyup': 'return saveAuto();'}}) }}

                                                    <div class="form-control-focus"> </div>
                                                   {# <span class="help-block">Intitulé juridique</span>#}
                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Forme juridique

                                                </label>
                                                <div class="col-md-8">
                                                    {{ form_widget(form.formeJuridique, {'attr': {'class': 'form-control chosen-select', 'onchange': 'return saveAuto();', 'data-placeholder': 'Sélectionner.....'}}) }}

                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Numéro SIRET

                                                </label>
                                                <div class="col-md-8">
                                                    {{ form_widget(form.siret, {'attr': {'class': 'form-control', 'onkeyup': 'return saveAuto();'}}) }}

                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Numéro SIREN

                                                </label>
                                                <div class="col-md-8">
                                                    {{ form_widget(form.siren, {'attr': {'class': 'form-control', 'onkeyup': 'return saveAuto();'}}) }}

                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Adresse

                                                </label>
                                                <div class="col-md-8">
                                                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'onkeyup': 'return saveAuto();'}}) }}

                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Code postal

                                                </label>
                                                <div class="col-md-8">
                                                    {{ form_widget(form.codePostal, {'attr': {'class': 'form-control', 'onkeyup': 'return saveAuto();', 'autocomplete': 'nope', 'onchange': 'return saveAuto();' }}) }}

                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Ville

                                                </label>
                                                <div class="col-md-8">
                                                    {{ form_widget(form.ville, {'attr': {'class': 'form-control', 'onkeyup': 'return saveAuto();', 'autocomplete': 'nope', 'onchange': 'return saveAuto();'}}) }}

                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Département

                                                </label>
                                                <div class="col-md-8">
                                                    {{ form_widget(form.departement, {'attr': {'class': 'form-control', 'onkeyup': 'return saveAuto();', 'autocomplete': 'nope', 'onchange': 'return saveAuto();'}}) }}

                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Région

                                                </label>
                                                <div class="col-md-8">
                                                    {{ form_widget(form.region, {'attr': {'class': 'form-control', 'onkeyup': 'return saveAuto();', 'autocomplete': 'nope', 'onchange': 'return saveAuto();'}}) }}

                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Tél

                                                </label>
                                                <div class="col-md-8">
                                                    {{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'onkeyup': 'return saveAuto();'}}) }}

                                                    <div class="form-control-focus"> </div>

                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Email

                                                </label>
                                                <div class="col-md-8">
                                                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'onkeyup': 'return saveAuto();'}}) }}

                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Site internet

                                                </label>
                                                <div class="col-md-8">
                                                    {{ form_widget(form.site, {'attr': {'class': 'form-control', 'onkeyup': 'return saveAuto();'}}) }}

                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">Nom du président

                                                </label>
                                                {#<div class="col-md-2">
                                                    {{ form_widget(form.civilite, {'attr': {'class': 'form-control', 'onchange': 'return saveAuto();'}}) }}

                                                    <div class="form-control-focus"> </div>
                                                    <span class="help-block">Civilité</span>
                                                </div>#}

                                                <div class="col-md-8">
                                                    {{ form_widget(form.nomPresident, {'attr': {'class': 'form-control', 'onkeyup': 'return saveAuto();', 'placeholder': 'Nom & Prénom'}}) }}

                                                    <div class="form-control-focus"> </div>
                                                    <span class="help-block"> Nom & Prénom</span>
                                                </div>

                                                {#<div class="col-md-3">
                                                    {{ form_widget(form.prenomPresident, {'attr': {'class': 'form-control', 'onkeyup': 'return saveAuto();', 'placeholder': 'Prénom'}}) }}

                                                    <div class="form-control-focus"> </div>
                                                    <span class="help-block">Prénom</span>
                                                </div>#}
                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-4 control-label" for="form_control_1">&nbsp;

                                                </label>

                                                <div class="col-md-8">
                                                    {{ form_widget(form.personnes) }}

                                                </div>
                                            </div>


                                        </div>


                                </div>

                                <div class="portlet light portlet-fit portlet-form ">

                                    <div class="portlet-body" style="padding: 20px; min-height: auto; padding-bottom: 0; padding-left: 40px;">
                                        {{ etude.descriptif1|raw }}

                                    </div>
                                </div>
                            </div>
                            <!-- END VALIDATION STATES-->


                        </div>

                    </div>


                    {% set annee = questionnaire.etude.annee %}

                    {% set annee3 =  annee -3 %}

                    {% set annee2 =  annee -2 %}

                    {% set annee1 =  annee -1 %}

                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN VALIDATION STATES-->



                            <div class="portlet light portlet-fit portlet-form ">



                                <div class="portlet-body" style="padding:40px; padding-top: 0; padding-bottom: 5px;">

                                    <table id="table_ca" class="table table-bordered table-striped table-condensed flip-content">

                                        <thead class="flip-content">
                                        <tr>
                                            <th width="50%">  </th>
                                            <th width="25%"> {{ annee -3 }} / {{ annee -2 }} </th>
                                            <th width="25%"> {{ annee -2 }} / {{ annee -1 }} </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Chiffre d’affaires (K€)</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="ca_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['ca_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="ca_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['ca_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-center"><strong>Ventilation du chiffre d’affaires</strong>  </td>
                                        </tr>

                                        <tr>
                                            <td>Dont Chiffre d’affaires Commissariat aux comptes (K€) <span data-toggle="tooltip" title="<h2 style='font-size:14px;color:white; line-height:20px;'>« Activités réglementées relevant de la CNCC »</h2>" data-placement="right"><strong>(1)</strong></span></td>
                                            <td>
                                                <input  onkeyup="return saveAuto();" type="text" class="form-control" name="cac_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['cac_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="cac_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['cac_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Dont Chiffre d’affaires en Expertise comptable (K€) <span data-toggle="tooltip" title="<h2 style='font-size:14px;color:white; line-height:20px;'>« Activités réglementées relevant de l’OEC »</h2>" data-placement="right"><strong>(2)</strong></span></td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="caexpertise_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['caexpertise_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="caexpertise_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['caexpertise_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="3" class="text-center"><strong>Répartition du CA en Expertise comptable (A + B + C = CA EC)  </strong></td>
                                        </tr>

                                        <tr>
                                            <td>A - Missions d'assurance sur les comptes complets historiques    (K€)</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="caexpertiseA_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['caexpertiseA_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="caexpertiseA_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['caexpertiseA_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>B - Autres missions d'assurance (K€)</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="caexpertiseB_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['caexpertiseB_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="caexpertiseB_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['caexpertiseB_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>C - Missions sans assurance (K€)</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="caexpertiseC_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['caexpertiseC_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="caexpertiseC_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['caexpertiseC_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="3" class="text-center"><strong>Autres informations </strong></td>
                                        </tr>

                                        <tr>
                                            <td>Nombre de clients</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="nbClient_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['nbClient_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="nbClient_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['nbClient_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Date de clôture</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="dateCloture_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['dateCloture_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="dateCloture_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['dateCloture_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Effectif total</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="effectif_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['effectif_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="effectif_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['effectif_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Dont Experts-comptables Hommes:</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="hommeEc_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['hommeEc_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="hommeEc_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['hommeEc_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Dont Experts-comptables Femmes:</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="femmeEc_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['femmeEc_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="femmeEc_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['femmeEc_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Dont Associés Hommes:</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="hommeAs_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['hommeAs_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="hommeAs_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['hommeAs_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Dont Associés Femmes:</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="femmeAs_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['femmeAs_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="femmeAs_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['femmeAs_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Nombre de bureaux</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="nbBureau_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['nbBureau_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="nbBureau_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['nbBureau_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Localisation</td>
                                            <td class="td_localisation_{{ annee -2 }}">

                                                <select data-placeholder="Sélectionner....."  onchange="return saveAuto();" onkeyup="return saveAuto();" name="localisation_{{ annee-2 }}[]" class="form-control chosen-select" multiple>
                                                    {% for localisation in localisations %}
                                                        <option value="{{ localisation.value }}" {% if tabResult and localisation.value in tabResult['localisation_'~annee2] %}selected{% endif %}>
                                                            {{ localisation.nom }}
                                                        </option>
                                                    {% endfor %}
                                                </select>{#<br/> ou <br/>

                                                <input placeholder="Nouvelle localisation" autocomplete="nope" type="text" class="form-control" name="localisation_new_{{ annee-2 }}" >#}
                                            </td>
                                            <td>

                                                <select data-placeholder="Sélectionner....."  onchange="return saveAuto();" onkeyup="return saveAuto();" name="localisation_{{ annee-1 }}[]" class="form-control chosen-select" multiple>
                                                    {% for localisation in localisations %}
                                                        <option value="{{ localisation.value }}" {% if tabResult and localisation.value in tabResult['localisation_'~annee1] %}selected{% endif %}>
                                                            {{ localisation.nom }}
                                                        </option>
                                                    {% endfor %}
                                                </select> {#<br/> ou <br/>

                                                <input placeholder="Nouvelle localisation" autocomplete="nope" type="text" class="form-control" name="localisation_new_{{ annee-1 }}" >#}
                                            </td>
                                        </tr>

                                        <tr class="tr_groupe">
                                            <td>Réseau, association technique ou groupement national
                                                <button data-toggle="modal" data-target="#nouveau_groupe" class="btn btn-primary" style="line-height: 0px;float: right;"><i class="fa fa-plus"></i> Ajouter</button>
                                            </td>
                                            <td class="td_groupe_{{ annee -2 }}">
                                                <select  data-placeholder="Sélectionner....."  onchange="return saveAuto();" name="groupement_{{ annee-2 }}[]" class="form-control chosen-select" multiple>
                                                    {% for groupe in groupes %}
                                                        <option value="{{ groupe.id }}" {% if tabResult and groupe.id in tabResult['groupement_'~annee2] %}selected{% endif %}>
                                                            {{ groupe.nom }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>

                                                <select  data-placeholder="Sélectionner....."  onchange="return saveAuto();" name="groupement_{{ annee-1 }}[]" class="form-control chosen-select" multiple>
                                                    {% for groupe in groupes %}
                                                        <option value="{{ groupe.id }}" {% if tabResult and groupe.id in tabResult['groupement_'~annee1] %}selected{% endif %}>
                                                            {{ groupe.nom }}
                                                        </option>
                                                    {% endfor %}
                                                </select>

                                            </td>
                                        </tr>

                                        <tr class="tr_reseau" >
                                            <td>Réseau ou association international
                                                <button data-toggle="modal" data-target="#nouveau_reseau" class="btn btn-primary" style="line-height: 0px;float: right;"><i class="fa fa-plus"></i> Ajouter</button>
                                            </td>
                                            <td class="td_reseau_{{ annee -2 }}">
                                                <select data-placeholder="Sélectionner....."  onchange="return saveAuto();" name="reseau_{{ annee-2 }}[]" class="form-control chosen-select" multiple>
                                                    {% for regroupement in regroupements %}
                                                        <option value="{{ regroupement.id }}" {% if tabResult and regroupement.id in tabResult['reseau_'~annee2] %}selected{% endif %}>
                                                            {{ regroupement.nom }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>

                                                <select data-placeholder="Sélectionner....."  onchange="return saveAuto();" name="reseau_{{ annee-1 }}[]" class="form-control chosen-select" multiple>
                                                    {% for regroupement in regroupements %}
                                                        <option value="{{ regroupement.id }}" {% if tabResult and regroupement.id in tabResult['reseau_'~annee1] %}selected{% endif %}>
                                                            {{ regroupement.nom }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>



                                </div>
                            </div>
                            <!-- END VALIDATION STATES-->
                        </div>
                    </div>


                    <div class="m-heading-1 border-red m-bordered">
                        <h3 style="font-size:20px; color:#2f5496;font-weight: bold;line-height: 25px ;">{{ etude.titre2 }}</h3>

                    </div>




                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN VALIDATION STATES-->
                            <div class="portlet light portlet-fit portlet-form ">


                                <div class="portlet-body" style="padding:40px; padding-top: 20px;">

                                    {{ etude.descriptif2|raw }}

                                    <table id="table_fiscal" class="table table-bordered table-striped table-condensed flip-content">

                                        <thead class="flip-content">
                                        <tr>
                                            <th width="50%">  </th>
                                            <th> {{ annee -3 }} / {{ annee -2 }} </th>
                                            <th> {{ annee -2 }} / {{ annee -1 }} </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Juridique (K€)</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="juridique_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['juridique_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="juridique_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['juridique_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>Fiscal (K€)</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="fiscal_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['fiscal_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="fiscal_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['fiscal_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Conseil en organisation (K€)</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="conseil_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['conseil_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="conseil_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['conseil_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>



                                        <tr>
                                            <td>Autres (K€)</td>
                                            <td>
                                                <input onkeyup="return saveAuto();" type="text" class="form-control" name="autre_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['autre_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input  onkeyup="return saveAuto();" type="text" class="form-control" name="autre_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['autre_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>TOTAL</td>
                                            <td>
                                                <input readonly onkeyup="return saveAuto();" type="text" class="form-control" name="total_{{ annee-2 }}" value="{% if tabResult %}{{ tabResult['total_'~annee2] }}{% endif %}">
                                            </td>
                                            <td>
                                                <input readonly onkeyup="return saveAuto();" type="text" class="form-control" name="total_{{ annee-1 }}" value="{% if tabResult %}{{ tabResult['total_'~annee1] }}{% endif %}">
                                            </td>
                                        </tr>


                                        </tbody>

                                    </table>

                                    <p>
                                        Merci de préciser <strong>IMPERATIVEMENT</strong> la nature des activités des entités concernées, leurs liens économiques et/ou juridiques avec la société inscrite à l'OEC et les noms de ces entités.
                                    </p>

                                    <div class="form-group form-md-line-input">



                                        <div class="col-md-12">
                                            {{ form_widget(form.commentaire, {'attr': {'class': 'form-control', 'onkeyup': 'return saveAuto();'}}) }}

                                            <div class="form-control-focus"> </div>

                                        </div>
                                    </div>



                                        <div class="form-actions" {% if questionnaire.id is not null and questionnaire.cabinet.isPluridiscplinaire %}
                                            style="display: none;"
                                                {% else %}
                                                    {% if questionnaire.id is null %}
                                                        style="display: none;"
                                                    {% else %}

                                                    {% endif %}
                                                {% endif %}
                                        >
                                            <div class="row">
                                                <div class="col-md-12 text-center" >
                                                    <input type="hidden" name="checkJevalide" id="checkJevalide" value="0">
                                                    <button style="font-size:18px;" type="submit" onclick="return jeValide();" class="btn btn-success">Je valide</button>

                                                </div>
                                            </div>
                                        </div>

                                </div>
                            </div>


                            <!-- END VALIDATION STATES-->
                        </div>
                    </div>

                    <div {% if questionnaire.id is not null and questionnaire.cabinet.isPluridiscplinaire %}
                           {% else %}
                               {% if questionnaire.id is null %}
                                   {% if pluridiscplinaire is defined and pluridiscplinaire == 0 %}
                                       style="display: none;"
                                       {% endif %}
                               {% else %}
                               style="display: none;"
                               {% endif %}
                            {% endif %}
                    >
                        <div class="m-heading-1 border-grey m-bordered">
                            <h3 style="font-size:20px; color:#2f5496;font-weight: bold;line-height: 25px ;">{{ etude.titre3 }}</h3>

                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <div class="portlet light portlet-fit portlet-form ">

                                    <div class="portlet-body" style="padding:40px; padding-top: 20px;">
                                    {{ etude.descriptif3|raw }}



                                        <div class="form-group form-md-line-input">

                                            <div class="col-md-12">
                                                {{ form_widget(form.txtPluridiscplinaire, {'attr': {'class': 'form-control', 'onchange': 'return saveAuto();', 'onkeyup': 'return saveAuto();'}}) }}

                                                <div class="form-control-focus"> </div>

                                            </div>
                                        </div>


                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-12 text-center" >
                                                    <button style="font-size:18px;" type="submit" class="btn btn-success">Je valide</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <!-- END VALIDATION STATES-->
                            </div>
                        </div>
                    </div>


                </div>
                <!-- END PAGE CONTENT INNER -->
                </form>
            </div>
        </div>

        <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
            {% if questionnaire.id is not null %}
            <form name="valideCode" action="{{ path('questionnaire_send_etude', {'id': questionnaire.id, 'annee': questionnaire.etude.annee}) }}" method="post">

                <div class="modal-body">
                    {% if code %}
                        {% if code == questionnaire.code and questionnaire.id == questionnaireRequest.id %}

                        {% else %}

                            <p style="color: red;">Error code !!</p>

                        {% endif %}
                    {% endif %}

                    <p style="color: #2f5496;"> Merci de confirmer votre code : </p>
                    <div class="form-group">
                        <input required name="code" value="{{ code }}" class="form-control" type="text">
                    </div>
                </div>
                <div class="modal-footer">
                    {#<button type="button" data-dismiss="modal" class="btn btn-outline dark">Cancel</button>#}
                    <input type="submit" class="btn green" value="Je valide" name="jeValide">
                </div>

            </form>

            {% endif %}
        </div>

        <div id="nouveau_groupe" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
            {% if questionnaire.id is not null %}
                <form name="addGroupe" action="#" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" style="font-size:14px; color:#2f5496;font-weight: bold;">Nouveau Réseau, association technique ou groupement national</h2>

                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-md-3 control-label text-right" for="form_control_1">Nom : </label>
                                <div class="col-md-8">
                                    <input required name="nom" class="form-control" type="text">

                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Annuler</button>
                            <input type="button" onclick="return addGroupeNational('groupe', {{ questionnaire.id }}, {{ annee }}, {{ annee1 }}, {{ annee2 }});" class="btn green" value="Ajouter" name="jeValide">
                        </div>
                    </div>

                </form>

            {% endif %}
        </div>

        <div id="nouveau_reseau" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
            {% if questionnaire.id is not null %}
                <form name="addReseau" action="#" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" style="font-size:14px; color:#2f5496;font-weight: bold;">Réseau international</h2>

                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-md-3 control-label text-right" for="form_control_1">Nom : </label>
                                <div class="col-md-8">
                                    <input required name="nom" class="form-control" type="text">

                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Annuler</button>
                            <input type="button" onclick="return addGroupeNational('reseau', {{ questionnaire.id }}, {{ annee }}, {{ annee1 }}, {{ annee2 }});" class="btn green" value="Ajouter" name="jeValide">
                        </div>
                    </div>

                </form>

            {% endif %}
        </div>
        <!-- END PAGE CONTENT BODY -->
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->
    <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
    </a>

</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->


<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->
<!-- END FOOTER -->
<!--[if lt IE 9]>
<script src="{{ asset('questionnaire/assets/global/plugins/respond.min.js')}}"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/excanvas.min.js')}}"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="{{ asset('questionnaire/assets/global/plugins/jquery.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/js.cookie.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/jquery.blockui.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/uniform/jquery.uniform.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}" type="text/javascript"></script>

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{ asset('questionnaire/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js')}}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<
<!-- BEGIN PAGE LEVEL SCRIPTS -->
{#<script src="{{ asset('questionnaire/assets/pages/scripts/ui-extended-modals.min.js')}}" type="text/javascript"></script>#}

<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{ asset('questionnaire/assets/global/plugins/jquery-validation/js/jquery.validate.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/global/plugins/jquery-validation/js/additional-methods.min.js')}}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{{ asset('questionnaire/assets/global/scripts/app.min.js')}}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
{#<script src="{{ asset('questionnaire/assets/pages/scripts/form-validation-md.min.js')}}" type="text/javascript"></script>#}
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{{ asset('questionnaire/assets/layouts/layout3/scripts/layout.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/layouts/layout3/scripts/demo.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('questionnaire/assets/layouts/global/scripts/quick-sidebar.min.js')}}" type="text/javascript"></script>

<!-- Chosen -->
<script src="{{ asset('questionnaire/js/plugins/chosen/chosen.jquery.js') }}"></script>

<!-- Typehead -->
<script src="{{ asset('questionnaire/js/plugins/typehead/bootstrap3-typeahead.min.js') }}?version=1"></script>
<!-- END THEME LAYOUT SCRIPTS -->

<script src="{{ asset('js/jquery.collection.js') }}"></script>

<script type="application/javascript">
    $(document).ready(function() {

        $('.my-selector').collection();

        $('[data-toggle="tooltip"]').tooltip({
            animated: 'fade',
            html: true,

        });

        $('.chosen-select').chosen({width: "100%"});

        $("#table_ca input[name^='ca']").each(function () {

            $(this).val(numberWithCommas($(this).val()));

            //Autorise uniquement le chiffre
            $(this).keypress(function(event) {

                if(event.which == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46)
                    return true;

                else if((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57))
                    event.preventDefault();

            });



            //check s'il y a de lettre dans input
            if (testInput($(this).val())) {
                $(this).val("");

            }
        });


        $("#table_fiscal input").each(function () {
            $(this).val(numberWithCommas($(this).val()));

            //Autorise uniquement le chiffre
            $(this).keypress(function(event) {

                if(event.which == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46)
                    return true;

                else if((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57))
                    event.preventDefault();

            });

            //check s'il y a de lettre dans input
            if (testInput($(this).val())) {
                $(this).val("");
            }


        });

        $( "input[name^='juridique_']" ).keyup(function() {
            var inputName = $(this).attr('name');

            var annee = inputName.replace("juridique_", "");

            var juridique = $(this).val();

            juridique = juridique.replace(" ", "");

            var fiscale = $("input[name=fiscal_"+annee+"]").val();

            fiscale = fiscale.replace(" ", "");

            var conseil = $("input[name=conseil_"+annee+"]").val();

            conseil = conseil.replace(" ", "");

            var autre = $("input[name=autre_"+annee+"]").val();

            autre = autre.replace(" ", "");

            if (conseil === "") conseil = 0;

            if (juridique === "") juridique = 0;

            if (fiscale === "") fiscale = 0;

            if (autre === "") autre = 0;


            var totale = parseInt(juridique) + parseInt(fiscale) + parseInt(conseil) + parseInt(autre);

            $("input[name=total_"+annee+"]").val(totale);

            saveAuto();


        });

        $( "input[name^='fiscal_']" ).keyup(function() {
            var inputName = $(this).attr('name');

            var annee = inputName.replace("fiscal_", "");

            var fiscale = $(this).val();

            fiscale = fiscale.replace(" ", "");

            var juridique = $("input[name=juridique_"+annee+"]").val();

            juridique = juridique.replace(" ", "");

            var conseil = $("input[name=conseil_"+annee+"]").val();

            conseil = conseil.replace(" ", "");

            var autre = $("input[name=autre_"+annee+"]").val();

            autre = autre.replace(" ", "");

            if (conseil === "") conseil = 0;

            if (juridique === "") juridique = 0;

            if (fiscale === "") fiscale = 0;

            if (autre === "") autre = 0;

            var totale = parseInt(juridique) + parseInt(fiscale) + parseInt(conseil) + parseInt(autre);

            $("input[name=total_"+annee+"]").val(totale);

            saveAuto();


        });

        $( "input[name^='conseil_']" ).keyup(function() {
            var inputName = $(this).attr('name');

            var annee = inputName.replace("conseil_", "");

            var conseil = $(this).val();

            conseil = conseil.replace(" ", "");

            var juridique = $("input[name=juridique_"+annee+"]").val();

            juridique = juridique.replace(" ", "");

            var fiscale = $("input[name=fiscal_"+annee+"]").val();

            fiscale = fiscale.replace(" ", "");

            var autre = $("input[name=autre_"+annee+"]").val();

            autre = autre.replace(" ", "");

            if (conseil === "") conseil = 0;

            if (juridique === "") juridique = 0;

            if (fiscale === "") fiscale = 0;

            if (autre === "") autre = 0;


            var totale = parseInt(juridique) + parseInt(fiscale) + parseInt(conseil) + parseInt(autre);

            $("input[name=total_"+annee+"]").val(totale);

            saveAuto();


        });

        $( "input[name^='autre_']" ).keyup(function() {
            var inputName = $(this).attr('name');

            var annee = inputName.replace("autre_", "");

            var autre = $(this).val();

            autre = autre.replace(" ", "");

            var juridique = $("input[name=juridique_"+annee+"]").val();

            juridique = juridique.replace(" ", "");

            var fiscale = $("input[name=fiscal_"+annee+"]").val();

            fiscale = fiscale.replace(" ", "");

            var conseil = $("input[name=conseil_"+annee+"]").val();

            conseil = conseil.replace(" ", "");

            if (conseil === "") conseil = 0;

            if (juridique === "") juridique = 0;

            if (fiscale === "") fiscale = 0;

            if (autre === "") autre = 0;


            var totale = parseInt(juridique) + parseInt(fiscale) + parseInt(conseil) + parseInt(autre);

            $("input[name=total_"+annee+"]").val(totale);

            saveAuto();


        });
        //var nb = numberWithCommas($("input[name='ca_2020']").val());


        {% if questionnaire.id is not null %}

            {% if code %}
                {% if code == questionnaire.code and questionnaire.id == questionnaireRequest.id %}

                {% else %}

                    $('#static').modal('show');

                {% endif %}
            {% else %}
                $('#static').modal('show');

            {% endif %}
        {% endif %}

        {% if user and 'ROLE_ADMIN' in user.roles %}

        {% else %}

            $("input[name$='_2020']").attr('readonly','readonly');

            $('.td_reseau_2020 select').prop('disabled', true).trigger("chosen:updated").prop('disabled',false);

            $('.td_groupe_2020 select').prop('disabled', true).trigger("chosen:updated").prop('disabled',false);

            $('.td_localisation_2020 select').prop('disabled', true).trigger("chosen:updated").prop('disabled',false);

        {% endif %}


        //For code postal
        $.get('/home/code-postal/from-ajax', function(data){

            $("#cabinet_response_codePostal").typeahead({
                source:data,
                autoSelect: false,
                afterSelect: function (response) {
                    //console.log(response);

                }
            });
        },'json');

        //For city
        $.get('/home/ville/from-ajax', function(data){

            $("#cabinet_response_ville").typeahead({
                source:data,
                autoSelect: false,
                afterSelect: function (response) {
                    //console.log(response);

                }
            });
        },'json');


        $("#cabinet_response_codePostal").change(function () {
            $(".loadBody").css('display', 'block');

            var codePostal = $("#cabinet_response_codePostal").val();

            $.ajax({
                type: 'post',
                url: '/home/set-ville/from-ajax',
                data: {codePostal: codePostal},
                success: function (nameCity) {

                    $("#cabinet_response_ville").val(nameCity);

                    $(".loadBody").css('display', 'none');

                    return false;

                },
                error: function () {
                    $(".loadBody").css('display', 'none');

                }
            });

            return false;
        });

        //For departement
        $.get('/home/departement/from-ajax', function(data){

            $("#cabinet_response_departement").typeahead({
                source:data,
                autoSelect: false,
                afterSelect: function (response) {
                    //console.log(response);

                }
            });
        },'json');

        //For region
        $.get('/home/region/from-ajax', function(data){

            $("#cabinet_response_region").typeahead({
                source:data,
                autoSelect: false,
                afterSelect: function (response) {
                    //console.log(response);

                }
            });
        },'json');

        //For departement
        /*$.get('/home/departement/from-ajax', function(data){

            $("input[name^='localisation_']").typeahead({
                source:data,
                autoSelect: false,
                afterSelect: function (response) {
                    //console.log(response);

                }
            });
        },'json');*/

    } );

    function numberWithCommas(number) {

        number = number.toString().replace(" ", "");


        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    }

    function testInput(str) {

        var regex = new RegExp("^[a-zA-Z ]*$");

        if (regex.test(str)) {
            return true;
        }

        return false;
    }
    
    function saveAuto() {

        {% if questionnaire.id is not null %}

        {% else %}
            return false;
        {% endif %}


        $(".loadBody").css('display', 'block');

        var form = $("form[name='cabinet_response']");

        var action = form.attr('action');

        var data = form.serializeArray();

        $.ajax({
            type: 'post',
            url: action,
            data: data,
            success: function (response) {


                $("#table_ca input[name^='ca']").each(function () {

                    $(this).val(numberWithCommas($(this).val()));
                });


                $("#table_fiscal input").each(function () {
                    $(this).val(numberWithCommas($(this).val()));
                });

                $(".loadBody").css('display', 'none');

                return false;

            },
            error: function () {
                $(".loadBody").css('display', 'none');

            }
        });



        return false;
        
    }

    function addGroupeNational(type, idQuestionnaire, annee, annee1, annee2){
        $(".loadBody").css('display', 'block');

        var nom = $("#nouveau_"+type+" input[name='nom']").val();

        $.ajax({
            type: 'post',
            url: '/questionnaire-lpc/addGroupe/from-ajax',
            data: {type: type, idQuestionnaire: idQuestionnaire, annee: annee, annee1: annee1, annee2: annee2, nom: nom },
            success: function (response) {

                $(".tr_"+type).replaceWith(response);

                $(".loadBody").css('display', 'none');

                $('#nouveau_'+type).modal('hide');

                return false;

            },
            error: function () {
                $(".loadBody").css('display', 'none');

            }
        });

        return false;
    }
    
    function convertApiPdf() {

        $('.loadBodyTexte').css('display', 'block');

        {% if questionnaire.id is not null %}
            var url =  'https://www.laprofessioncomptable.com/questionnaire/{{ questionnaire.id }}/{{ questionnaire.etude.annee }}?code={{ code }}';
            //var url =  'https://awslpc.athdata.net/questionnaire/{{ questionnaire.id }}/{{ questionnaire.etude.annee }}?code={{ code }}';

            //var url ="https://www.laprofessioncomptable.com/questionnaire/356/2022?code=c3ead7";
        {% else %}
            var url =  'https://www.laprofessioncomptable.com/questionnaire/{{ questionnaire.etude.annee }}';
            //var url =  'https://awslpc.athdata.net/questionnaire/{{ questionnaire.etude.annee }}';
        {% endif %}

        $.ajax({
            type: 'POST',
            //url: 'https://v2.convertapi.com/convert/web/to/pdf?Secret=U93LuWIVYl0tQn2j', // Any URL mrazafimandimby@bocasay.com
            //url: 'https://v2.convertapi.com/convert/web/to/pdf?Secret=kxBJp7tfB0hqGSV1', // Any URL marcel.razafimandimby@gmail.com
            //url: 'https://v2.convertapi.com/convert/web/to/pdf?Secret=590AmgqkwLdSYPZP', // Any URL myevalathdata@gmail.com
              url: 'https://v2.convertapi.com/convert/web/to/pdf?Secret=PraBzqXZwF9WGOM7', // Any URL fecathdata@gmail.com
            //data: $('#convertAPI').serialize(), // Serialize the form data
            data: {Url: url , StoreFile: true, FileName: "Etude nationale 2023"},
            success: function(data) { // If 200 OK

                $.ajax({
                    type: 'POST',
                    //url: 'https://v2.convertapi.com/convert/web/to/pdf?Secret=U93LuWIVYl0tQn2j', // Any URL
                    //url: 'https://v2.convertapi.com/convert/web/to/pdf?Secret=kxBJp7tfB0hqGSV1', // Any URL
                    //url: 'https://v2.convertapi.com/convert/web/to/pdf?Secret=590AmgqkwLdSYPZP', // Any URL
                    url: 'https://v2.convertapi.com/convert/web/to/pdf?Secret=PraBzqXZwF9WGOM7', // Any URL fecathdata@gmail.com
                    //data: $('#convertAPI').serialize(), // Serialize the form data
                    data: {Url: url , StoreFile: true, FileName: "Etude nationale 2023"},
                    success: function(data) { // If 200 OK
                        //alert('Success response: ' + data.Files[0].Url);

                        var pdfFile = data.Files[0].Url;

                        window.open(pdfFile);

                        $('.loadBodyTexte').css('display', 'none');
                    },
                    error: function(xhr, text, error) { // If 40x or 50x; errors
                        alert('Error: ' + error);
                    }
                });

                /*var pdfFile = data.Files[0].Url;

                window.open(pdfFile);

                $('.loadBodyTexte').css('display', 'none');*/
            },
            error: function(xhr, text, error) { // If 40x or 50x; errors
                alert('Error: ' + error);
            }
        });

        return false;
    }

    function jeValide()
    {
        
        $("#checkJevalide").val(1);
        setTimeout(function() { 
            
            }, 2000);

        

        return true;
    }
</script>
</body>

</html>

