{% extends 'base.html.twig' %}

{% block body %}
    <h1>Questionnaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ questionnaire.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if questionnaire.createdAt %}{{ questionnaire.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ questionnaire.token }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{% if questionnaire.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Hasresponse</th>
                <td>{% if questionnaire.hasResponse %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Nbsend</th>
                <td>{{ questionnaire.nbSend }}</td>
            </tr>
            <tr>
                <th>Responseat</th>
                <td>{% if questionnaire.responseAt %}{{ questionnaire.responseAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Destinataire</th>
                <td>{{ questionnaire.destinataire }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ questionnaire.email }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ questionnaire.code }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_questionnaire_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_questionnaire_edit', { 'id': questionnaire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
