{% extends 'base-externe.html.twig' %}

{% block title %}
  Mes commandes
{% endblock title%}

{% block ariane %}
  <div class="fil-ariane">
    <h1>Mes commandes</h1>
  </div>
{% endblock ariane %}



{% block body %}

  <ul class="list-unstyled">
      {% for key, messages in app.session.flashbag.all() %}
        <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
            {% for message in messages %}
                {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
            {% endfor %}
        </li>
      {% endfor %}

  </ul>

  <div class="mes-commandes">
    <h2>
      Mon historique de commandes
    </h2>

    {% if achats|length > 0 %}

      <div class="container commande-list">
        <table>
          <tbody>
          {% if abonnement %}
            <tr>
              <td>{{ abonnement[0].dateStart|date('d.m.Y') }} <br>au <br>{{ abonnement[0].dateEnd|date('d.m.Y')}}</td>
              <td>Abonnement prime{% if abonnement[0].qtt %} (x{{ abonnement[0].qtt }}) {% else %} {% endif %}</td>
              <td>&nbsp;</td>
              <td>Statut : <strong>terminé</strong></td>
              <td>{{ abonnement[0].prix }}&euro; TTC</td>


            </tr>
          {% elseif 'ROLE_ABONNE' in app.user.roles or  app.user.paidSubscriber ==1 %}
            <tr>
              <td>Jusqu'au <br>{{ app.user.endSubscriptionDate|date('d.m.Y') }}</td>
              <td>Abonnement prime</td>
              <td>&nbsp;</td>
              <td>Statut : <strong>terminé</strong></td>
              <td>{{ prixAbonnement }}&euro; TTC</td>


            </tr>
          {% endif %}
            {% for achat in achats %}
              {% set produit = achat.produit %}
              <tr>
                <td>{{ achat.dateAchat|date('d.m.Y') }}</td>
                <td title="{{ produit.nom }}">{{ produit.nom|striptags|truncate(40, true)|raw  }} (x {{ achat.qtt }})</td>

                <td>Statut : <strong>terminé</strong></td>
                <td>{{ produit.prix*achat.qtt }}&euro; TTC</td>

                <td>
                  {% if produit.linkArticle %}
                    <a href="{{ produit.linkArticle }}" target="_blank">
                      <img src="{{ asset('images/download.png') }}">
                    </a>
                  {% elseif produit.pdf %}
                  <a href="{{ asset('uploads/pdf/produit/' ~ produit.pdf) }}" target="_blank">
                    <img src="{{ asset('images/download.png') }}">
                  </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div> <!-- container -->
      {% elseif abonnement %}
        <div class="container commande-list">
              <table>
                <tbody>
                  <tr>
                    <td>{{ abonnement[0].dateStart|date('d.m.Y') }} <br>au <br>{{ abonnement[0].dateEnd|date('d.m.Y')}}</td>
                    <td>Abonnement prime{% if abonnement[0].qtt %} (x{{ abonnement[0].qtt }}) {% else %} {% endif %}</td>
                    <td>&nbsp;</td>
                    <td>Statut : <strong>terminé</strong></td>
                    <td>{{ abonnement[0].prix }}&euro; TTC</td>


                  </tr>
                </tbody>
              </table>
        </div>
        {% elseif 'ROLE_ABONNE' in app.user.roles or  app.user.paidSubscriber ==1 %}
    <div class="container commande-list">
      <table>
        <tbody>
        <tr>
          <td>Jusqu'au <br>{{ app.user.endSubscriptionDate|date('d.m.Y') }}</td>
          <td>Abonnement prime</td>
          <td>&nbsp;</td>
          <td>Statut : <strong>terminé</strong></td>
          <td>{{ prixAbonnement }}&euro; TTC</td>


        </tr>
        </tbody>
      </table>
    </div>
    {% else %}
      <p>Vous n'avez pas encore acheté de produit LPC</p>
      <p>
      Vous pouvez aller
      <a href="{{ path('front_boutique') }}">
        consulter la boutique
      </a>
      </p>
    {% endif %}
  </div>
{% endblock body %}

