{% extends 'base.admin.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Liste Tags</li>
    </ol>
    <h1>Liste Tags</h1>
    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Home</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>

                <td>{{ tag.nom }}</td>
                <td>{% if tag.home == 1 %}<span class="glyphicon glyphicon-ok" style="color: #00a65a;"></span>{% else %}<span class="glyphicon glyphicon-remove" style="color: red;"></span>{% endif %}</td>
                <td>
                    <ul class="list-unstyled action ">
                        {% if (tag.position+1) != tags|length %}
                            <li class="inline">
                                <a href="{{ path('admin_tags_sort', { 'id': tag.id,'position':tag.position+1 }) }}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> </a>
                            </li>
                        {% endif %}
                        {% if (tag.position-1)!= -1 %}
                            <li class="inline">
                                <a href="{{ path('admin_tags_sort', { 'id': tag.id,'position':tag.position-1 }) }}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true" ></span></a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
                <td>
                    <ul class="list-unstyled action ">
                        <li class="inline">
                            <a href="{{ path('admin_tags_edit', { 'id': tag.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                        </li>
                        <li class="inline">
                            <a href="{{ path('admin_tags_delete', { 'id': tag.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                        </li>
                    </ul>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="list-unstyled action">
        <li >
            <a href="{{ path('admin_tags_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouveau Tag</a>
        </li>

    </ul>

{% endblock %}
