{% extends 'base.admin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
    <style type="text/css">
        .actionBO_article{
            width: 20%!important;
        }
        .modal-body .row{
            margin-bottom: 10px;
        }
        .modal-body .row select{
            width: 200px;
        }
        #article_filter_auteur{
            width: 200px;
        }
        #article_filter_titre{
            width: 100%;
        }
        .select2-selection__choice{
            color: black!important;
        }
        input[type="radio"]{
            margin: 5px 10px 0;
        }
        .content-wrapper{
            background-color: oldlace;
        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





{% endblock %}

{% block body %}
  <div id="app">
    <div id="app">
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Liste Articles archivés</li>
    </ol>
    <h1>Liste Articles Archivés</h1>
    <ul class="list-unstyled">
    {% for key, messages in app.session.flashbag.all() %}
        <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
            {% for message in messages %}
                {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>



    <table class="table table-striped table-hover" id="articles">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Catégorie</th>
                 <th>Contenu</th>
                <th>Auteur</th>
                <th>Status</th>
                <th>Premium</th>
                <th>Date création</th>
                <th>Date publication</th>
                <th>Type</th>
                <th>Slug</th>
                <th class="actionBO_article">Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for archive in archives %}
            {% set article = archive.article %}
            <tr>
                <td>{{ article.titre|striptags|truncate(30, true)|raw }}</td>
                <td v-if="show">{{ article.categorie }}</td>
                <td>{{ article.contenu|striptags|truncate(50, true)|raw }}</td>
                <td>{{ article.auteur }}</td>
                <td>{{ article.statusLib }}</td>
                <td align="center">{% if article.premium == 1 %}Oui{% else %}Non{% endif %}</td>
                <td >{{ article.dateCreation|date("Y-m-d") }}</td>
                <td >{% if article.datePublication %}{{ article.datePublication|date("Y-m-d") }}{% endif %}</td>
                <td >{{ article.type }}</td>
                <td >{{ article.slug }}</td>
                <td>
                    <ul class="list-unstyled action ">

                        <li class="inline">
                            <a href="{{ path('admin_archive_restaurer', { 'id': archive.id }) }}" onclick="return restaurerArticle();"><span class="glyphicon glyphicon glyphicon-duplicate" aria-hidden="true" ></span> Restaurer </a>
                        </li>
                        <li class="inline">
                            <a href="{{ path('admin_article_delete', { 'id': article.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


    <script type="application/javascript">
        $(document).ready(function() {
            $('#article_filter_categorie, #article_filter_type, #article_filter_status, #article_filter_auteur').select2({
                dropdownParent: $("#modal-default")
            });

            $('#articles').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    { extend: 'colvis', text: 'Colonne affichées' }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "pageLength": 50,
                "order": [[ 6, 'desc' ]]

            });
            var tableArticle = $('#articles').DataTable();

            var columnTitre = ["Titre",
                "Catégorie",
                "Contenu",
                "Auteur",
                "Status",
                "Premium",
                "Date création",
                "Date publication",
                "Type",
                "Slug"];

            for (var i=0; i<columnTitre.length ; i++){
                if (i=== 0 || i=== 1 || i===3 || i=== 4 || i===5 || i===6 || i===7) {
                    tableArticle.column(i).visible(true);
                } else {
                    tableArticle.column(i).visible(false);
                }

            }

            $(".actionBO").css("width","245px!important");


        } );

        function restaurerArticle(){
            var messageConfirm ="Voulez vous vraiement le restaurer?";
            if(confirm( messageConfirm )){
                return true;
            }else{
                return false;
            }
        }
        
        function resetChamp() {
            $("#article_filter_titre").val("");
            $("#article_filter_categorie").val("");
            $("#article_filter_type").val("");
            $("#article_filter_status").val("");
            $("#article_filter_auteur").val("");

            $('#article_filter_premium').iCheck('uncheck');
            $('#article_filter_homePage').iCheck('uncheck');
            $('#article_filter_revuePage').iCheck('uncheck');

            $("#article_filter_dateCreation").val("");
            $("#article_filter_datePublication").val("");
            return false;
        }

    </script>


{% endblock %}
