@font-face {
    font-family: 'alberbold';
    src: url('#{$fa-font-path}/alber-bold-webfont.woff2') format('woff2'),
         url('#{$fa-font-path}/alber-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alberlight';
    src: url('#{$fa-font-path}/alber-light-webfont.woff2') format('woff2'),
         url('#{$fa-font-path}/alber-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'albermedium';
    src: url('#{$fa-font-path}/alber-medium-webfont.woff2') format('woff2'),
         url('#{$fa-font-path}/alber-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alberregular';
    src: url('#{$fa-font-path}/alber-regular-webfont.woff2') format('woff2'),
         url('#{$fa-font-path}/alber-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'Font Awesome 5 solid';
  font-style: normal;
  font-weight: 900;
  src: url('#{$fa-font-path}/fa-solid-900.eot');
  src:  url('#{$fa-font-path}/fa-solid-900.woff2') format('woff2'),
  url('#{$fa-font-path}/fa-solid-900.woff') format('woff');
}

@font-face {
  font-family: 'Font Awesome 5 regular';
  font-style: normal;
  font-weight: 900;
  src: url('#{$fa-font-path}/fa-regular-400.woff2') format('woff2'),
        url('#{$fa-font-path}/fa-regular-400.woff') format('woff');

}

@font-face {
  font-family: 'Font Awesome 5 brands';
  font-style: normal;
  font-weight: 400;
  src: url('#{$fa-font-path}/fa-brands-400.woff2') format('woff2'),
        url('#{$fa-font-path}/fa-brands-400.woff') format('woff');

}

.fas {
  font-family: 'Font Awesome 5 solid';
  font-weight: 900;
}

.fa {
    font-family: 'Font Awesome 5 regular';
    font-weight: 400;
}


.fab {
    font-family: 'Font Awesome 5 brands';
    font-weight: 400;
}