$gris: #7e7e7e;
$gris-clair: #f4f4f4;
$gris-border: #eee;
$blanc: #fff;
$color-blue: #00a0e6;
$color-black: #212529;
$blue : blue;
$gris-blue: #122337;
$primary : #1e2839;
$secondary : #009fe3;
$grey-txt : #9b9b9b;
$grey-clair : #c4c5c5;
$cart-dark-blue: #d5eff9;
$light-blue: #def5fb;
$red: #fb2929;
$less-light-blue: #d0f0fb;
