{% extends "base-externe.html.twig" %}

{% block title %}{{ meta.title }}{% endblock %}
{% block description %}{{ meta.description|raw }}{% endblock %}
{% block robots %}{{ parent() }}{% endblock %}
{% block stylesheets %}
<style type="text/css">
    .contenu{
        font-family: alberregular;font-size: 16px;
    }
</style>
{% endblock %}

{% block body %}

    <div class="row information">
        <div class="content-box col-12">
            <div class="contenu">
                {{ page.contenu|raw }}
            </div>


        </div>

    </div>
{% endblock %}
