{% extends 'main/Boutique/base.html.twig' %}

{% block boutique_content %}
  <div class="content-box col-12">
    <h2 class="text-center" style="font-size:20px; font-weight: bold;"> Votre paiement a échoué </h2>

    <p class="text-center" style="font-size: 14px;">

    </p>
    <p class="text-center" style="font-size: 14px;">
      Si le problème persiste, n'hésitez pas à nous contacter par : <br/>
      Tél: 01 42 96 18 97<br/>
      email: <a href="mailto:c.demarco@bba.fr?subject=LCP : Paiement CB échoué">c.demarco@bba.fr</a>
    </p>
  </div>
{% endblock boutique_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            let isMobile = window.matchMedia("only screen and (max-width: 990px)");
            if (isMobile.matches) {
                $('#panier-wrapper').hide();
            }
        });
    </script>

{% endblock javascripts %}

