{% extends 'main/Boutique/base.html.twig' %}

{% block title %}
    Page inaccessible | {{ parent()}}
{% endblock title%}

{% block boutique_content %}
  <div class="content-box col-12 boutique top-mobile">

    <h1 class="alert alert-danger" style="font-size:14px;">Page inaccessible - Désolé, vous ne pouvez pas accéder à cette page... merci de vous <a href="/login?urltoredirect={{ app.request.uri }}" >connecter à votre compte</a> ou Abonnez-vous pour profiter des contenus réservés.</h1>
    {% include 'main/Boutique/_abonnement_prime.html.twig' %}

  </div>
{% endblock boutique_content %}
{% block javascripts %}
    {{ parent() }}
  <script type="text/javascript">
      $(document).ready(function () {
          let isMobile = window.matchMedia("only screen and (max-width: 760px)");
          if (isMobile.matches) {
              $('#panier-wrapper').hide();
          }
      });
  </script>

{% endblock javascripts %}

