{% extends 'base.admin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
    <style type="text/css">
        .actionBO_produit{
            width: 20%!important;
        }
    </style>
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Liste Produit</li>
    </ol>
    <h1>Liste Produit</h1>
    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <table class="table table-striped table-hover" id="produits">
        <thead>
            <tr>
                <th>Image</th>
                <th>Rubrique</th>
                <th>Titre</th>
                <th>auteur</th>
                <th>Prix</th>
                <th>Pdf</th>
                <th>Date Parution</th>
                <th>Dispo</th>
                <th class="actionBO_produit">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td align="center">{% if produit.image %}<img src="{{ asset("uploads/images/produit/"~produit.image) }}" width="80px">{% else %}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                <td>{{ produit.rubrique }}</td>
                <td>{{ produit.nom|striptags|truncate(50, true)|raw }}</td>
                <td>{{ produit.auteur }}</td>
                <td>{% if produit.prix %}{{ produit.prix }}{% else %}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                <td>{% if produit.pdf %}<a href="{{ asset("uploads/pdf/produit/"~produit.pdf) }}"><span class="glyphicon glyphicon-edit"></span></a> {% else %}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                <td>{{ produit.dateParution|date("Y-m-d") }}</td>
                <td>{% if produit.disponible %}<span style="color: #00a65a;" class="glyphicon glyphicon-ok"></span> {% else %}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                <td>
                    <ul class="list-unstyled action ">
                        <li class="inline">
                            <a href="{{ path('admin_produit_edit', { 'id': produit.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit </a>
                        </li>
                        <li class="inline">
                            <a href="{{ path('admin_produit_duplicate', { 'id': produit.id }) }}" onclick="return duplicateList();"><span class="glyphicon glyphicon glyphicon-duplicate" aria-hidden="true" ></span> Duplicate </a>
                        </li>
                        <li class="inline">
                            <a href="{{ path('admin_produit_delete_element', { 'id': produit.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled action">
        <li >
            <a href="{{ path('admin_produit_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouveau Produit</a>
        </li>

    </ul>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="application/javascript">
        $(document).ready(function() {
            $('#produits').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "pageLength": 10,
                "order": [[ 6, 'desc' ]]
            });
        } );
        function duplicateList(){
            var messageConfirm ="Voulez vous vraiement le dupliquer?";
            if(confirm( messageConfirm )){
                return true;
            }else{
                return false;
            }
        }
    </script>

{% endblock %}
