{% extends 'base.admin.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        #App_produit_linkArticle {
            width: 60%;
        }
    </style>

{% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><a href="{{ path('admin_produit_index') }}">Liste Produits</a></li>
        <li class="active">Nouveau Produit</li>
    </ol>
    <h1>Nouveau Produit</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Valider" class="btn btn-primary" />

        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
