{% extends "base.admin.html.twig" %}

{% block title %}{{ parent()}}{% endblock %}

{% block body %}
<h1 class="text-center h1-bienvenue">Bienvenue dans l'interface d'administration</h1>
{% endblock %}
