<h2> Je m'inscris </h2>

<div class="identification" id="identification">
  {{ form_start(registrationForm, {'attr': {'id':'order_registration'}}) }}
  <div class="row">
    <div class="{% if not registrationForm.nom.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.nom) }}
      {{ form_widget(registrationForm.nom, {'attr': {'placeholder': 'Nom *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="{% if not registrationForm.prenom.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.prenom) }}
      {{ form_widget(registrationForm.prenom, {'attr': {'placeholder': 'Prénom *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="{% if not registrationForm.profession.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.profession) }}
      {{ form_widget(registrationForm.profession, {'attr': {'placeholder': 'Profession *', 'onchange': 'return checkProfession(this.value)'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row autreProfession" style="display: none;">
    <div class="{% if not registrationForm.autreProfession.vars.valid %}has-error{% endif %} col-lg-12">
        {{ form_errors(registrationForm.autreProfession) }}
        {{ form_widget(registrationForm.autreProfession, {'attr': {'placeholder': 'Autre profession'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="{% if not registrationForm.societe.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.societe) }}
      {{ form_widget(registrationForm.societe, {'attr': {'placeholder': 'Société'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="{% if not registrationForm.adresseFacturation1.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.adresseFacturation1) }}
      {{ form_widget(registrationForm.adresseFacturation1, {'attr': {'placeholder': 'Adresse *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="{% if not registrationForm.adresseFacturation2.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.adresseFacturation2) }}
      {{ form_widget(registrationForm.adresseFacturation2, {'attr': {'placeholder': 'Adresse - ligne 2'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="{% if not registrationForm.codePostal.vars.valid %}has-error{% endif %} col-lg-6">
      {{ form_errors(registrationForm.codePostal) }}
      {{ form_widget(registrationForm.codePostal, {'attr': {'placeholder': 'Code postal *'}}) }}
    </div> <!-- col -->
    <div class="{% if not registrationForm.ville.vars.valid %}has-error{% endif %} col-lg-6">
      {{ form_errors(registrationForm.ville) }}
      {{ form_widget(registrationForm.ville, {'attr': {'placeholder': 'Ville *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="{% if not registrationForm.telephone.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.telephone) }}
      {{ form_widget(registrationForm.telephone, {'attr': {'placeholder': 'Téléphone *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="{% if not registrationForm.email.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.email) }}
      {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="{% if not registrationForm.plainPassword.first.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.plainPassword.first) }}
      {{ form_widget(registrationForm.plainPassword.first, {'attr': {'placeholder': 'Mot de passe *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="{% if not registrationForm.plainPassword.second.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.plainPassword.second) }}
      {{ form_widget(registrationForm.plainPassword.second, {'attr': {'placeholder': 'Confirmation de mot de passe *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="shipping-address">
    <div class="row">
      <div class="col-sm-2">
        <input type="checkbox" id="show-shipping-address" v-model="showShippingAddress">
      </div> <!-- col -->
      <div class="col-sm-10">
        <label for="show-shipping-address">Adresse de livraison différente</label>
      </div> <!-- col -->
    </div> <!-- row -->

    <div class="row" v-if="showShippingAddress">
      <div class="{% if not registrationForm.nomLivraison.vars.valid %}has-error{% endif %} col-lg-12">
        {{ form_errors(registrationForm.nomLivraison) }}
        {{ form_widget(registrationForm.nomLivraison, {'attr': {'placeholder': 'Nom *', 'required':'required'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row" v-if="showShippingAddress">
      <div class="{% if not registrationForm.prenomLivraison.vars.valid %}has-error{% endif %} col-lg-12">
        {{ form_errors(registrationForm.prenomLivraison) }}
        {{ form_widget(registrationForm.prenomLivraison, {'attr': {'placeholder': 'Prénom *', 'required':'required'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row" v-if="showShippingAddress">
      <div class="{% if not registrationForm.societeLivraison.vars.valid %}has-error{% endif %} col-lg-12">
        {{ form_errors(registrationForm.societeLivraison) }}
        {{ form_widget(registrationForm.societeLivraison, {'attr': {'placeholder': 'Société'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row" v-if="showShippingAddress">
      <div class="{% if not registrationForm.adresseLivraison1.vars.valid %}has-error{% endif %} col-lg-12">
        {{ form_errors(registrationForm.adresseLivraison1) }}
        {{ form_widget(registrationForm.adresseLivraison1, {'attr': {'placeholder': 'Adresse *', 'required':'required'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row" v-if="showShippingAddress">
      <div class="{% if not registrationForm.adresseLivraison2.vars.valid %}has-error{% endif %} col-lg-12">
        {{ form_errors(registrationForm.adresseLivraison2) }}
        {{ form_widget(registrationForm.adresseLivraison2, {'attr': {'placeholder': 'Adresse - ligne 2'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row" v-if="showShippingAddress">
      <div class="{% if not registrationForm.codePostalLivraison.vars.valid %}has-error{% endif %} col-lg-6">
        {{ form_errors(registrationForm.codePostalLivraison) }}
        {{ form_widget(registrationForm.codePostalLivraison, {'attr': {'placeholder': 'Code postal *', 'required':'required'}}) }}
      </div> <!-- col -->
      <div class="{% if not registrationForm.villeLivraison.vars.valid %}has-error{% endif %} col-lg-6">
        {{ form_errors(registrationForm.villeLivraison) }}
        {{ form_widget(registrationForm.villeLivraison, {'attr': {'placeholder': 'Ville *', 'required':'required'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->
  </div>

  <div class="row">
    <div class="col-sm-2">
      {{ form_widget(registrationForm.conditionsAccepted,{'attr':{'required':'required'}}) }}
    </div> <!-- col -->
    <div class="col-sm-10">
      <label for="order_registration_conditionsAccepted">
        J'ai pris connaissance des conditions d'utilisation de mes données personnelles.
        <a href="{{ path("page_information",{'slug':'conditions-generales-de-vente'}) }}" title="En savoir plus" target="_blank">
          En savoir plus
        </a>
      </label>
    </div> <!-- col -->
  </div> <!-- row -->



  <div class="button-right">
    <input class="btn btn-abonne" type="submit" value="Je m'inscris">
  </div>

  {{ form_end(registrationForm) }}

</div>
