{% extends 'main/Boutique/base.html.twig' %}

{% block title %}Identification - Ma Commande - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .easy-autocomplete ul li{
            color: #1e2839;
        }
        #order_registration_codePostal{
            box-shadow: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
    <!-- JS file -->
    <script src="{{ asset('js/easyautocomplete/jquery.easy-autocomplete.min.js') }}"></script>
    <!-- CSS file -->
    <link rel="stylesheet" href="{{ asset('js/easyautocomplete/easy-autocomplete.min.css')}}">
  <script type="text/javascript">
      $(document).ready(function () {
          let isMobile = window.matchMedia("only screen and (max-width: 990px)");
          if (isMobile.matches) {
              $('#panier-wrapper').hide();
          }

          var options = {
              url: "/uploads/codes_postaux_2.json",
              getValue: function(element) {
                  return element.Codepos+' '+element.Commune;
              },
              list: {
                  match: {
                      enabled: true
                  },
                  onSelectItemEvent: function() {
                      var Commune = $("#order_registration_codePostal").getSelectedItemData().Commune;
                      var Commune_2 = Commune[0].toUpperCase() + Commune.slice(1).toLowerCase();
                      var codePos = $("#order_registration_codePostal").getSelectedItemData().Codepos;
                      $("#order_registration_ville").val(Commune_2).trigger("change");
                      $("#order_registration_codePostal").val(codePos).trigger("change");
                  }
              }

          };

          $("#order_registration_codePostal").easyAutocomplete(options);

      });
      $(function () {
          $( "#order_registration" ).submit(function( event ) {
                 var telephone = $("#order_registration_telephone").val();
                 var nom = $("#order_registration_telephone").val();
                 var prenom = $("#order_registration_telephone").val();

                 if (! validatePhone(telephone)) {
                     alert("Merci de vérifier votre numero de téléphone !!");
                     return false;
                 }

          });

      });

      function validatePhone($num) {
          var valide=new RegExp(/^[\+|0|1-9][0-9-(-)]{9,20}$/);
          return valide.test( $num );
      }
  </script>

{% endblock javascripts %}

{% block boutique_content %}
<div class="boutique">
  <div class="row">
    <div class="col-lg-6 form-style">
      {% include 'main/Boutique/Identification/_inscription.html.twig' %}
    </div> <!-- col -->
    <div class="col-lg-6">
      {% include 'main/Boutique/Identification/_login.html.twig' %}
    </div> <!-- col -->
  </div> <!-- row -->
</div>
{% endblock boutique_content %}

