{% extends 'base.admin.html.twig' %}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <style type="text/css">
        .select2-container{
            width: 500px!important;
        }
    </style>
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Articles à la une</li>
    </ol>
    <h1>Articles à la une</h1>
    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    {{ form_start(form) }}
    <table id="unes-selection">
      <tbody>
        <tr>
          <td rowspan="4">
            <p>{{ form_label(form.article1) }}</p>
            {{ form_widget(form.article1, {'attr': {'class': 'une-select2'}}) }}
          </td>
          <td>
            <p>{{ form_label(form.article2) }}</p>
            {{ form_widget(form.article2, {'attr': {'class': 'une-select2'}}) }}
          </td>
        </tr>
        <tr>
          <td>
            <p>{{ form_label(form.article3) }}</p>
            {{ form_widget(form.article3, {'attr': {'class': 'une-select2'}}) }}
          </td>
        </tr>
        <tr>
            <td>
                <p>{{ form_label(form.article4) }}</p>
                {{ form_widget(form.article4, {'attr': {'class': 'une-select2'}}) }}
            </td>
        </tr>
        <tr>
            <td>
                <p>{{ form_label(form.article5) }}</p>
                {{ form_widget(form.article5, {'attr': {'class': 'une-select2'}}) }}
            </td>
        </tr>
      </tbody>
    </table>

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary', 'style': 'margin: 10px'} }) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.une-select2').select2();
        });
    </script>
{% endblock %}
