{% extends 'base.admin.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <style type="text/css">
        #App_achat_user, #App_achat_produit{
            width: 35%;
        }
        #App_achat_qtt, #App_achat_prixUnitaire, #App_achat_prixTotale,
        #App_achat_tva, #App_achat_dateAchat, #App_achat_typePaiement{
            width: 15%;
        }
    </style>


{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><a href="{{ path('admin_user_edit', {"id": user.id}) }}">{{ user.prenom }} {{ user.nom }}r</a></li>
        <li class="active">Ajout produit </li>
    </ol>
    <h1>Ajout produit to <strong>{{ user.prenom }} {{ user.nom }}</strong></h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Valider" class="btn btn-primary" />

        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.une-select2').select2();
        });
    </script>
{% endblock %}
