<h2> Je m'inscris </h2>

<div class="identification" id="identification">
  {{ form_start(registrationForm, {'attr': {'id':'order_registration'}}) }}
  <input type="hidden" name="routeToArticle" value="{{ routeToArticle }}">
  <div class="row">
    <div class="{% if not registrationForm.nom.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.nom) }}
      {{ form_widget(registrationForm.nom, {'attr': {'placeholder': 'Nom *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="{% if not registrationForm.prenom.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.prenom) }}
      {{ form_widget(registrationForm.prenom, {'attr': {'placeholder': 'Prénom *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->



  <div class="row">
    <div class="{% if not registrationForm.email.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.email) }}
      {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="{% if not registrationForm.plainPassword.first.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.plainPassword.first) }}
      {{ form_widget(registrationForm.plainPassword.first, {'attr': {'placeholder': 'Mot de passe *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="{% if not registrationForm.plainPassword.second.vars.valid %}has-error{% endif %} col-lg-12">
      {{ form_errors(registrationForm.plainPassword.second) }}
      {{ form_widget(registrationForm.plainPassword.second, {'attr': {'placeholder': 'Confirmation de mot de passe *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-sm-2">
      {{ form_widget(registrationForm.conditionsAccepted,{'attr':{'required':'required'}}) }}
    </div> <!-- col -->
    <div class="col-sm-10">
      <label for="order_registration_conditionsAccepted">
        J'ai pris connaissance des conditions d'utilisation de mes données personnelles.
        <a href="{{ path("page_information",{'slug':'conditions-generales-de-vente'}) }}" title="En savoir plus" target="_blank">
          En savoir plus
        </a>
      </label>
    </div> <!-- col -->
  </div> <!-- row -->



  <div class="button-right">
    <input class="btn btn-abonne" type="submit" value="Je m'inscris">
  </div>

  {{ form_end(registrationForm) }}

</div>
