<h2>Je me connecte</h2>

<div class="identification">
  {{ form_start(loginForm) }}
  <input type="hidden" name="routeToArticle" value="{{ routeToArticle }}">
  <div class="row">
    <div class="col-lg-12">
      {{ form_errors(loginForm.username) }}
      {{ form_widget(loginForm.username, {'attr': {'placeholder': 'Email *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-lg-12">
      {{ form_errors(loginForm.password) }}
      {{ form_widget(loginForm.password, {'attr': {'placeholder': 'Mot de passe *'}}) }}
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-lg-12 forgot-password">
    <span>
      <a href="{{ path('fos_user_resetting_request')}}">
        mot de passe perdu ?
      </a>
    </span>
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="button-right">
    <input class="btn btn-abonne"type="submit" value="Je m'identifie">
  </div>

  {{ form_end(loginForm) }}

</div>
