<!-- Rigth Sidebar commentaire -->
<div id="CommentSidenav" class="sidenav-comment">
    <div class="side-header">
        <span  class="closebtn" onclick="closeSidenav()"><img src="{{asset('images/icon-arow.svg')}}"></span>
        <p class="count-comment">8 commentaires</p>
    </div>
    <div class="side-body">
        <div class="comm-header" id="com-header" onclick="openCom()">
            <p>Ajouter commentaire</p>
        </div>
        <div class="com-body" id="comm-body">
            <span class="span-add-com">Ajout de commentaire</span>
            <span class="cancel-com" onclick="closeaddcom()" id="btn-cancel-com">Annuler</span>
            <div class="text-com">
                <form>
                                                                <textarea class="txt-area" placeholder="Votre commentaire..." id="txte-area" onfocus="focusTextArea()" onfocusout="focusoutTextArea()">

                                                                </textarea>
                    <div class="btn-content">
                        <input type="submit" class="btn btn-primary btn-ajouter" value="Ajouter">
                        <a class="btn btn-primary btn-connex">Se connecter</a>
                        <a class="btn btn-primary btn-inscr">S'inscrire</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="side-body-comment">
        <section class="section-comment">
            <div class="un_comment">
                <div class="comment-poster">
                    <img src="{{ asset('images/user.jpg')}}"  class="img-avatar">
                    <span class="name-user">Martin johnson</span>
                    <span class="date-post">21 hours ago</span>
                </div>
                <div class="txt-post" id="txte-post">
                    NetApp INT. is paying as much as $50 every thirty mins! Work for just a few hrs a day and afford yourself much more time to enjoy with your family and best friends. Last Wednesday I acquired a thrilling YAMAHA Mwt-9, a three
                </div>
                <div class="link-post-content">
                    <a href="#txte-area" class="link-post link-reply" onclick="openCom()">Reply</a>
                    <a href="#txte-area" class="link-post link-edit" onclick="recupEdit()">Edit</a>
                    <a class="link-post link-delete">Delete</a>
                </div>
                <section class="respons-contain">
                    <div class="comment-poster">
                        <img src="{{ asset('images/user.jpg')}}"  class="img-avatar">
                        <span class="name-user">John Doe</span>
                        <span class="date-post">21 hours ago</span>
                    </div>
                    <div class="txt-post" id="txte-response">
                        Sed si ille hac tam eximia fortuna propter utilitatem rei publicae frui non properat, ut omnia illa conficiat, quid ego, senator, facere debeo, quem, etiamsi ille aliud vellet, rei publicae consulere oportere
                    </div>
                    <div class="link-post-content">
                        <a href="#txte-area" class="link-post link-reply" onclick="openCom()">Reply</a>
                        <a href="#txte-area" class="link-post link-edit" onclick="recupEditresponse()">Edit</a>
                        <a class="link-post link-delete">Delete</a>
                    </div>
                    <section class="respons-contain">
                        <div class="comment-poster">
                            <img src="{{ asset('images/user.jpg')}}"  class="img-avatar">
                            <span class="name-user">John Doe</span>
                            <span class="date-post">21 hours ago</span>
                        </div>
                        <div class="txt-post" id="txte-response">
                            Sed si ille hac tam eximia fortuna propter utilitatem rei publicae frui non properat, ut omnia illa conficiat, quid ego, senator, facere debeo, quem, etiamsi ille aliud vellet, rei publicae consulere oportere
                        </div>
                        <div class="link-post-content">
                            <a href="#txte-area" class="link-post link-reply" onclick="openCom()">Reply</a>
                            <a href="#txte-area" class="link-post link-edit" onclick="recupEditresponse()">Edit</a>
                            <a class="link-post link-delete">Delete</a>
                        </div>
                    </section>
                </section>
                <section class="respons-contain">
                    <div class="comment-poster">
                        <img src="{{ asset('images/user.jpg')}}"  class="img-avatar">
                        <span class="name-user">John Doe</span>
                        <span class="date-post">21 hours ago</span>
                    </div>
                    <div class="txt-post" id="txte-response">
                        Sed si ille hac tam eximia fortuna propter utilitatem rei publicae frui non properat, ut omnia illa conficiat, quid ego, senator, facere debeo, quem, etiamsi ille aliud vellet, rei publicae consulere oportere
                    </div>
                    <div class="link-post-content">
                        <a href="#txte-area" class="link-post link-reply" onclick="openCom()">Reply</a>
                        <a href="#txte-area" class="link-post link-edit" onclick="recupEditresponse()">Edit</a>
                        <a class="link-post link-delete">Delete</a>
                    </div>
                </section>
            </div>
            <div class="un_comment">
                <div class="comment-poster">
                    <img src="{{ asset('images/user.jpg')}}"  class="img-avatar">
                    <span class="name-user">Marcel Marc</span>
                    <span class="date-post">21 hours ago</span>
                </div>
                <div class="txt-post" id="txte-post">
                    NetApp INT. is paying as much as $50 every thirty mins! Work for just a few hrs a day and afford yourself much more time to enjoy with your family and best friends. Last Wednesday I acquired a thrilling YAMAHA Mwt-9, a three
                </div>
                <div class="link-post-content">
                    <a href="#txte-area" class="link-post link-reply" onclick="openCom()">Reply</a>
                    <a href="#txte-area" class="link-post link-edit" onclick="recupEdit()">Edit</a>
                    <a class="link-post link-delete">Delete</a>
                </div>
            </div>
            <div class="un_comment">
                <div class="comment-poster">
                    <img src="{{ asset('images/user.jpg')}}"  class="img-avatar">
                    <span class="name-user">Céline Animot</span>
                    <span class="date-post">21 hours ago</span>
                </div>
                <div class="txt-post" id="txte-post">
                    NetApp INT. is paying as much as $50 every thirty mins! Work for just a few hrs a day and afford yourself much more time to enjoy with your family and best friends. Last Wednesday I acquired a thrilling YAMAHA Mwt-9, a three
                </div>
                <div class="link-post-content">
                    <a href="#txte-area" class="link-post link-reply" onclick="openCom()">Reply</a>
                    <a href="#txte-area" class="link-post link-edit" onclick="recupEdit()">Edit</a>
                    <a class="link-post link-delete">Delete</a>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- ENDRigth Sidebar commentaire -->