{% extends 'main/Commentaire/base.html.twig' %}

{% block title %}Identification - Ma Commande - {{ parent() }}{% endblock %}
{% block stylesheets %}
  {{ parent() }}

{% endblock %}

{% block javascripts %}
  {{ parent() }}


{% endblock javascripts %}

{% block authentification_content %}
  <div class="boutique">
    <div class="row">
      <div class="col-lg-6 form-style">
        {% include 'main/Commentaire/_inscription.html.twig' %}
      </div> <!-- col -->
      <div class="col-lg-6">
        {% include 'main/Commentaire/_login.html.twig' %}
      </div> <!-- col -->
    </div> <!-- row -->
  </div>
{% endblock authentification_content %}

