{% extends 'base-externe.html.twig' %}

{% block title %}
  {{ parent()}}
{% endblock title%}

{% block description %}
  {{ parent()}}
{% endblock description %}

{% block stylesheets %}
  {{ parent() }}
  <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
  <link href="{{ asset('css/home.css')}}" rel="stylesheet">
{% endblock %}

{% block top_sub %}
  {% include 'main/Index/_top_sub.html.twig' %}
{% endblock top_sub %}

{% block body %}
  {% block authentification_content %}
  {% endblock authentification_content %}
{% endblock body %}

{% block right %}
  {% include 'main/Index/_right.html.twig' %}
{% endblock right %}

