<!-- Rigth Sidebar List commentaire -->
<a name="addComment"></a>
  <div class="side-header">
    <span  class="closebtn" onclick="closeSidenav()"><img src="{{asset('images/icon-arrow-right.png')}}"></span>
    <p class="count-comment">
      {% if comments %}
      {{ comments|length }} commentaire{% if comments|length > 1 %}s{% endif %}
      {% else %}
        Nouveau commentaire
      {% endif %}
    </p>
  </div>
<ul class="list-unstyled">
    {% for key, messages in app.session.flashbag.all() %}
        <li class="text-center alert {% if key == 'error'%}alert-danger{%elseif key == 'warning'%} alert-warning{%else%}alert-success{% endif %}">
            {% for message in messages %}
                {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
            {% endfor %}
        </li>
    {% endfor %}
</ul>

  <div class="side-body">
    <div class="comm-header" id="com-header" onclick="openCom()">
      <p>Ajouter commentaire</p>
    </div>
    <div class="com-body" id="comm-body">
      <span class="span-add-com">Ajout de commentaire</span>
      <span class="cancel-com" onclick="closeaddcom()" id="btn-cancel-com">Annuler</span>
      <div class="text-com">
        {{ form_start(form, {'action':path('commentaire_add', {'id':article.id})}) }}
          <input type="hidden" name="routeToArticle" value="{{ routeToArticle }}">
          <input type="hidden" id="commentaire_id" name="commentaire_id" value="">
          <input type="hidden" id="update_comment" name="update_comment" value="">
                    {{ form_row(form.comment) }}
          <div class="btn-content">

            {% if app.user %}
                <input type="submit" class="btn btn-primary btn-ajouter" id="btn-ajouter" value="Enregistrer">
            {% else %}
              <a class="btn btn-primary btn-connex" href="{{ path("comment_authentic") }}?urltoredirect={{ routeToArticle }}">Se connecter ou S'inscrire pour poster</a>

            {% endif %}

          </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>

  {% if  comments %}
  <div class="side-body-comment">
    <section class="section-comment">

      {% for un_comment in comments %}
        <div class="un_comment">
          {% if un_comment.parent is null %}
          
            <div class="comment-poster">
              <img src="{{ asset('images/user.jpg')}}"  class="img-avatar">
              <span class="name-user">{{ un_comment.user.prenom|capitalize }}</span>
              <span class="date-post">{{ un_comment.dateCreation|date("d/m/Y H:i:s") }}</span>
            </div>
            <div class="txt-post" id="txte-post_{{ un_comment.id }}">
              {{ un_comment.comment|raw }}
            </div>
            <div class="link-post-content">

              <a href="#addComment" class="link-post link-reply" onclick="openCom({{ un_comment.id }})">Repondre</a>

              {% if app.user == un_comment.user %}
              <a href="#addComment" class="link-post link-edit" onclick="recupEdit({{ un_comment.id }})">Modifier</a>
              <form name="deleteComment" method="post" action="{{ path("comment_delete", {"id" : un_comment.id }) }}">
                  <input type="hidden" name="routeToArticle" value="{{ routeToArticle }}">
                  <input type="submit" name="deleteCom" value="Supprimer" onclick="return deletePost();" class="link-post link-delete">
              </form>

              {% endif %}
            </div>
            
          {% endif %}
          {% if un_comment.parent is not null %}
              <div class="respons-contain ">
                <div class="comment-poster">
                  <img src="{{ asset('images/user.jpg')}}"  class="img-avatar">
                  <span class="name-user">{{ un_comment.user.prenom|capitalize }}</span>
                  <span class="date-post">{{ un_comment.dateCreation|date("d/m/Y H:i:s") }}</span>
                </div>
                <div class="txt-post" id="txte-response_{{ un_comment.id }}">
                  {{ un_comment.comment|raw }}
                </div>
                <div class="link-post-content">

                    <a href="#addComment" class="link-post link-reply" onclick="openCom({{ un_comment.id }})">Repondre</a>

                  {% if app.user == un_comment.user %}
                    <a href="#addComment" class="link-post link-edit" onclick="recupEditresponse({{ un_comment.id }})">Modifier</a>
                      <form name="deleteComment" method="post" action="{{ path("comment_delete", {"id" : un_comment.id }) }}">
                          <input type="hidden" name="routeToArticle" value="{{ routeToArticle }}">
                          <input type="submit" name="deleteCom" value="Supprimer" onclick="return deletePost();" class="link-post link-delete">
                      </form>
                  {% endif %}
                </div>
              </div>
          {% endif %}
       </div>
      {% endfor %}


    </section>
  </div>
  {% endif %}
</div>
<!-- ENDRigth Sidebar commentaire -->
<script type="text/javascript">
    $(document).ready(function () {
        {% if app.session.get('showComment') == 1 %}
        appelSideNav();
        {% endif %}

        $("textarea#commentaire_front_comment").html("{{ app.session.get('txtComment') }}");
        {% if app.session.get('txtComment') %}
            openCom();
        {% endif %}
        $("#commentaire_front_comment").keyup(function () {
            var txtComment = $(this).val();
            $.ajax({
               type: 'POST',
               url : "{{ path('comment_saveTxt') }}",
               data: {'txtComment': txtComment },
               success: function (response) {
                   //RAS
               }
            });
        });

        $(".nbComment").empty();
        {% if comments|length>0  %}
            $(".nbComment").append("{{ comments|length }}");
        {% else %}
            $(".nbComment").append("&nbsp;");
        {% endif %}
    })

    function deletePost()
    {
        var messageConfirm ="Merci de confirmer la suppression!!";
        if (confirm(messageConfirm)) {
            return true;
        } else {
            return false;
        }
    }

</script>