{% extends 'base.admin.html.twig' %}

{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' 'jquery.collection.html.twig' %}

{% block body %}

    <style type="text/css">
        .form-control{
            width: 25%;
        }

        #cke_App_etudenational_descriptif, #cke_App_etudenational_descriptif1, #cke_App_etudenational_descriptif2, #cke_App_etudenational_descriptif3 {
            width: 50%;
        }
    </style>

<div id="app">

    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><a href="{{ path('admin_etudenational_index') }}"><i class="fa fa-bookmark"></i> Etude nationale</a></li>
        <li class="active">Edit</li>
    </ol>

    <h1>Etude nationale</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

    {{ form_end(edit_form) }}

    <ul class="" style="list-style: none;">

        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette étude?');">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
