{% extends 'base.admin.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

{% endblock %}

{% block body %}

<div id="app">

    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Etude nationale</li>
    </ol>

    <h1>Etude nationale</h1>

    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%elseif key == 'warning'%} alert-warning{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <table class="table table-striped table-hover" id="etudes">
        <thead>
            <tr>

                <th>Annee</th>
                <th>Type</th>
                <th>Titre</th>
                <th>Date de clôture</th>
                <th>IsActive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudeNational in etudeNationals %}
            <tr>

                <td>{{ etudeNational.annee }}</td>
                <td>{% if etudeNational.isReseau %}Réseaux{% else %}Cabinet{% endif %}</td>
                <td>{{ etudeNational.titre }}</td>
                <td>{{ etudeNational.dateCloture?etudeNational.dateCloture|date('d/m/Y'):'' }}</td>
                <td>{% if etudeNational.isActive %}
                    <span style="color: green;" class="glyphicon glyphicon-ok"></span>
                {% else %}
                    <span style="color: red;" class="glyphicon glyphicon-remove"></span>
                {% endif %}
                </td>
                <td>
                    <ul class="list-unstyled action ">
                        <li class="inline">
                            <a href="{{ path('admin_etudenational_edit', { 'id': etudeNational.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit </a>
                        </li>

                        <li class="inline" style="margin-left: 15px;">
                            <a onclick="return confirm('Voulez vous vraiement dupliqué cette ligne?');" href="{{ path('admin_etudenational_duplique', { 'id': etudeNational.id }) }}"><span class="glyphicon glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate </a>
                        </li>

                        <li class="inline" style="margin-left: 15px;">
                            <a target="_blank" href="{{ path('questionnaire_etude', { 'id': etudeNational.id }) }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> See </a>
                        </li>


                    </ul>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled action">
        <li >
            <a href="{{ path('admin_etudenational_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Créer une étude national</a>
        </li>

    </ul>


</div>
{% endblock %}
