{% extends 'base.admin.html.twig' %}

{% block body %}
    <h1>Etudenational</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudeNational.id }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ etudeNational.annee }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ etudeNational.titre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_etudenational_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_etudenational_edit', { 'id': etudeNational.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
