{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent()}} - Abonnement{% endblock %}
{% block description %}{{ parent()}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/home.css')}}" rel="stylesheet">
    <style type="text/css">
        .abonnement h1{
            font-size: 25px;
            font-family: "alberbold";
            margin-bottom: 20px;
        }
        .abonnement h2{
            background-color: #009fe3;
            font-size: 16px;
            padding: 10px 10px 10px 15px;
            color: white;
            font-weight: bold;
            margin-bottom: 15px;
        }
        .abonnement form label{
            font-size: 12px;
            font-weight: bold;
        }
        .abonnement form input{
            font-size: 12px;
            height: 25px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="app">
        <input type="hidden" id="user" name="user" value="{{ app.user }}" />
        <div class="content col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    {% include 'main/Index/_top_sub.html.twig' %}
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="sidebar-filter collapse" id="sidebar-filter">
                            {#{% include 'main/Index/_share_buttons.html.twig' %}#}
                            {% include 'main/Index/_categorie_list.html.twig' %}

                            <agenda-lateral :events="events"></agenda-lateral>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="row">
                        <div class="content-box col-12 abonnement">
                            <h1>Abonnement</h1>
                            <div class="alert alert-success" role="alert">
                                Un e-mail a été envoyé à votre adresse email.  Il contient un lien d''activation sur lequel il vous faudra cliquer afin d''activer votre compte.
                            </div>

                            {% include 'main/Index/_article_list.html.twig' %}



                        </div>


                    </div>
                </div>

                <div class="col-lg-3">
                    {% include 'main/Index/_right.html.twig' %}
                </div>

            </div>

        </div>


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- VueJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/fr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-fontawesome@0.0.2/lib/vue-fontawesome.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>
        new WOW().init();
        var base_url = "{{ base_url }}";
        var api_base_url = "{{ api_base_url }}";
        var categoriesFirstBatch = {{ categories | serialize('json') | raw }};

        var articlesFirstBatch = false;
        var frontPageArticle = false;
        var firstArticle = false;
        var disableRedirections = false;
        var hideUnesBloc = false;
        var videosLatest = false;
        var eventsTop = {{ eventsTop | raw }};
        var bref = {{ bref | raw }};
        var tagHome = {{ tagHome | serialize('json') | raw }};
        //credit to @Bill Criswell for this filter
        Vue.filter('truncate', function (text, stop, clamp) {
            return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
        })

    </script>
    <script src="{{ asset('assets/js/vue-component/reading-progress.js')}}"></script>
    <script src="{{ asset('assets/js/vue-component/categorie-tree.js')}}"></script>
    <script src="{{ asset('assets/js/vue-component/agenda-lateral.js')}}"></script>
    <script src="{{ asset('assets/js/vue-component/agenda-linear.js')}}"></script>
    <script src="{{ asset('assets/js/vue-component/bref.js')}}"></script>
    <script src="{{ asset('js/home.js')}}?{{ "now"|date("m-d-Y h:s") }}"></script>
    <script src="{{ asset('js/inte.js')}}"></script>
{% endblock %}

