{% trans_default_domain 'FOSUserBundle' %}

{% if app.user %}
  <a title="Mon compte" class="user-rond">
    <img src="{{ asset('/images/account-ico.svg') }}" alt=""></a>
{% else %}
  <a title="Mon compte" href="#" class="userIcone">
    <img src="{{ asset('/images/account-ico.svg') }}" alt=""></a>
{% endif %}

<div class="sub-menu-box">
    <div class="close-btn-mobile"></div>
    <div class="ico-profil-mobile">
      <img src="{{ asset('/images/account-ico.svg') }}" alt="">
    </div>
    {% if (app.user is not null and app.user.isPaidSubscriber) or (app.user and 'ROLE_ABONNE' in app.user.roles) %}
    <div class="box-mon-profil">
      <ul>
        {% if app.session.get('fiducial') is null %}
        <li><a href="{{ path('front_mon_profil') }}">Mon profil</a> </li>
        <li><a href="{{ path('front_mes_commandes') }}">Mes commandes</a></li>
        {% endif %}
        <li><a href="{{ path("liste_revues") }}">Mes revues</a></li>
        <li><a href="{{ path("article_agenda_date",{'dateAgenda':"now"|date("Ym")}) }}">Mon agenda</a></li>
      </ul>
        {% if app.session.get('fiducial') is null %}
        <div class="logout-abonne"><a href="{{ path('fos_user_security_logout') }}?uri={{ uri }}">Deconnexion</a> </div>
      {% endif %}
    </div>
      {% elseif app.user %}
        <div class="box-mon-profil">
          <ul>
            <li><a href="{{ path('front_mon_profil') }}">Mon profil</a> </li>
            <li><a href="{{ path('front_mes_commandes') }}">Mes commandes</a></li>
            <li><a href="{{ path("front_boutique") }}">Je m'abonne</a></li>

          </ul>
          <div class="logout-abonne"><a href="{{ path('fos_user_security_logout') }}?uri={{ uri }}">Deconnexion</a> </div>
        </div>
  {% else %}
    <div class="box-mon-profil">
      <h3>Mon profil</h3>

      <div class="btn-block">
        <button class="btn btn-connect">Je me connecte</button>
        <p>ou</p>
        <a href="{{ path("front_boutique") }}" class="btn btn-abonne">je m'abonne</a>
      </div>
    </div>
  {% endif %}

  {{ render(controller(
      'App\\Controller\\Main\\SecurityController::loginAbonneAction',{'uri':uri}
  )) }}
</div>

