  <h4>En bref</h4>
  <div class="listing-bref">
    {% if tabData %}
        {% for breve in tabData %}
    <div class="bloc-bref">
      <span class="date">{{ breve.datePublication }}</span>
      <a target="blank" href="{{ breve.link }}" >{{ breve.titre }}</a>
    </div>
        {% endfor %}
    {% endif %}
  </div>


