{% if pdfGratuit %}
    {% if desktop != "mobile"  %}
        <ul class="list-unstyled" style="margin: 0;">
            {% for key, messages in app.session.flashbag.all() %}
                <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                    {% for message in messages %}
                        {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}


    <div id="popup-download_{{ desktop }}" class="modal fade" role="dialog" style="font-family: alberregular">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content" style="background-color: #f2fafd; border: 1px solid rgb(0, 159, 227);">
                <div class="modal-body">
                    <button style="margin-top: -5px;margin-right: -35px;color: red;" type="button" class="close" data-dismiss="modal" >&times;</button>

                    <div class="loading text-center" style="position: fixed; left: 35%; z-index: 9999; display: none;" >
                        <img src="{{ asset("images/load.gif") }}" alt="loading" width="100px">
                    </div>

                    <div class="premium-title" style="text-align: center;font-size: 35px;color: #7F7F7F;font-weight: bold;"><span>{{ pdfGratuit.nom  }}</span></div>
                    {{ pdfGratuit.description|raw  }}
                    {{ form_start(form, {'action': path('commun_add_newsletter') }) }}
                    <input type="hidden" name="uri" value="{{ uri }}">
                    <input type="hidden" name="pdf-gratuit" value="1">
                    <div class="newsletter row" style="padding: 15px;border-radius: 25px;">
                        <div class="col-md-4 col-sm-4">
                            <img src="/uploads/images/produit/{{ pdfGratuit.image  }}" width="150px;">
                            
                        </div>
                        <div class="col-md-8 col-sm-8" id="form-new">
                            <div class="col-md-12 text-center">
                                {{ form_row(form.nom, {'attr': {'style': "margin-bottom:5px;", 'class': 'form-control', 'placeholder': 'Nom', 'required':'required' }}) }}

                            </div>

                            <div class="col-md-12 text-center">
                                {{ form_row(form.prenom, {'attr': {'style': "margin-bottom:5px;", 'class': 'form-control', 'placeholder': 'Prénom', 'required':'required' }}) }}

                            </div>

                            <div class="col-md-12 text-center">
                                {{ form_row(form.email, {'attr': {'style': "", 'class': 'form-control', 'placeholder': 'E-mail'}}) }}

                            </div>

                            <div class="premium-buttons text-center" id="valider_{{ desktop }}" style="margin-top: 20px;">

                                <button onclick="return saveDownloadNewsletter();" type="submit" class="btn btn-primary" style="background-color: #009fe3;color: white;border-radius: 30px; padding: 10px; margin-bottom: 10px; width: 135px;">Valider</button>
                            </div>
                        </div>

                        <div class="col-md-8 col-sm-8 lienDownload" style="margin-bottom: 15px; margin-top: 15px; color: #7F7F7F; display: none;">
                            <div class="icheck-primary icheck-inline">

                                <label for="isValid_{{ desktop }}"><a target="_blank" style="font-size: 20px;" class="btn btn-success" href="{{ path('commun_download_pdf', {'filename': pdfGratuit.pdf })  }}">Télécharger votre fichier PDF</a></label>
                            </div>

                        </div>

                    </div>


                    {{ form_end(form) }}


                </div>
            </div>
        </div>
    </div>



    <div class="clearfix"></div>
{% endif %}