{% if desktop != "mobile"  %}
    <ul class="list-unstyled" style="margin: 0;">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

<div class="text-center btnDivNewsletter_{{ desktop }}" {% if desktop == "mobile"  %}style="display: none;"{% endif %}>
    <button type="button" style="background-color: #009fe3;color: white;border-radius: 30px;font-family: alberbold;{% if desktop == "mobile"  %}font-size: 9.83px;{% else %}font-size: 18.85px;{% endif %}" class="btn btn-primary" data-toggle="modal" data-target="#popup-newseletter_{{ desktop }}">S'inscrire à la newsletter</button>
</div>



<div id="popup-newseletter_{{ desktop }}" class="modal fade" role="dialog" style="font-family: alberregular">
    <div class="modal-dialog" style="width: 450px;">
        <div class="modal-content" style="background-color: #f2fafd; border: 1px solid rgb(0, 159, 227);">
            <div class="modal-body">
                <button style="margin-top: -5px;margin-right: -35px;color: red;" type="button" class="close" data-dismiss="modal" >&times;</button>

                <div class="premium-title" style="text-align: center;font-size: 35px;color: #7F7F7F;font-weight: bold;"><span>Newsletter</span></div>
                <p style="font-size: 18px;text-align: center;margin: 10px; color: #7F7F7F; font-weight: bold;" class="premium-explain">Chaque semaine, l'information qui <br/>compte dans votre boite email.</p>
                {{ form_start(form, {'action': path('commun_add_newsletter') }) }}
                <input type="hidden" name="uri" value="{{ uri }}">
                <div class="newsletter row" style="padding: 15px;border-radius: 25px;">

                    <div class="col-md-12 text-center">
                        {{ form_row(form.email, {'attr': {'style': "background-image: url('/images/enveloppe.png');
        background-repeat: no-repeat;
        background-position: 3px 2px;
        padding-left: 55px;", 'class': 'form-control', 'placeholder': 'Votre adresse e-mail'}}) }}

                    </div>

                    <div class="col-md-12 text-center" style="margin-bottom: 15px; margin-top: 15px; color: #7F7F7F;">
                        <div class="icheck-primary icheck-inline">
                            <input name="accepteNews" type="checkbox" id="isValid_{{ desktop }}" checked />
                            <label for="isValid_{{ desktop }}">J'accepte de recevoir chaque semaine la newsletter de la Profession Comptable</label>
                        </div>

                    </div>

                    <p style="text-align: center;font-size: 12px; color: #7F7F7F;padding-left: 18px;padding-right: 14px;">Vous pouvez vous désinscrire à tout moment à l'aide des liens de désincription ou en nous contactant à l'adresse contact@laprofessioncomptable.com</p>


                </div>

                <div class="premium-buttons text-center" id="valider_{{ desktop }}">

                    <button type="submit" class="btn btn-primary" style="background-color: #009fe3;color: white;border-radius: 30px; padding: 10px; margin-bottom: 10px; width: 135px;">Valider</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>



<div class="clearfix"></div>