<div class="abonnement-bloc">
    {% if revue %}
        {% if (app.user is not null and app.user.isPaidSubscriber) or (app.user and 'ROLE_ABONNE' in app.user.roles)  %}
            <a href="{{ path("revue_fiche",{"slug":revue.slug}) }}" class="img-cover img-abonnement">
                <img src="{{ asset('uploads/images/revue/'~revue.image) }}" alt="{{ revue.titre }}">
            </a>

            <a href="{{ path("revue_fiche",{"slug":revue.slug}) }}" class="btn btn-primary btn-abonnement">Lire la revue</a>
        {% else %}
            <a href="{{ path("front_boutique") }}" class="img-cover img-abonnement">
                <img src="{{ asset('uploads/images/revue/'~revue.image) }}" alt="{{ revue.titre }}">
            </a>
            <a href="{{ path("front_boutique") }}" class="btn btn-primary btn-abonnement" >Je m'abonne</a>
        {% endif %}

        {% if (app.user is not null and app.user.isPaidSubscriber) or (app.user and 'ROLE_ABONNE' in app.user.roles) %}
             <a href="{{ path("liste_revues") }}" class="link-abonnement">Numéros précédents</a>

        {% else %}
            <a href="{{ path("front_boutique") }}" class="link-abonnement">Je découvre</a>
        {% endif %}
    {% endif %}
</div>