<!-- VueJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/fr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-fontawesome@0.0.2/lib/vue-fontawesome.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="{{ asset('assets/js/vue-filter/custom_filters.js')}}"></script>
<script src="{{ asset('assets/js/vue-component/categorie-tree-externe.js')}}"></script>
<script src="{{ asset('assets/js/vue-component/agenda-lateral.js')}}"></script>
<script src="{{ asset('assets/js/vue-component/breves.js')}}"></script>
<script type="text/javascript">
    new WOW().init();
    var base_url = "{{ base_url }}";
    var api_base_url = "{{ api_base_url }}";
    var categoriesFirstBatch = {{ categories | jms_serialize('json') | raw }};
    var tagHome = {{ tagHome | jms_serialize('json') | raw }};
    var eventsTop = {{ eventsTop | raw }};
    {% if agenda is defined %}
    var agendas = {{ agenda | raw }};
    {% else %}
    var agendas = false;
    {% endif %}

    var categoryFiteredID = "";

    var categorieParentID = "";

    var cuurentRevueUrl = "";

    var bref = {{ bref | raw }};

    </script>

<script src="{{ asset('js/home-externe.js')}}"></script>
<script src="{{ asset('js/inte.js')}}"></script>
