<!DOCTYPE html>
<html>
<head>
    <title>CLASSEMENT NATIONAL LA PROFESSION COMPTABLE </title>
    <!--

        An email present from your friends at Litmus (@litmusapp)

        Email is surprisingly hard. While this has been thoroughly tested, your mileage may vary.
        It's highly recommended that you test using a service like Litmus (http://litmus.com) and your own devices.

        Enjoy!

     -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        /* CLIENT-SPECIFIC STYLES */
        body, table, td, a{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
        table, td{mso-table-lspace: 0pt; mso-table-rspace: 0pt;} /* Remove spacing between tables in Outlook 2007 and up */
        img{-ms-interpolation-mode: bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */

        /* RESET STYLES */
        img{border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;}
        table{border-collapse: collapse !important;}
        body{height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important;}

        /* iOS BLUE LINKS */
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        /* MOBILE STYLES */
        @media screen and (max-width: 525px) {

            /* ALLOWS FOR FLUID TABLES */
            .wrapper {
                width: 100% !important;
                max-width: 100% !important;
            }

            /* ADJUSTS LAYOUT OF LOGO IMAGE */
            .logo img {
                margin: 0 auto !important;
            }

            /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
            .mobile-hide {
                display: none !important;
            }

            .img-max {
                max-width: 100% !important;
                width: 100% !important;
                height: auto !important;
            }

            /* FULL-WIDTH TABLES */
            .responsive-table {
                width: 100% !important;
            }

            /* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
            .padding {
                padding: 10px 5% 15px 5% !important;
            }

            .padding-meta {
                padding: 30px 5% 0px 5% !important;
                text-align: center;
            }

            .padding-copy {
                padding: 10px 5% 10px 5% !important;
                text-align: center;
            }

            .no-padding {
                padding: 0 !important;
            }

            .section-padding {
                padding: 50px 15px 50px 15px !important;
            }

            /* ADJUST BUTTONS ON MOBILE */
            .mobile-button-container {
                margin: 0 auto;
                width: 100% !important;
            }

            .mobile-button {
                padding: 15px !important;
                border: 0 !important;
                font-size: 16px !important;
                display: block !important;
            }

        }

        /* ANDROID CENTER FIX */
        div[style*="margin: 16px 0;"] { margin: 0 !important; }
    </style>
</head>
<body style="margin: 0 !important; padding: 0 !important;">


<!-- HEADER -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">

    <tr>
        <td bgcolor="#ffffff" align="left" style="padding: 15px;">
            <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                <tr>
                    <td align="center" valign="top" width="500">
            <![endif]-->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 800px;" class="responsive-table">
                <tr>
                    <td>
                        <!-- COPY -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">

                            <tr>
                                <td align="left" style="" class="padding-copy">
                                    <img src="https://awslpc.athdata.net/questionnaire/images/logo.png" alt="logo">
                                </td>
                            </tr>

                            <tr>
                                <td align="left" style="padding: 20px 0 0 0; font-size: 14px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">Bonjour {{ questionnaire.destinataire|replace({';':', '}) }} </td>
                            </tr>
                            <tr>
                                <td align="left" style="padding: 20px 0 0 0; font-size: 14px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
                                    Sauf erreur de notre part nous n'avons pas reçu les éléments concernant votre cabinet pour : <strong>« LE CLASSEMENT 2023 DE LA PROFESSION COMPTABLE EN FRANCE »</strong>
                                    qui paraîtra dans le numéro Hors-Série de notre revue <strong>LA PROFESSION COMPTABLE</strong> en avril 2023.
                                </td>
                            </tr>

                            <tr>
                                <td align="left" style="padding: 20px 0 0 0; font-size: 14px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">Vous trouverez, ci-dessous, le lien pour accéder à votre questionnaire pré-renseigné avec vos informations.
                                    Afin de sécuriser l'accès à vos données, le code <strong style="font-size: 18px;">{{ questionnaire.code }}</strong> vous sera demandé pour confirmer votre accès. <br/>

                                </td>
                            </tr>

                            <tr>
                                <td align="center" style="padding: 20px 0 0 0; font-size: 14px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
                                    <a href="{{ app.request.schemeAndHttpHost }}{{ path("questionnaire_send_etude", {"id": questionnaire.id, "annee": questionnaire.etude.annee}) }}">ACCES AU FORMULAIRE</a> <br/>
                                    {#rappel du Code : <strong style="font-size: 16px; color: #008000;">{{ questionnaire.code }}</strong>#}
                                </td>
                            </tr>

                            <tr>
                                <td align="left" style="color:red; padding: 20px 0 0 0; font-size: 14px; line-height: 25px; font-family: Helvetica, Arial, sans-serif;" class="padding-copy">Nous vous remercions de bien vouloir compléter vos données au plus tard le <strong>10 février 2023</strong>.

                                </td>
                            </tr>

                            <tr>
                                <td align="left" style="padding: 20px 0 0 0; font-size: 14px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
                                    Pour toute question,  n’hésitez pas à me contacter par mail à l'adresse <a href="mailto:cdemarco@laprofessioncomptable.com">cdemarco@laprofessioncomptable.com</a>. <br/><br/>
                                    Vous en souhaitant bonne réception.<br/><br/>
                                    Très cordialement,<br/><br/>
                                    Christine De Marco<br>
                                    <a href="mailto:cdemarco@laprofessioncomptable.com">cdemarco@laprofessioncomptable.com</a><br>
                                    <a href="https://www.laprofessioncomptable.com">La Profession Comptable</a><br/>


                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </td>
    </tr>





</table>

</body>
</html>
