<p> STATUT
{% if app.user.isPaidSubscriber %}
  <br>
  <strong>abonné</strong>
  </p>
  <p>
    Fin de l'abonnement
    <br>
    <strong>{{ app.user.endSubscriptionDate|date('d/m/Y') }}</strong>
  </p>

<div class="row renouvellement_auto" >
  <div class="col-lg-2">

      {{ form_widget(form.subscriptionRenewal) }}


  </div>
  <div class="col-lg-10" >
    <p class="bigText">Renouvellement automatique</p>
    <p class="smallText">(cochez pour renouveller automatiquement votre abonnement Prime)</p>
  </div>

</div>
<div class="row renouvellement_auto">
  <div class="col-lg-2">
      {{ form_widget(form.newsletterSubscription) }}
  </div>
  <div class="col-lg-10" >
    <p class="bigText">Newsletter Premium</p>
    <p class="smallText">(Compris dans votre abonnement Prime)</p>
  </div>

</div>

{% else %}
  <br>
  <strong>Pas encore abonné</strong>
    {% do form.subscriptionRenewal.setRendered() %}
    {% do form.newsletterSubscription.setRendered() %}

{% endif %}
</p>

<input class="modif-data" type="submit" value="Modifier mes données">
