<div class="row">
  <div class="col-lg-12">
    <h2>Adresse de facturation</h2>
  </div> <!-- col -->
</div> <!-- row -->

<div class="row">
  <div class="{% if not form.adresseFacturation1.vars.valid %}has-error{% endif %} col-lg-12">
    {{ form_errors(form.adresseFacturation1) }}
    {{ form_widget(form.adresseFacturation1, {'attr': {'placeholder': 'Adresse - ligne 1 *'}}) }}
  </div> <!-- col -->
  <div class="col-lg-12">
    <div class="form-line"></div>
  </div>
</div> <!-- row -->
<div class="row">
  <div class="{% if not form.adresseFacturation2.vars.valid %}has-error{% endif %} col-lg-12">
    {{ form_errors(form.adresseFacturation2) }}
    {{ form_widget(form.adresseFacturation2, {'attr': {'placeholder': 'Adresse - ligne 2'}}) }}
  </div> <!-- col -->
  <div class="col-lg-12">
    <div class="form-line"></div>
  </div>
</div> <!-- row -->
<div class="row">
  <div class="{% if not form.codePostal.vars.valid %}has-error{% endif %} col-lg-5">
    {{ form_errors(form.codePostal) }}
    {{ form_widget(form.codePostal, {'attr': {'placeholder': 'Code postal *'}}) }}
  </div> <!-- col -->
  <div class="{% if not form.ville.vars.valid %}has-error{% endif %} col-lg-7">
    {{ form_errors(form.ville) }}
    {{ form_widget(form.ville, {'attr': {'placeholder': 'Ville *'}}) }}
  </div> <!-- col -->
  <div class="col-lg-12">
    <div class="form-line"></div>
  </div>
</div> <!-- row -->
