<div class="row">
  <div class="col-lg-12">
    <h2>Adresse de livraison</h2>
  </div> <!-- col -->
</div> <!-- row -->

<div class="row">
  <div class="col-1">
    <input type="checkbox" id="show-shipping-address" v-model="showShippingAddress">
  </div> <!-- col -->
  <div class="col-11">
    <label for="show-shipping-address" class="mb15">Adresse de livraison différente</label>
  </div> <!-- col -->
</div> <!-- row -->

<div class="row" v-if="showShippingAddress">
  <div class="{% if not form.nomLivraison.vars.valid %}has-error{% endif %}col-6 col-lg-5">
    {{ form_errors(form.nomLivraison) }}
    {{ form_widget(form.nomLivraison, {'attr': {'placeholder': 'Nom *', 'required':'required'}}) }}
  </div> <!-- col -->
  <div class="{% if not form.prenomLivraison.vars.valid %}has-error{% endif %}col-6 col-lg-7">
    {{ form_errors(form.prenomLivraison) }}
    {{ form_widget(form.prenomLivraison, {'attr': {'placeholder': 'Prénom *', 'required':'required'}}) }}
  </div> <!-- col -->
  <div class="col-lg-12">
    <div class="form-line"></div>
  </div>
</div> <!-- row -->
<div class="row" v-if="showShippingAddress">
  <div class="{% if not form.adresseLivraison1.vars.valid %}has-error{% endif %} col-lg-12">
    {{ form_errors(form.adresseLivraison1) }}
    {{ form_widget(form.adresseLivraison1, {'attr': {'placeholder': 'Adresse - ligne 1 *', 'required':'required'}}) }}
  </div> <!-- col -->
  <div class="col-lg-12">
    <div class="form-line"></div>
  </div>
</div> <!-- row -->
<div class="row" v-if="showShippingAddress">
  <div class="{% if not form.adresseLivraison2.vars.valid %}has-error{% endif %} col-lg-12">
    {{ form_errors(form.adresseLivraison2) }}
    {{ form_widget(form.adresseLivraison2, {'attr': {'placeholder': 'Adresse - ligne 2'}}) }}
  </div> <!-- col -->
  <div class="col-lg-12">
    <div class="form-line"></div>
  </div>
</div> <!-- row -->
<div class="row" v-if="showShippingAddress">
  <div class="{% if not form.codePostalLivraison.vars.valid %}has-error{% endif %} col-lg-12">
    {{ form_errors(form.codePostalLivraison) }}
    {{ form_widget(form.codePostalLivraison, {'attr': {'placeholder': 'Code postal *', 'required':'required'}}) }}
  </div> <!-- col -->
  <div class="col-lg-12">
    <div class="form-line"></div>
  </div>
  <div class="{% if not form.villeLivraison.vars.valid %}has-error{% endif %} col-lg-12">
    {{ form_errors(form.villeLivraison) }}
    {{ form_widget(form.villeLivraison, {'attr': {'placeholder': 'Ville *', 'required':'required'}}) }}
  </div> <!-- col -->
  <div class="col-lg-12">
    <div class="form-line"></div>
  </div>
</div> <!-- row -->
