<div class="row">
  <div class="{% if not form.nom.vars.valid %}has-error{% endif %} col-6 col-lg-5 lh-1">
    {{ form_errors(form.nom) }}
    {{ form_label(form.nom) }} *
    {{ form_widget(form.nom) }}
  </div> <!-- col -->
  <div class="{% if not form.prenom.vars.valid %}has-error{% endif %} col-6 col-lg-7 lh-1">
    {{ form_errors(form.prenom) }}
    {{ form_label(form.prenom) }} *
    {{ form_widget(form.prenom) }}
  </div> <!-- col -->
  <div class="col-lg-12">
    <div class="form-line"></div>
  </div>
</div> <!-- row -->
<div class="row">
  <div class="{% if not form.profession.vars.valid %}has-error{% endif %}col-6 col-lg-5 lh-1">
    {{ form_errors(form.profession) }}
    {{ form_label(form.profession) }} *
    
    {{ form_widget(form.profession, {'attr':{'onchange': 'return checkProfession(this.value)'}}) }}
  </div> <!-- col -->
  <div class="{% if not form.societe.vars.valid %}has-error{% endif %}col-6 col-lg-7 lh-1">
    {{ form_errors(form.societe) }}
    {{ form_label(form.societe) }} *
    {{ form_widget(form.societe) }}
  </div> <!-- col -->
  <div class="col-lg-12">
    <div class="form-line"></div>
  </div>
</div> <!-- row -->

<div class="row autreProfession" style="display: none;">
    <div class="{% if not form.autreProfession.vars.valid %}has-error{% endif %} col-lg-12 lh-1">
        {{ form_errors(form.autreProfession) }}
        {{ form_label(form.autreProfession) }}
        {{ form_widget(form.autreProfession) }}
    </div> <!-- col -->
    <div class="col-lg-12">
      <div class="form-line"></div>
    </div>
</div>

<div class="row">
  <div class="{% if not form.telephone.vars.valid %}has-error{% endif %} col-lg-12 lh-1">
    {{ form_errors(form.telephone) }}
    {{ form_label(form.telephone) }} *
    {{ form_widget(form.telephone) }}
  </div> <!-- col -->
  <div class="col-lg-12">
    <div class="form-line"></div>
  </div>
  <div class="{% if not form.email.vars.valid %}has-error{% endif %} col-lg-12 lh-1">
    {{ form_errors(form.email) }}
    {{ form_label(form.email) }} *
    {{ form_widget(form.email) }}
  </div> <!-- col -->
  <div class="col-lg-12">
    <div class="form-line"></div>
  </div>
</div> <!-- row -->

<div class="row mt20">
  <div class="col-lg-12">
    <a href="{{ path('fos_user_resetting_request')}}">
      mot de passe perdu ?
    </a>
  </div> <!-- col -->
</div> <!-- row -->
