{% extends 'base-externe.html.twig' %}

{% block title %}
  Mon profil
{% endblock title%}

{% block stylesheets %}
    {{ parent() }}
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('css/admin/admin.css')}}">
    <style type="text/css">
        #profil_codePostal{
            box-shadow: none;
        }
    </style>

{% endblock %}

{% block ariane %}
  <div class="fil-ariane">
    <h1>Mon profil</h1>
  </div>
{% endblock ariane %}

{% set achats = app.user.achatList %}

{% block body %}
  <div class="mon-profil">
    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
          <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
              {% for message in messages %}
                  {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
              {% endfor %}
          </li>
        {% endfor %}
      <li class="alert alert-danger" style="display: none;">

              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>
        Cliquez sur le bouton "Modifier mes données" pour enregistrer les modifications

      </li>
        <li class="alert alert-champ alert-warning" style="display: none; font-size: 14px;">

        </li>
    </ul>
    {{ form_start(form) }}
    <h1>
      Bonjour {{ app.user.fullName }}, heureux de vous revoir&nbsp;!
    </h1>
    <div class="">
      <div class="row">
        <div class="col-sm-12">
          <h2>
            Mes informations
          </h2>
        </div> <!-- col -->
      </div> <!-- row -->
      <div class="row">
        <div class="col-lg-8 mb40">
          {% include 'main/User/MonProfil/_informations.html.twig' %}
          {% include 'main/User/MonProfil/_adresse_facturation.html.twig' %}
          {% include 'main/User/MonProfil/_adresse_livraison.html.twig' %}
        </div> <!-- col -->

        <div class="col-lg-4 abonnement-statut">
          {% include 'main/User/MonProfil/_abonnement_statut.html.twig' %}
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->

    {{ form_end(form) }}
  </div>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <!-- JS file -->
    <script src="{{ asset('js/easyautocomplete/jquery.easy-autocomplete.min.js') }}"></script>
    <!-- CSS file -->
    <link rel="stylesheet" href="{{ asset('js/easyautocomplete/easy-autocomplete.min.css')}}">
    <!-- iCheck -->
    <script  type="text/javascript" src="{{ asset('js/icheck.min.js')}}"></script>
    <script  type="text/javascript" src="{{ asset('js/validateProfil.js')}}"></script>

<script type="text/javascript">
    var options = {
        url: "/uploads/codes_postaux_2.json",
        getValue: function(element) {
            return element.Codepos+' '+element.Commune;
        },
        list: {
            match: {
                enabled: true
            },
            onSelectItemEvent: function() {
                var Commune = $("#profil_codePostal").getSelectedItemData().Commune;
                var Commune_2 = Commune[0].toUpperCase() + Commune.slice(1).toLowerCase();
                var codePos = $("#profil_codePostal").getSelectedItemData().Codepos;
                $("#profil_ville").val(Commune_2).trigger("change");
                $("#profil_codePostal").val(codePos).trigger("change");
            }
        }

    };

    $("#profil_codePostal").easyAutocomplete(options);
</script>

{% endblock %}

