<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-P4FK7BS');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <title>{% block title %}La profession comptable{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="robots" content="{% block robots %}{% if app.request.host =="www.laprofessioncomptable.com" %}index,follow{% else %}noindex,nofollow{% endif %}{% endblock %}">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="{{ asset('assets/css/main.css')}}?{{ "now"|date("m-d-Y h:s") }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/home.css')}}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('favicon.png') }}" type="image/png">
    <link rel="icon" sizes="32x32" href="{{ asset('favicon-32.png') }}" type="image/png">
    <link rel="icon" sizes="64x64" href="{{ asset('favicon-64.png') }}" type="image/png">
    <link rel="icon" sizes="96x96" href="{{ asset('favicon-96.png') }}" type="image/png">
    <link rel="icon" sizes="196x196" href="{{ asset('favicon-196.png') }}" type="image/png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png')}}">
    <meta name="msapplication-TileImage" content="{{ asset('favicon-144.png')}}">
    <meta name="msapplication-TileColor" content="#FFFFFF">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128972276-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128972276-1');
</script>



   <style type="text/css">
      [v-cloak] { display: none; }

      [class*="icheck-"] > input:first-child:checked + input[type="hidden"] + label::after, [class*="icheck-"] > input:first-child:checked + label::after {
        left: 6px!important;
      }

      .icheck-primary > input:first-child:checked + input[type="hidden"] + label::before, .icheck-primary > input:first-child:checked + label::before {
        background-color: #009fe3;
        border-color: #009fe3;
      }

      @media (max-width: 768px) {
        .btnDivNewsletter_mobile{
          display: none!important;
        }

        .btnDivNewsletter_computer{
          display: none!important;
        }

        .alert-success{
          margin-top: 40px;
        }
      }

      .share-buttons{
        margin-left: 15px;
      }
     
    </style>
  </head>

  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4FK7BS"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
      <header class="fixed">
      {% include 'main/Index/_top.html.twig' %}
    </header>

    <div class="container-fluid">
      <div id="app">
        <input type="hidden" id="user" name="user" value="{% if (app.user is not null and app.user.isPaidSubscriber) or (app.user and 'ROLE_ABONNE' in app.user.roles)   %}1{% endif %}" />
        <div class="content col-lg-12">
          <div class="row row-main">
            <div class="col-lg-12 fixed-top_sub">
              {% block top_sub %}
                {% include 'main/Index/_top_sub-externe.html.twig' %}
              {% endblock top_sub %}
            </div>

            <div class="col-lg-2 left-width">
              <div class="row">
                <div class="sidebar-filter collapse" id="sidebar-filter">
                  {% include 'main/Index/_categorie_list.html.twig' %}

                  <agenda-lateral :agendas="agendas" :is-authenticated="'{% if (app.user is not null and app.user.isPaidSubscriber) or (app.user and 'ROLE_ABONNE' in app.user.roles)   %}1{% endif %}'"></agenda-lateral>
                </div>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="row">
                <div class="content-box col-12">
                  {% block body %}
                  {% endblock %}

                </div>
              </div>
            </div>

            <div class="col-lg-3 sidebar-droite">
              {% block right %}
                {% include 'main/Index/_right.html.twig' %}
              {% endblock right %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'main/Index/_popup_premium.html.twig' %}

    <footer>
        {% include 'main/Index/_footer.html.twig' %}
    </footer>

    {% block javascripts %}
      <script src="{{ asset('js/jquery.min.js')}} "></script>
      <script src="{{ asset('js/bootstrap.min.js')}}"></script>
      <script src="{{ asset('js/vendor.js')}}"></script>
      <script src="{{ asset('js/plugins.js')}}"></script>
      <script src="{{ asset('js/jquery.easing.1.3.js')}} "></script>
      {{ render(controller(
          'App\\Controller\\Main\\CommunController::jsSiderBarAction'
      )) }}

      <script type="text/javascript">
         //Pour remedier au pb sur la deconnexion
        $( document ).ready(function() {
          $('.sub-menu-box .box-mon-profil ul li > a').on('click', function() {
            self.location = $(this).attr('href');
          });
          $('.sub-menu-box .logout-abonne > a').on('click', function() {
            self.location = $(this).attr('href');
          });
          $('.sub-menu-box .form-group > a').on('click', function() {
            self.location = $(this).attr('href');
          });
          $('.sub-menu-box .btn-block > a').on('click', function() {
              self.location = $(this).attr('href');

          });

            $( ".close" ).click(function() {
                let popupPremium = document.getElementById('popup-premium');
                popupPremium.classList.remove('open-popup-premium');
                popupPremium.classList.add('fade');
                $('.fixed-top_sub').css('display', 'block');
            });

            /** accept newsletter pop up **/
            $("#isValid_computer").on('click', function() {
                var checked = $(this).is(":checked");

                if (checked) {
                    $('#valider_computer').css('display', 'block');
                } else {
                    $('#valider_computer').css('display', 'none');
                }
            });

            $("#isValid_mobile").on('click', function() {
                var checked = $(this).is(":checked");

                if (checked) {
                    $('#valider_mobile').css('display', 'block');
                } else {
                    $('#valider_mobile').css('display', 'none');
                }
            });

            //Landing newsletter
            var anchorName = document.location.hash.substring(1);
            if (anchorName == "newsletter" ) {
                $("#popup-newseletter_computer").modal('show');
            }

            if (anchorName == "downloadPdf" ) {
                $("#popup-download_computer").modal('show');
            }
        });

         function saveDownloadNewsletter() {

             var nom = $("#newsletter_download_nom").val();

             var prenom = $("#newsletter_download_prenom").val();

             var email = $("#newsletter_download_email").val();

             if (nom === "") {
                 $("#newsletter_download_nom").css('border', '1px solid red');
             }else {
                 $("#newsletter_download_nom").css('border', '1px solid #ced4da');
             }

             if (prenom === "") {
                 $("#newsletter_download_prenom").css('border', '1px solid red');
             }else {
                 $("#newsletter_download_prenom").css('border', '1px solid #ced4da');
             }

             if (email === "") {
                 $("#newsletter_download_email").css('border', '1px solid red');
             }else {
                 $("#newsletter_download_email").css('border', '1px solid #ced4da');
             }

             $(".loading").css('display', 'block');

             $.ajax({
                 type: 'post',
                 url: '/newsletter/add/downloadFile',
                 data: {nom: nom, prenom: prenom, prenom, email: email},
                 success: function (response) {

                     $("#form-new").css('display', 'none');

                     $(".loading").css('display', 'none');

                     $(".lienDownload").css('display', 'block');

                 },
                 error: function () {
                     alert('Error download File');
                 }
             });



             return false;

         }
      </script>
      <script type="text/javascript">
          $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip({
                  animated: 'fade',
                  html: true,

              });

          });
      </script>
      <script type="text/javascript">
          function addQtt(id,qttOriginale,prixTotale,prixUnitaire,tva, idPanier) {

              var qtt = document.getElementById("qtt_"+id).value;

              if (qttOriginale > qtt) {
                  var qtt = document.getElementById("qtt_"+id).value;
                  $("#price_"+id+" span").html((qtt*prixUnitaire)+"€ TTC");
                  var Total = 0;
                  $('input[name^="id"]').each(function() {
                      var qttU = $('#qtt_'+$(this).val()).val();
                      var pTtc = $('#prixUnitaire_'+$(this).val()).val();
                      Total = Total + (qttU*pTtc);
                      //alert($(this).val());
                  });

                  $(".prixTotal").html("En cours ....");
                  $('.btn-abonne').prop('disabled', true);


                  $.ajax({
                      type: "POST",
                      url: "{{ path("front_boutique_qtt_panier") }}",
                      data: {'id':idPanier,'qtt':qtt},
                      success: function (response) {

                          $(".prixTotal").html(Total+"€");

                          var Tva = Total - (Total/(1 + (tva / 100)));
                          $(".tvaTaxe").html(Tva.toFixed(2)+"€");

                          $('.btn-abonne').prop('disabled', false);
                      },

                  });
              }else {
                  if (confirm('Attention vous avez déjà ce produit dans votre panier, êtes vous sûr de vouloir l\'ajouter encore ?')) {
                      var qtt = document.getElementById("qtt_"+id).value;
                      $("#price_"+id+" span").html((qtt*prixUnitaire)+"€ TTC");
                      var Total = 0;
                      $('input[name^="id"]').each(function() {
                          var qttU = $('#qtt_'+$(this).val()).val();
                          var pTtc = $('#prixUnitaire_'+$(this).val()).val();
                          Total = Total + (qttU*pTtc);
                          //alert($(this).val());
                      });

                      $(".prixTotal").html("En cours ....");
                      $('.btn-abonne').prop('disabled', true);


                      $.ajax({
                          type: "POST",
                          url: "{{ path("front_boutique_qtt_panier") }}",
                          data: {'id':idPanier,'qtt':qtt},
                          success: function (response) {

                              $(".prixTotal").html(Total+"€");

                              var Tva = Total - (Total/(1 + (tva / 100)));
                              $(".tvaTaxe").html(Tva.toFixed(2)+"€");

                              $('.btn-abonne').prop('disabled', false);
                          },

                      });
                  }else {


                      $("#qtt_"+id).val(qtt -1);
                  }
              }



              return false;

          }

          function checkProfession(profession) {
              if (profession == "Autre") {
                  $(".autreProfession").css("display","block");
              } else {
                  $(".autreProfession").css("display","none");
              }
          }
          $(document).ready(function(){
              let profession = $("#profil_profession").val();

              if (profession == "Autre") {
                  $(".autreProfession").css("display","block");
              }

          });
      </script>
      <script type="text/javascript">
          if ( $( ".en-bref-bloc" ).length ) {
              $.ajax({
                  url: "{{ path('front_breves_rss') }}",
                  type: "post",
                  success: function (bref) {
                      //set bref
                      $(".en-bref-bloc").empty();
                      $(".en-bref-bloc").append(bref);

                  },
                  error: function () {

                  }


              });
          }
      </script>
      <script src="{{ asset('js/cookiechoices.js') }}"></script>
      <script>

          document.addEventListener('DOMContentLoaded', function(event) {
              cookieChoices.showCookieConsentBar("En poursuivant votre navigation, vous acceptez l'utilisation des cookies pour disposer de services et d'offres adaptés à vos centres d'intérêts.",
                  'X', 'Pour en savoir plus', 'https://www.laprofessioncomptable.com/information/cookies');
          });
      </script>
    {% endblock %}
  </body>
</html>

