<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">

  <head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-P4FK7BS');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="LaProfComptable">
    <title>{% block title %}La profession comptable{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="robots" content="{% block robots %}{% if app.request.host =="www.laprofessioncomptable.com" %}index,follow{% else %}noindex,nofollow{% endif %}{% endblock %}">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <!--link href="{{ asset('css/blog-home.css')}}" rel="stylesheet"-->
    <link href="{{ asset('assets/css/main.css')}}?{{ "now"|date("m-d-Y h:s") }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

      <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
      <link rel="icon" href="{{ asset('favicon.png') }}" type="image/png">
      <link rel="icon" sizes="32x32" href="{{ asset('favicon-32.png') }}" type="image/png">
      <link rel="icon" sizes="64x64" href="{{ asset('favicon-64.png') }}" type="image/png">
      <link rel="icon" sizes="96x96" href="{{ asset('favicon-96.png') }}" type="image/png">
      <link rel="icon" sizes="196x196" href="{{ asset('favicon-196.png') }}" type="image/png">
      <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch-icon.png') }}">
      <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png')}}">
      <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png')}}">
      <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png')}}">
      <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png')}}">
      <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png')}}">
      <meta name="msapplication-TileImage" content="{{ asset('favicon-144.png')}}">
      <meta name="msapplication-TileColor" content="#FFFFFF">
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-polyfills/0.1.42/polyfill.min.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128972276-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128972276-1');
</script>



    <style type="text/css">
      [v-cloak] { display: none; }
      .lectureArticleAbonne::before{
        background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,.9),#fff);
        height: 5rem;
        bottom: 10rem;
        position: absolute;
        left: 0;
        content: " ";
        width: 100%;
      }
      .resume-content{
        min-height: 65px;
      }

      [class*="icheck-"] > input:first-child:checked + input[type="hidden"] + label::after, [class*="icheck-"] > input:first-child:checked + label::after {
        left: 6px!important;
      }

      .icheck-primary > input:first-child:checked + input[type="hidden"] + label::before, .icheck-primary > input:first-child:checked + label::before {
        background-color: #009fe3;
        border-color: #009fe3;
      }

      @media (max-width: 768px) {
        .btnDivNewsletter_mobile{
          display: block!important;
        }

        .btnDivNewsletter_computer{
          display: none!important;
        }
      }

      .share-buttons{
        margin-left: 15px;
      }
    </style>
  </head>

  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4FK7BS"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <header class="fixed">
      {% include 'main/Index/_top.html.twig' %}
    </header>
      {% if app.request.attributes.get('_route') == "homenet" %}
    <div class="onload" style="position:absolute;top: 154px;z-index:99999;"><img src="{{ asset("images/screen-home.png") }}" alt="screen" > </div>
      {% endif %}
    <div class="container-fluid">
      {% block body %}{% endblock %}

    </div>

        <footer>
            {% include 'main/Index/_footer.html.twig' %}
        </footer>

        {% block javascripts %}
          <script src="{{ asset('js/jquery.min.js')}} "></script>
          <script src="{{ asset('js/bootstrap.min.js')}}"></script>
          <script src="{{ asset('js/vendor.js')}}"></script>
          <script src="{{ asset('js/plugins.js')}}"></script>
          <script src="{{ asset('js/jquery.easing.1.3.js')}} "></script>

          <script type="text/javascript">
             //Pour remedier au pb sur la deconnexion
             {% if app.request.attributes.get('_route') == "homenet" %}
               $(document).ready(function() {
                   $('.onload').css('display','none');
               });
             {% endif %}
            $( document ).ready(function() {
              $('.sub-menu-box .box-mon-profil ul li > a').on('click', function() {
                self.location = $(this).attr('href');

              });
              $('.sub-menu-box .logout-abonne > a').on('click', function() {
                self.location = $(this).attr('href');

              });
              $('.sub-menu-box .form-group > a').on('click', function() {
                self.location = $(this).attr('href');

              });

               $('.sub-menu-box .btn-block > a').on('click', function() {
                    self.location = $(this).attr('href');

               });


               /** accept newsletter pop up **/
                $("#isValid_computer").on('click', function() {
                    var checked = $(this).is(":checked");

                    if (checked) {
                        $('#valider_computer').css('display', 'block');
                    } else {
                        $('#valider_computer').css('display', 'none');
                    }
                });

                $("#isValid_mobile").on('click', function() {
                    var checked = $(this).is(":checked");

                    if (checked) {
                        $('#valider_mobile').css('display', 'block');
                    } else {
                        $('#valider_mobile').css('display', 'none');
                    }
                });

                //Landing newsletter
                var anchorName = document.location.hash.substring(1);
                if (anchorName == "newsletter" ) {
                    $("#popup-newseletter_computer").modal('show');
                }

                if (anchorName == "downloadPdf" ) {
                    $("#popup-download_computer").modal('show');
                }



            });

             function showLogin(url) {
               var popupPremium = document.getElementById('popup-premium');
               popupPremium.classList.remove('fade');
               popupPremium.classList.add('open-popup-premium');
               $("#popup-premium .inverted").attr("href", "/login?urltoredirect="+url);
               $('.fixed-top_sub').css('display', 'none');
               return false;
             }
             
             function saveDownloadNewsletter() {

                 var nom = $("#newsletter_download_nom").val();

                 var prenom = $("#newsletter_download_prenom").val();

                 var email = $("#newsletter_download_email").val();

                 if (nom === "") {
                     $("#newsletter_download_nom").css('border', '1px solid red');

                     return false;
                 }else {
                     $("#newsletter_download_nom").css('border', '1px solid #ced4da');
                 }

                 if (prenom === "") {
                     $("#newsletter_download_prenom").css('border', '1px solid red');

                     return false;
                 }else {
                     $("#newsletter_download_prenom").css('border', '1px solid #ced4da');
                 }

                 if (email === "") {
                     $("#newsletter_download_email").css('border', '1px solid red');

                     return false;
                 }else {
                     $("#newsletter_download_email").css('border', '1px solid #ced4da');
                 }

                 $(".loading").css('display', 'block');

                 $.ajax({
                     type: 'post',
                     url: '/newsletter/add/downloadFile',
                     data: {nom: nom, prenom: prenom, prenom, email: email},
                     success: function (response) {

                         $("#form-new").css('display', 'none');

                         $(".loading").css('display', 'none');

                         $(".lienDownload").css('display', 'block');

                     },
                     error: function () {
                         alert('Error download File');
                     }
                 });



                 return false;
                 
             }
          </script>
        {% endblock %}
    <script type="text/javascript">
        if ( $( ".en-bref-bloc" ).length ) {
            $.ajax({
                url: "{{ path('front_breves_rss') }}",
                type: "post",
                success: function (bref) {
                    //set bref
                    $(".en-bref-bloc").empty();
                    $(".en-bref-bloc").append(bref);

                },
                error: function () {

                }


            });
        }
    </script>
        <script src="{{ asset('js/cookiechoices.js') }}"></script>
        <script>

            document.addEventListener('DOMContentLoaded', function(event) {
                cookieChoices.showCookieConsentBar("En poursuivant votre navigation, vous acceptez l'utilisation des cookies pour disposer de services et d'offres adaptés à vos centres d'intérêts.",
                    'X', 'Pour en savoir plus', 'https://www.laprofessioncomptable.com/information/cookies');
            });
        </script>


  </body>

</html>

