{% set currentPath = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}Administration BBA - LPC{% endblock %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="robots" content="{% block robots %}{% if app.request.host =="www.laprofessioncomptable.com" %}noindex,nofollow{% else %}noindex,nofollow{% endif %}{% endblock %}">
  
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ asset('css/admin/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('css/admin/font-awesome.min.css')}}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('css/admin/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('css/admin/admin.css')}}?{{ "now"|date("m-d-Y h:s") }}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ asset('css/admin/skin-blue.min.css')}}">
  {% block stylesheets %}
  {% endblock %}
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="{{ path('admin_accueil')}}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>LPC</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>BBA</b>-LPC</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          

          
          
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="{{ path('app_admin_logout') }}" class="dropdown-toggle" >
              <!-- The user image in the navbar-->
              <span class="glyphicon glyphicon-off"></span>
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">Deconnexion</span>
            </a>
            
          </li>
          
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          &nbsp;
        </div>
        <div class="pull-left info">
          <p><span class="glyphicon glyphicon-user"></span> {% if app.user %} &nbsp;{{ app.user.username }}{% endif %}</p>
         
        </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        
        <li class=" treeview {% if currentPath == 'admin_accueil' %}active menu-open{% endif %}">
          <a href="{{ path('admin_accueil')}}">
            <i class="fa fa-dashboard"></i> <span>Tableau de bord</span>
            
          </a>
        </li>

          {% if is_granted('ROLE_CONTRIBUTEUR') %}
              {% include 'admin/menu/contributeur.html.twig'  with {'currentPath': currentPath} %}
          {% else %}
              {% include 'admin/menu/admin.html.twig'  with {'currentPath': currentPath} %}
          {% endif %}


      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content container-fluid">

      {% block body %}{% endblock %}

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a href="https://www.bocasay.com">Bocasay</a>.</strong> All rights reserved.
  </footer>

  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


{% block javascripts %}
   <!-- jQuery 3 -->
<script type="text/javascript" src="{{ asset('js/jquery.min.js')}} "></script>
<!-- Bootstrap 3.3.7 -->
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js')}}"></script>

<!-- Admin App -->
<script type="text/javascript" src="{{ asset('js/admin.min.js')}}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>

{% endblock %}

<!-- iCheck -->
<script  type="text/javascript" src="{{ asset('js/icheck.min.js')}}"></script>

<script type="text/javascript">
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
  function deleteList(){
    var messageConfirm ="{{ 'confirmation.suppression'|trans }}";
      if(confirm( messageConfirm )){
          return true;
      }else{
          return false;
      }
  }
</script>
<script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
</body>
</html>
