<!DOCTYPE html>
<html lang="fr">

  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-P4FK7BS');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <title>{% block title %}La profession comptable{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <!--link href="{{ asset('css/blog-home.css')}}" rel="stylesheet"-->
    <link href="{{ asset('assets/css/main.css')}}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128972276-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-128972276-1');
    </script>


  </head>

  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4FK7BS"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <header class="fixed">
        {% include 'main/Index/_top.html.twig' %}
    </header>

    <div class="container-fluid">

          <div id="app">
            <input type="hidden" id="user" name="user" value="{{ app.user }}" />
            <div class="content col-lg-12">
              <div class="row">
                <div class="col-lg-12">
                    {% include 'main/Index/_top_sub.html.twig' %}
                </div>
                <div class="col-lg-2">
                  <div class="row">
                    <div class="sidebar-filter collapse" id="sidebar-filter">
                        {% include 'main/Index/_categorie_list.html.twig' %}

                        {% include 'main/Index/_type_list.html.twig' %}
                      <agenda-lateral :events="events"></agenda-lateral>
                    </div>
                  </div>
                </div>

                <div class="col-lg-7">
                  <div class="row">
                    <div class="content-box col-12">
                        {% block body %}{% endblock %}

                    </div>


                  </div>
                </div>

                <div class="col-lg-3">
                    {% include 'main/Index/_right.html.twig' %}
                </div>

              </div>

            </div>


          </div>

    <footer>
        {% include 'main/Index/footer.html.twig' %}
    </footer>
    </div>

    
    {% block javascripts %}
    <script src="{{ asset('js/jquery.min.js')}} "></script>
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('js/vendor.js')}}"></script>
    <script src="{{ asset('js/plugins.js')}}"></script>
    <script src="{{ asset('js/jquery.easing.1.3.js')}} "></script>

      <script>
          new WOW().init();
          var base_url = "{{ base_url }}";
          var api_base_url = "{{ api_base_url }}";

      </script>

    {% endblock %}



  </body>

</html>

