{% extends 'base.admin.html.twig' %}

{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' 'jquery.collection.html.twig' %}

{% block body %}

    <style type="text/css">
        .form-control{
            width: 25%;
        }
    </style>
    <h1>Cabinet edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_cabinet_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.my-selector').collection();

    </script>
{% endblock %}
