{% extends 'base.admin.html.twig' %}


{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><a href="{{ path('admin_cabinet_etude_index') }}">Liste cabinet</a></li>
        <li class="active">Nouveau Import</li>
    </ol>
    <h1>Import Cabinet</h1>

    <form name="import_cabinet" method="post" class="form-horizontal" enctype="multipart/form-data">

        <input type="hidden" name="_token" value="{{ csrf_token('authenticate') }}">
        <div id="import_cabinet">
            <div class="form-group">
                <label class="col-sm-2 control-label required" for="import_cabinet_file">Fichier (xlsx)</label>
                <div class="col-sm-3">
                    <input type="file" id="import_cabinet_file" name="import_cabinet" required="required">
                </div>
                <div class="col-sm-4">
                    <a target="_blank" href="{{ path('admin_questionnaire_export') }}?modele=1">Téléchargez le fichier modèle</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" id="import_cabinet_save" name="import_cabinet[save]" class="btn btn-primary btn">Enregistrer</button>
                </div></div>
            </div>

    </form>

{% endblock %}
