{% extends 'base.admin.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

{% endblock %}

{% block body %}

<div id="app">

        <ol class="breadcrumb">
            <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active">Liste cabinet</li>
        </ol>
        <h1>Liste cabinet</h1>
        <ul class="list-unstyled">
            {% for key, messages in app.session.flashbag.all() %}
                <li class="alert {% if key == 'error'%}alert-danger{%elseif key == 'warning'%} alert-warning{%else%}alert-success{% endif %}">
                    {% for message in messages %}
                        {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>




    <table class="table table-striped table-hover" id="cabinets">
        <thead>
            <tr>

                {#<th>Etude national</th>#}
                <th>Nom</th>
                <th>Destinataire Nom</th>
                <th>Destinataire mail</th>
                <th>Is pluridiscplinaire</th>


                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cabinet in cabinets %}
            <tr>

                {#<td>{{ cabinet.etude?cabinet.etude.annee:'' }}</td>#}
                <td>{{ cabinet.nom }}</td>
                <td>{{ cabinet.destinataire }}</td>
                <td>{{ cabinet.emailDestinataire }}</td>
                <td>{% if cabinet.isPluridiscplinaire %}
                        <span style="color: green;" class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span style="color: red;" class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </td>


                <td>
                    <ul class="list-unstyled action ">
                        <li class="inline">
                            <a href="{{ path('admin_cabinet_etude_edit', { 'id': cabinet.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit </a>
                        </li>


                    </ul>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled action">
        <li >
            <a href="{{ path('admin_cabinet_etude_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouvel cabinet</a>
        </li>

    </ul>


</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>




    <script type="application/javascript">
        $(document).ready(function() {

            $('#cabinets').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "pageLength": 25,
                "bStateSave": true,
                "order": [[ 1, 'asc' ]]

            });

        } );


    </script>


{% endblock %}
