{% extends 'base.admin.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

{% endblock %}

{% block body %}

<div id="app">

        <ol class="breadcrumb">
            <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active">Liste cabinet</li>
        </ol>
        <h1>Liste cabinet</h1>
        <ul class="list-unstyled">
            {% for key, messages in app.session.flashbag.all() %}
                <li class="alert {% if key == 'error'%}alert-danger{%elseif key == 'warning'%} alert-warning{%else%}alert-success{% endif %}">
                    {% for message in messages %}
                        {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>




    <table class="table table-striped table-hover" id="cabinets">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Codepostal</th>
                <th>Departement</th>
                <th>Region</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Site</th>
                <th>Formejuridique</th>
                <th>Siret</th>
                <th>Siren</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cabinet in cabinets %}
            <tr>

                <td>{{ cabinet.nom }}</td>
                <td>{{ cabinet.adresse }}</td>
                <td>{{ cabinet.ville }}</td>
                <td>{{ cabinet.codePostal }}</td>
                <td>{{ cabinet.departement }}</td>
                <td>{{ cabinet.region }}</td>
                <td>{{ cabinet.telephone }}</td>
                <td>{{ cabinet.email }}</td>
                <td>{{ cabinet.site }}</td>
                <td>{{ cabinet.formeJuridique }}</td>
                <td>{{ cabinet.siret }}</td>
                <td>{{ cabinet.siren }}</td>
                <td>
                    <ul class="list-unstyled action ">
                        <li class="inline">
                            <a href="{{ path('admin_cabinet_edit', { 'id': cabinet.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit </a>
                        </li>


                    </ul>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled action">
        <li >
            <a href="{{ path('admin_cabinet_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouvel cabinet</a>
        </li>

    </ul>


</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>




    <script type="application/javascript">
        $(document).ready(function() {

            $('#cabinets').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    { extend: 'colvis', text: 'Colonne affichées' }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "pageLength": 50,
                "order": [[ 6, 'desc' ]]

            });

        } );


    </script>


{% endblock %}
