{% extends 'base.admin.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' 'jquery.collection.html.twig' %}

{% block body %}

    <style type="text/css">
        .form-control{
            width: 25%;
        }
    </style>

    <h1>Nouveau Cabinet</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_cabinet_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.my-selector').collection();

    </script>
{% endblock %}
