{% extends 'base.admin.html.twig' %}

{% block body %}
    <h1>Cabinet</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cabinet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cabinet.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ cabinet.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ cabinet.ville }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ cabinet.codePostal }}</td>
            </tr>
            <tr>
                <th>Departement</th>
                <td>{{ cabinet.departement }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ cabinet.region }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ cabinet.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ cabinet.email }}</td>
            </tr>
            <tr>
                <th>Site</th>
                <td>{{ cabinet.site }}</td>
            </tr>
            <tr>
                <th>Formejuridique</th>
                <td>{{ cabinet.formeJuridique }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ cabinet.siret }}</td>
            </tr>
            <tr>
                <th>Siren</th>
                <td>{{ cabinet.siren }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_cabinet_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_cabinet_edit', { 'id': cabinet.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
