<div class="row">
  <h2>
    Abonnement Prime
  </h2>
</div> <!-- row -->
{% set abonnement_prime = 0 %}
{% set idAbonnement = "" %}
{% for un_produit in panierProduit %}
   {% if un_produit.produit.rubrique == "abonnement-prime" %}
      {% set abonnement_prime = 1 %}
       {% set idAbonnement = un_produit.produit.id %}
   {% endif %}

{% endfor %}

{% if abonnementPrime %}
  {% for produit in abonnementPrime %}
<div class="row box-produit">
  <div class="col-7 col-lg-5">
    <img class="img-fluid" src="{{ asset("uploads/images/produit/"~produit.image) }}" alt="{{ produit.nom }}" title="{{ produit.nom }}" >
  </div> <!-- col -->
  <div class="col-5 btn-place desktop-hide">
    {% if (app.user is not null and app.user.isPaidSubscriber) or abonnement_prime == 1 %}
      <img src="{{ asset('images/purchased.png') }}">
    {% else %}
        <form method="POST"
              action="{{ path('front_boutique_add_to_cart', {'produit': produit.id}) }}">
            <input class="btn btn-abonne" type="submit" value="Je m'abonne">
        </form>

    {% endif %}
  </div>
  <div class="col-lg-7">
    <h3>{{ produit.nom }}</h3>
    <div class="descriptif">
        {{ produit.description|raw }}
    </div>
    <div class="prix">
      Prix : {{ produit.prix|euro }} TTC
    </div>
    <div class="mobile-hide">
      {% if (app.user is not null and app.user.isPaidSubscriber) or abonnement_prime == 1 %}
        <img src="{{ asset('images/purchased.png') }}">
      {% else %}
        <form method="POST"
              action="{{ path('front_boutique_add_to_cart', {'produit': produit.id}) }}">
          <input class="btn btn-abonne" type="submit" value="Je m'abonne">
        </form>
        
      {% endif %}
    
    </div>

  </div> <!-- col -->
</div> <!-- row -->
{% endfor %}
{% endif %}
