{% set abonnement_prime = 0 %}
{% set idAbonnement = "" %}
{% for un_produit in panierProduit %}
    {% if un_produit.produit.rubrique == "abonnement-prime" %}
        {% set abonnement_prime = 1 %}
        {% set idAbonnement = un_produit.produit.id %}
    {% endif %}

{% endfor %}
<div class="row">
  <h2>
    Hors série
  </h2>
</div> <!-- row -->

{% if horsSerie %}
  {% for produit in horsSerie %}
<div class="row box-produit">
  <div class="col-7 col-lg-5">
    <img src="{{ asset("uploads/images/produit/"~produit.image) }}" alt="{{ produit.nom }}" title="{{ produit.nom }}" width="174px" height="228px">

  </div> <!-- col -->
  <div class="col-5 btn-place desktop-hide">
    <div class="acheter">
        {% if produit.currentAchat is not null or panier.produitList.contains(produit) %}
          <img src="{{ asset('images/purchased.png') }}">
        {% else %}
        {% if abonnement_prime == 1 or (app.user is not null and app.user.isPaidSubscriber) or (app.user and 'ROLE_ABONNE' in app.user.roles) %}
            <form method="POST"
              action="{{ path('front_boutique_add_to_cart', {'produit': produit.id}) }}" >
            <input class="btn btn-abonne" type="submit" value="J'achète">
            </form>
            {% else %}
            <form method="POST"
                  action="{{ path('front_boutique_add_to_cart_v2', {'produit': produit.id}) }}" >
                <button class="btn btn-abonne btnAchat" type="button">J'achète</button>
                {% endif %}
            </form>
          {% endif %}
      </div> <!-- col -->
    </div>
    <div class="col-lg-7">
      <h3>{{ produit.nom }}</h3>
      <p>{{ produit.description|raw }}</p>
      <div class="prix">
          Prix : {{ produit.prix|euro }} TTC
      </div>
      <p></p>
      <div class="acheter mobile-hide">
          {% if produit.currentAchat is not null or panier.produitList.contains(produit) %}
            <img src="{{ asset('images/purchased.png') }}">
          {% else %}

                {% if abonnement_prime == 1 or (app.user is not null and app.user.isPaidSubscriber) or (app.user and 'ROLE_ABONNE' in app.user.roles) %}
                    <form method="POST" action="{{ path('front_boutique_add_to_cart', {'produit': produit.id}) }}" >
                        <input class="btn btn-abonne" type="submit" value="J'achète">
                    </form>
                {% else %}
                        <form method="POST"
                              action="{{ path('front_boutique_add_to_cart_v2', {'produit': produit.id}) }}" >
                            <button class="btn btn-abonne btnAchat" type="button">J'achète</button>
                        </form>
                {% endif %}



        {% endif %}
    </div> <!-- col -->
    </div> <!-- col -->
</div> <!-- row -->
  {% endfor %}
{% endif %}
