<a href="{{ path('front_boutique') }}" id="boutique-link" title="e-boutique">
  <img src="{{ asset('/images/market-ico.svg') }}" alt="">
    {% set qttTotalPanier = 0 %}
    {% set abonnement_prime = 0 %}
    {% set totalPanier = 0 %}
  {% if panierProduit|length > 0 %}
      {% for un_produit in panierProduit %}
          {% set  qttTotalPanier = qttTotalPanier + un_produit.qtt %}
          {% set totalPanier = totalPanier + (un_produit.produit.prix * un_produit.qtt) %}
      {% endfor %}
    <div class="panier-count">

      {{ qttTotalPanier }}
    </div>
  {% endif %}
  <input type="hidden" id="qttPanier" name="qttPanier" value="{{ qttTotalPanier }}">
  <input type="hidden" id="ttPanier" name="ttPanier" value="{{ totalPanier }}">
</a>

<div id="panier-wrapper">
  <div class="sub-menu-box panier">
    <div class="box-ma-commande">
      <div class="close-btn-mobile panier-close"></div>
      <div class="ico-profil-mobile">
        <img src="{{ asset('/images/market-ico.svg') }}" alt="">
      </div>
      {% if panierProduit|length > 0 %}
        <h3>Ma commande</h3>
        <hr>
        <div class="liste-com">
          <ul>
            {% set totalPanier = 0 %}
            {% set tvaTotal = 0  %}

            {% for un_produit in panierProduit %}
                {% if un_produit.produit.rubrique != "frais-transport" %}
                    {% set qttPanier = 1 %}
                    {% if un_produit.qtt is not null %}
                        {% set qttPanier = un_produit.qtt %}
                    {% endif %}
                    {% set totalPanier = totalPanier + (un_produit.produit.prix*qttPanier) %}
                    {% set ppTc = un_produit.produit.prix*qttPanier %}
                    {% set tvaProduct = (ppTc- (ppTc/(1+(tva/100))))  %}
                    {% set tvaTotal = tvaTotal + tvaProduct %}
                    {% if un_produit.produit.rubrique == "abonnement-prime" %}
                        {% set abonnement_prime = 1 %}
                    {% endif %}
                  <li>
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-2 col-4 product-image">
                          {% if un_produit.produit.rubrique == "frais-transport" and un_produit.produit.image is null %}
                              <i  style="font-size: 25px" class="fas fa-bus"></i>
                          {% else %}
                            <img src="{{ asset("uploads/images/produit/"~un_produit.produit.image) }}" width="80px">
                          {% endif %}
                        </div> <!-- col -->
                        <div class="col-sm-10 col-8 align-self-center">
                          <span class="product-name">
                            {{ un_produit.produit.nom }}
                          </span>
                        </div> <!-- col -->
                      </div> <!-- row -->

                      <div class="d-flex flex-row-reverse price-row">
                      <div id="price_{{ un_produit.produit.id }}" class="price" style="line-height: 32px;">
                          <span>
                            {{ un_produit.produit.prix*qttPanier }}&euro; TTC &nbsp;
                          </span>
                        </div>
                          {% if un_produit.produit.rubrique == "frais-transport"  %}
                            <div class="quantity" style="width:70px;">

                            </div>
                          {% else %}
                             <div class="quantity">
                                <input type="hidden" name="id[]" value="{{ un_produit.produit.id }}">
                                <input type="hidden" name="prixUnitaire_{{ un_produit.produit.id }}" id="prixUnitaire_{{ un_produit.produit.id }}" value="{{ un_produit.produit.prix }}">
                                <input {% if currentRoute == "front_boutique" %}
                                          {% if abonnement_prime == 1 and un_produit.produit.rubrique == "abonnement-prime" %}disabled{% endif %}
                                    {% else %}
                                      disabled
                                {% endif %} type="number" id="qtt_{{ un_produit.produit.id }}" name="qtt_{{ un_produit.produit.id }}" value="{{ qttPanier }}" style="width: 37px;border: 1px solid #000;height: 25px;padding-left: 5px;" onchange="addQtt({{ un_produit.produit.id }},{{ qttPanier }},{{ totalPanier }},{{ un_produit.produit.prix }},{{ tva }},{{ un_produit.id }})">
                                <form method="POST"
                                      action="{{ path('front_boutique_remove_from_cart', {'produit': un_produit.produit.id}) }}">
                                  <input type="hidden" value="{{ currentRoute }}" name="last-route">
                                  <input type="submit" value="X">
                                </form>
                              </div>
                              {% endif %}


                         <!-- col -->
                      </div> <!-- price-row -->
                    </div> <!-- container -->
                  </li>
                {% endif %}
            {% endfor %}

              {% for un_produit in panierProduit %}
                {% if un_produit.produit.rubrique == "frais-transport" %}
                    {% set qttPanier = 1 %}
                    {% if un_produit.qtt is not null %}
                        {% set qttPanier = un_produit.qtt %}
                    {% endif %}
                    {% set totalPanier = totalPanier + (un_produit.produit.prix*qttPanier) %}
                    {% set ppTc = un_produit.produit.prix*qttPanier %}
                    {% set tvaProduct = (ppTc- (ppTc/(1+(tva/100))))  %}
                    {% set tvaTotal = tvaTotal + tvaProduct %}
                    {% if un_produit.produit.rubrique == "abonnement-prime" %}
                        {% set abonnement_prime = 1 %}
                    {% endif %}
                  <li>
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-2 col-4 product-image">
                            {% if un_produit.produit.rubrique == "frais-transport" and un_produit.produit.image is null %}
                              <i  style="font-size: 25px" class="fas fa-bus"></i>
                            {% else %}
                              <img src="{{ asset("uploads/images/produit/"~un_produit.produit.image) }}" width="80px">
                            {% endif %}
                        </div> <!-- col -->
                        <div class="col-sm-10 col-8 align-self-center">
                          <span class="product-name">
                            {{ un_produit.produit.nom }}
                          </span>
                        </div> <!-- col -->
                      </div> <!-- row -->

                      <div class="d-flex flex-row-reverse price-row">
                        <div id="price_{{ un_produit.produit.id }}" class="price" style="line-height: 32px;">
                          <span>
                            {{ un_produit.produit.prix*qttPanier }}&euro; TTC &nbsp;
                          </span>
                        </div>
                          {% if un_produit.produit.rubrique == "frais-transport"  %}
                            <div class="quantity" style="width:70px;">

                            </div>
                          {% else %}
                            <div class="quantity">
                              <input type="hidden" name="id[]" value="{{ un_produit.produit.id }}">
                              <input type="hidden" name="prixUnitaire_{{ un_produit.produit.id }}" id="prixUnitaire_{{ un_produit.produit.id }}" value="{{ un_produit.produit.prix }}">
                              <input {% if currentRoute == "front_boutique" %}
                                  {% if abonnement_prime == 1 and un_produit.produit.rubrique == "abonnement-prime" %}disabled{% endif %}
                              {% else %}
                                disabled
                              {% endif %} type="number" id="qtt_{{ un_produit.produit.id }}" name="qtt_{{ un_produit.produit.id }}" value="{{ qttPanier }}" style="width: 37px;border: 1px solid #000;height: 25px;padding-left: 5px;" onchange="addQtt({{ un_produit.produit.id }},{{ qttPanier }},{{ totalPanier }},{{ un_produit.produit.prix }},{{ tva }},{{ un_produit.id }})">
                              <form method="POST"
                                    action="{{ path('front_boutique_remove_from_cart', {'produit': un_produit.produit.id}) }}">
                                <input type="hidden" value="{{ currentRoute }}" name="last-route">
                                <input type="submit" value="X">
                              </form>
                            </div>
                          {% endif %}


                        <!-- col -->
                      </div> <!-- price-row -->
                    </div> <!-- container -->
                  </li>
                {% endif %}
              {% endfor %}
          </ul> 
        </div>
        <div class="total">
          <div class="container">
            <div class="row">
              <div class="col-8 lib">
                <strong>TOTAL TTC</strong>
                <br />
                dont TVA 2,1%
              </div> <!-- col -->
              <div class="col-4 amount">
                <span class="prixTotal"><strong>{{ totalPanier|euro }}</strong></span>
                <br />
                <span class="tvaTaxe">{{ tvaTotal|number_format(2, '.', ',')|euro }}</span>
              </div> <!-- col -->
            </div> <!-- row -->
          </div> <!-- container -->
        </div>
                
        
      {% else %}
        <h3>Votre panier</h3>
        <ul>
          <div class="total">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 lib">
                  <strong>TOTAL TTC</strong>
                  <br />
                  dont TVA 2,1%
                </div> <!-- col -->
                <div class="col-sm-4 amount">
                  <strong>00.00€</strong>
                  <br />
                    00.00€
                </div> <!-- col -->
              </div> <!-- row -->
            </div> <!-- container -->
          </div>
        </ul>
      {% endif %}
    </div>

    {% if panierProduit|length > 0  %}
      <div class="order-now">
        {% if currentRoute == 'front_boutique_order_confirmation' or currentRoute == 'front_boutique_checkout' or currentRoute =="front_boutique_abonnement" or currentRoute == "front_boutique_identification" %}
          <a id="order-now" href="{{ path('front_boutique') }}">
            Modifier ma commande
          </a>
        {% else %}
          <a id="order-now" class="btn btn-abonne" href="{{ path('front_boutique_identification') }}">
              {% if abonnement_prime == 1 %}
                  Je m'abonne
            {% else %}
                  Je commande
            {% endif %}
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>

</div>



