{% set abonnement_prime = 0 %}
{% set idAbonnement = "" %}
{% for un_produit in panierProduit %}
    {% if un_produit.produit.rubrique == "abonnement-prime" %}
        {% set abonnement_prime = 1 %}
        {% set idAbonnement = un_produit.produit.id %}
    {% endif %}

{% endfor %}

<div class="row">
  <h2>
    Les essentiels de la profession comptable
  </h2>
</div> <!-- row -->

<div class="row box-produit">
  {% if produits %}
  {% for produit in produits %}
    <div class="col-lg-4 col-6 produit">
      <div class="row">
        <div class="image" data-toggle="tooltip" title="<h2>{{ produit.nom }}</h2><p style='background-color: white; text-align: left;z-index:9999;'>{{ produit.description|striptags|truncate(450, true)|raw }}</p>" data-placement="left">
          <img src="{{ asset("uploads/images/produit/"~produit.image) }}"  alt="{{ produit.nom }}" width="137px" height="193px">
        </div> <!-- col -->
      </div> <!-- row -->
      <div class="box-detail-pdt">
      <div class="row">
        <div class="nom">
          <div data-toggle="tooltip" title="<h2>{{ produit.nom }}</h2><p style='background-color: white; text-align: left;z-index:9999;'>{{ produit.description|striptags|truncate(450, true)|raw }}</p>" data-placement="left" >
              {{ produit.nom|raw }}
          </div>
        </div> <!-- col -->
      </div> <!-- row -->
      <div class="row">
        <div class=" auteur">
          {% if produit.auteur %}
          par {{ produit.auteur }}
          {% endif %}
        </div> <!-- col -->
      </div> <!-- row -->
      <div class="row">
        <div class="prix">
          {{ produit.prix|euro }} TTC
        </div> <!-- col -->
      </div> <!-- row -->
      </div>
      <div class="row">
        <div class="acheter">
          {% if produit.currentAchat is not null or panier.produitList.contains(produit) %}
            <img src="{{ asset('images/purchased.png') }}">
          {% else %}

              {% if abonnement_prime == 1 or (app.user is not null and app.user.isPaidSubscriber) or (app.user and 'ROLE_ABONNE' in app.user.roles) %}
                <form method="POST"
                      action="{{ path('front_boutique_add_to_cart', {'produit': produit.id}) }}">
                    <input class="btn btn-abonne" type="submit" value="J'achète">

                </form>
              {% else %}
                <form method="POST"
                      action="{{ path('front_boutique_add_to_cart_v2', {'produit': produit.id}) }}">
                    {#<input class="btn btn-abonne" type="submit" value="J'achète">#}
                  <button class="btn btn-abonne btnAchat" type="button">J'achète</button>
                </form>
              {% endif %}

          {% endif %}
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- col -->

  {% endfor %}
  {% endif %}
</div> <!-- row -->
