{% set currentPath = app.request.attributes.get('_route') %}
{% set uri = app.request.uri  %}
<div class="top_sub">
  <div class="row">
    <div class="col-lg-2 left-width mobile-hide">
      <div class="row">
        {{ render(controller(
            'App\\Controller\\Main\\IndexController::shareButtonAction',
             { 'position': 'haut' }
        )) }}

      </div>
    </div>

    <div class="col-lg-7 order-2 order-lg-1">
        {% if currentPath =="front_boutique" %}
            <div class="fil-ariane-boutique">
                <div class="pagename">Ma boutique</div>
            </div>

        {% elseif currentPath =="front_boutique_abonnement" %}
          <div class="fil-ariane mobile-no-mt">
            <ul class="breadcrumb">
                <li><a href="{{ path("front_boutique") }}" title="Passer ma commande"> Passer ma commande</a> > </li>
                <li><a href="{{ path("front_boutique_identification") }}" title="Identification"> Identification</a> > </li>
                <li> <a href="javascript:history.back()" title="Identification">Récapitulatif</a>  > </li>
                <li class="active"> Paiement</li>
            </ul>
          </div>
        {% elseif currentPath =="front_boutique_order_confirmation" %}
          <div class="fil-ariane mobile-no-mt">
            <ul class="breadcrumb">
              <li><a href="{{ path("front_boutique") }}" title="Passer ma commande"> Passer ma commande</a> > </li>
              <li><a href="javascript:history.back()" title="Identification"> Identification</a> > </li>
              <li class="active"> Récapitulatif</li>
            </ul>
          </div>
        {% elseif currentPath =="front_boutique_checkout" %}
          <div class="fil-ariane mobile-no-mt">
            <ul class="breadcrumb">
              <li><a href="{{ path("front_boutique") }}" title="Passer ma commande"> Passer ma commande</a> > </li>
                <li><a href="{{ path("front_boutique_identification") }}" title="Identification"> Identification</a> > </li>
                <li> <a href="javascript:history.back()" title="Identification">Récapitulatif</a>  > </li>
                <li class="active"> Paiement</li>
            </ul>
          </div>
        {% elseif currentPath =="front_boutique_identification" %}
          <div class="fil-ariane mobile-no-mt">
            <ul class="breadcrumb">
              <li><a href="{{ path("front_boutique") }}" title="Passer ma commande"> Passer ma commande</a> > </li>
              <li class="active"> Identification</li>
            </ul>
          </div>
        {% else %}
            {% include 'main/Index/_tag_list-externe.html.twig' %}
        {% endif %}
    </div>

    <div class="col-lg-3 order-1 order-lg-2 border-blue">
      <div class="sub-header">
        <div class="navigation">
          <ul>
            <li><a href="" data-toggle="modal" data-target="#searchmodal" title="Rechercher" ><img src="{{ asset('/images/find-ico.svg') }}" alt=""></a></li>
            <li>{{ render(controller('App\\Controller\\Main\\UserController::userBlocAction',{'uri':uri})) }}</li>
            <li class="open-menu blocPanierBoutique" >
              {{ render(controller( 'App\\Controller\\Main\\BoutiqueController::panierBlocAction')) }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="searchmodal" class="modal fade">
  <div class="close-btn" data-dismiss="modal">
    <img src="{{ asset('/images/close-search.svg') }}" alt="">
  </div>
  <div class="modal-dialog mx-auto" role="document">
    <div class="modal-content">
      <form action="{{ path("front_search") }}" class="form-search">
        <div class="input-field-wrap">
          <input type="text" class="form-control" name="q" id="search" placeholder="Recherche">
        </div>
        <div class="search-btn">
          <input class="search-submit" type="submit" value="" >
        </div>
      </form>

    </div>
  </div>

</div>
