{% extends 'base-externe.html.twig' %}

{% block title %}
  {{ parent()}}
{% endblock title%}

{% block description %}
  {{ parent()}}
{% endblock description %}

{% block stylesheets %}
  {{ parent() }}
  <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
  <link href="{{ asset('css/home.css')}}" rel="stylesheet">
  <style type="text/css">
    .successCB h2{
      font-size: 18px;text-align: center;border: 1px solid cadetblue;padding: 15px;font-weight: normal;
    }

    #myTab{
      min-width: 400px;
    }

    #myTab li{
      height: 80px;
    }

    #myTab li a:hover{
      height: 58px;
    }

    #myCard img{
      cursor: pointer;
      width: 90px;
    }

    #myCard img:hover{
      border: 1px solid #dee2e6;
    /*border-color: #dee2e6 #dee2e6 #fff;*/
  }

  #myTabContent{
    margin-bottom: 5px;
    padding-left: 15px;
  }

  #E-CARTEBLEUE{
    width: 120px!important;
  }

    @media (min-width: 992px) and (max-width: 1600px) {
      .cbLi{
        display: none;
      }
    }

    @media (max-width: 450px) {
      .cbLi{
        display: none;
      }
      #popup-abonnement .modal-dialog{
        width: 370px!important;
      }
    }

</style>
{% endblock %}

{% block top_sub %}
  {% include 'main/Boutique/_top_sub.html.twig' %}
{% endblock top_sub %}

{% block body %}
  {% block boutique_content %}
  {% endblock boutique_content %}
{% endblock body %}

{% block right %}
  {% include 'main/Boutique/_right.html.twig' %}
{% endblock right %}

