{% extends 'main/Boutique/base.html.twig' %}

{% block title %}Ma Boutique - {{ parent() }}{% endblock %}
{% block boutique_content %}

    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

<div class="content-box col-12 boutique top-mobile">
    <div class="loading text-center" style="position: fixed; left: 35%; z-index: 9999; display: none;" >
        <img src="{{ asset("images/load.gif") }}" alt="loading" width="100px">
    </div>

  {% include 'main/Boutique/_abonnement_prime.html.twig' %}
  {% include 'main/Boutique/_hors_serie.html.twig' %}
  {% include 'main/Boutique/_produit_list.html.twig' %}
</div> <!-- col -->


    <div id="popup-abonnement" class="modal fade" role="dialog" style="font-family: alberregular">
        <div class="modal-dialog" style="width: 450px;">
            <div class="modal-content" style="background-color: #f2fafd; border: 1px solid rgb(0, 159, 227);">
                <div class="modal-body">
                    <button style="margin-top: -5px;margin-right: -35px;color: red;" type="button" class="close" data-dismiss="modal" >&times;</button>

                    <div class="premium-title" style="text-align: center;font-size: 30px;color: #7F7F7F;font-weight: bold;"><span>Et si vous vous <br/> abonniez?</span></div>

                    <div class="row">


                        <div class="col-lg-12">

                            <div class="descriptif" style="margin-top: 10px;">
                                <p style="font-size: 17px;line-height: 35px;padding: 15px; text-align: center; color: rgb(127, 127, 127);">Abonnez-vous à La Profession Comptable pour seulement 185&euro;,
                                    et accédez à l'ensemble de nos publications au format életronique et print. <br/>
                                    <strong>Cet abonnement comprend le hors-série &laquo;Classement des cabinets&raquo;.</strong></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <form action="{{ path('front_boutique_order_confirmation') }}" method="POST">
                                <input class="btn btn-primary" style="background-color: white;color: #009fe3;border-radius: 30px; padding: 10px; margin-bottom: 10px; width: 180px;" type="submit" value="Je ne suis pas intéressé">
                            </form>

                        </div>

                        <div class="col-lg-6 text-center">
                            <div class="order-validation" style="margin-top: 0;">
                                {% if abonnementPrime %}
                                    {% for produit in abonnementPrime %}
                                        <form method="POST" action="{{ path('front_boutique_add_to_cart', {'produit': produit.id}) }}?for=confirmation"><input type="submit" value="Je souhaite m'abonner" class="btn btn-primary" style="background-color: #009fe3;color: white;border-radius: 30px; padding: 10px; margin-bottom: 10px; width: 180px;"></form>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock boutique_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            let qttPanier = $("#qttPanier").val();
            let isMobile = window.matchMedia("only screen and (max-width: 990px)");
            if (isMobile.matches) {
                if (qttPanier == "0") {
                    $('#panier-wrapper').hide();
                }else{
                    $('#panier-wrapper').show();
                }
            }

            $( ".btnAchat" ).click(function() {

                $(".loading").css('display', 'block');
                var frm = $(this).parent('form');

                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (panier) {
                        $(".blocPanierBoutique").empty();
                        $(".blocPanierBoutique").append(panier);

                        frm.replaceWith("<img src='/images/purchased.png'>");


                        /*let qttPanier = $("#qttPanier").val();
                        let isMobile = window.matchMedia("only screen and (max-width: 990px)");
                        if (isMobile.matches) {
                            if (qttPanier == "0") {
                                $('#panier-wrapper').hide();
                            }else{
                                $('#panier-wrapper').show();
                            }
                        }*/

                        $("#popup-abonnement").modal('show');

                        $(".loading").css('display', 'none');

                    },
                    error: function (data) {
                        console.log('An error occurred.');
                        console.log(data);
                    },
                });

            });
            /**/

        });
    </script>
{% endblock %}

