{% extends 'base.admin.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' 'jquery.collection.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        #App_article_linkCalameo{
            width: 50%;
        }
    </style>

{% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><a href="{{ path('admin_article_index') }}">Liste Article</a></li>
        <li class="active">Edit Article</li>
    </ol>
    <h1>Artcile edit</h1>
    <div class="apercu text-right" style="font-size: 20px;"><a href="{{ path("show_article_apercu",{'slug': article.slug }) }}" target="_blank" title="Voir aperçu"> <span class="glyphicon glyphicon-search"></span></a></div>
    <ul class="list-unstyled">
    {% for key, messages in app.session.flashbag.all() %}
        <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
            {% for message in messages %}
                {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
    {{ form_start(edit_form) }}

    <div class="row">
        <ul class="nav nav-tabs nav-article">
            <li class="nav-item active">
                <a class="nav-link active" href="#tab1" aria-expanded="true" data-toggle="tab">Informations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab3" data-toggle="tab">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" data-toggle="tab">Descriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab4" data-toggle="tab">Tags</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#tab7" data-toggle="tab">Vidéo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab6" data-toggle="tab">Evénement</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#tab5" data-toggle="tab">Edition</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#tab8" data-toggle="tab">Revues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab9" data-toggle="tab">Calameo</a>
            </li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="form-group">
                    {{ form_label(edit_form.homePage) }}
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(edit_form.homePage) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.revuePage) }}
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(edit_form.revuePage) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.categorie) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.categorie) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.titre) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.titre) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.slug) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.slug) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.type) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.type, { 'attr': {'onchange': 'return checkVideo(this.value)'} }) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.premium) }}
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(edit_form.premium) }}</div>
                </div>

            </div>
            <div class="tab-pane" id="tab2">
                <div class="form-group">
                    {{ form_label(edit_form.resume) }}
                    <div class="col-sm-9">{{ form_widget(edit_form.resume) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.contenu) }}
                    <div class="col-sm-9">{{ form_widget(edit_form.contenu) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="form-group">
                    {{ form_label(edit_form.imageFile) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.imageFile) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.podcastFile) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.podcastFile) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="tab7">
                <div class="form-group">
                    {{ form_label(edit_form.videoArticle) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.videoArticle) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="tab4">
                <div class="form-group">
                    {{ form_label(edit_form.alltags) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.alltags) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.tagnew) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.tagnew) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="tab5">
                <div class="form-group">
                    {{ form_label(edit_form.auteur) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.auteur) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.dateCreation) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.dateCreation) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.datePublication) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.datePublication) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.timePublication) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.timePublication) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.status) }}
                    <div class="col-sm-5">{{ form_widget(edit_form.status) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="tab6">
                <div class="form-group">
                    {{ form_label(edit_form.dateDebutEvent) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.dateDebutEvent) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.dateFinEvent) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.dateFinEvent) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.lieuEvent) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.lieuEvent) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="tab8">
                <div class="form-group">
                    {{ form_label(edit_form.revue) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.revue) }}</div>
                </div>

            </div>
            <div class="tab-pane" id="tab9">
                <div class="form-group">
                    {{ form_label(edit_form.linkCalameo) }}
                    <div class="col-sm-10">{{ form_widget(edit_form.linkCalameo) }}</div>
                </div>
            </div>
        </div>
    </div>

        {#{ form_widget(edit_form) }#}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Valider" class="btn btn-primary" onclick="return checkChamp();" />
            </div>
        </div>
    {{ form_end(edit_form) }}

    <ul class="list-unstyled action">
        <li>
            <a href="{{ path('admin_article_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouvel article</a>
        </li>
    </ul>

   
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.my-selector').collection();
        $(document).ready(function() {
            var typeArticle = $("#App_article_type").val();
            if(typeArticle === "Vidéos"){
                $("#App_article_videoArticle_type").prop( "disabled", false );
                $("#App_article_videoArticle_lien").prop( "disabled", false );
            }else{
                $("#App_article_videoArticle_type").prop( "disabled", true );
                $("#App_article_videoArticle_lien").prop( "disabled", true );
            }

            if(typeArticle === "Événements"){
                $("#App_article_dateDebutEvent").prop( "disabled", false );
                $("#App_article_dateFinEvent").prop( "disabled", false );
                $("#App_article_lieuEvent").prop( "disabled", false );
            }else{
                $("#App_article_dateDebutEvent").prop( "disabled", true );
                $("#App_article_dateFinEvent").prop( "disabled", true );
                $("#App_article_lieuEvent").prop( "disabled", true );
            }

            if(typeArticle === "Calameo"){
                $("#App_article_linkCalameo").prop( "disabled", false );
            }else{
                $("#App_article_linkCalameo").prop( "disabled", true );
            }


        });

        function checkVideo(val) {
            if(val === "Vidéos"){
                $("#App_article_videoArticle_type").prop( "disabled", false );
                $("#App_article_videoArticle_lien").prop( "disabled", false );
                $("#App_article_type").val("Vidéos");
            }else{
                $("#App_article_videoArticle_type").prop( "disabled", true );
                $("#App_article_videoArticle_lien").prop( "disabled", true );
                $("#App_article_type").val(val);
            }

            if(val === "Événements"){
                $("#App_article_dateDebutEvent").prop( "disabled", false );
                $("#App_article_dateFinEvent").prop( "disabled", false );
                $("#App_article_lieuEvent").prop( "disabled", false );
                $("#App_article_type").val("Événements");
            }else{
                $("#App_article_dateDebutEvent").prop( "disabled", true );
                $("#App_article_dateFinEvent").prop( "disabled", true );
                $("#App_article_lieuEvent").prop( "disabled", true );
                $("#App_article_type").val(val);
            }

            if(val === "Calameo"){
                $("#App_article_linkCalameo").prop( "disabled", false );
                $("#App_article_type").val("Calameo");
            }else{
                $("#App_article_linkCalameo").prop( "disabled", true );
                $("#App_article_type").val(val);
            }


        }

        function checkChamp() {
            var typeArticle = $("#App_article_type").val();
            if(typeArticle === "Vidéos" && $("#App_article_videoArticle_lien").val()==""){
                 alert("Merci d'ajouter le lien du vidéo");
                 $('.nav-tabs a[href="#tab7"]').tab('show');
                 return false;
            }

            if(typeArticle === "Événements" && ($("#App_article_lieuEvent").val()=="" || $("#App_article_dateFinEvent").val()=="" || $("#App_article_dateDebutEvent").val()=="")){
                alert("Merci de completer les informations sur l'evenement");
                $('.nav-tabs a[href="#tab6"]').tab('show');
                return false;
            }

            if(typeArticle === "Calameo"){

                if ($("#App_article_premium").prop("checked")) {

                }else{
                    alert("Merci de cocher la case premium!!");
                    return false;
                }

                if ($("#App_article_linkCalameo").val()=="") {
                    alert("Merci d'ajouter le lien du calameo");
                    $('.nav-tabs a[href="#tab9"]').tab('show');
                    return false;
                }
            }

        }
    </script>
{% endblock %}
