{% extends 'base.admin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
    <style type="text/css">
        .actionBO_article{
            width: 20%!important;
        }
        .modal-body .row{
            margin-bottom: 10px;
        }
        .modal-body .row select{
            width: 200px;
        }
        #article_filter_auteur{
            width: 200px;
        }
        #article_filter_titre{
            width: 100%;
        }
        .select2-selection__choice{
            color: black!important;
        }
        input[type="radio"]{
            margin: 5px 10px 0;
        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





{% endblock %}

{% block body %}
  <div id="app">
    <div id="app">
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Liste Articles</li>
    </ol>
    <h1>Liste Articles</h1>
    <ul class="list-unstyled">
    {% for key, messages in app.session.flashbag.all() %}
        <li class="alert {% if key == 'error'%}alert-danger{%elseif key == 'warning'%} alert-warning{%else%}alert-success{% endif %}">
            {% for message in messages %}
                {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>

        <button type="button" class="dt-button buttons-collection buttons-colvis" data-toggle="modal" data-target="#modal-default"  style="position: absolute; left: 30%; cursor: pointer;z-index: 99999;">Filtrer</button>

    <table class="table table-striped table-hover" id="articles">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Catégorie</th>
                 <th>Contenu</th>
                <th>Auteur</th>
                <th>Status</th>
                <th>Premium</th>
                <th>Date création</th>
                <th>Date publication</th>
                <th>Type</th>
                <th>Slug</th>
                <th class="actionBO_article">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.titre|striptags|truncate(30, true)|raw }}</td>
                <td v-if="show">{{ article.categorie }}</td>
                <td>{{ article.contenu|striptags|truncate(50, true)|raw }}</td>
                <td>{{ article.auteur }}</td>
                <td>{{ article.statusLib }}</td>
                <td align="center">{% if article.premium == 1 %}Oui{% else %}Non{% endif %}</td>
                <td >{{ article.dateCreation|date("Y-m-d") }}</td>
                <td >{% if article.datePublication %}{{ article.datePublication|date("Y-m-d") }}{% endif %}</td>
                <td >{{ article.type }}</td>
                <td >{{ article.slug }}</td>
                <td>
                    <ul class="list-unstyled action ">
                        <li class="inline">
                            <a href="{{ path('admin_article_edit', { 'id': article.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit </a>
                        </li>
                        <li class="inline">
                            <a href="{{ path('admin_article_duplicate', { 'id': article.id }) }}" onclick="return duplicateList();"><span class="glyphicon glyphicon glyphicon-duplicate" aria-hidden="true" ></span> Duplicate </a>
                        </li>
                        <li class="inline">
                            <a href="{{ path('admin_archive_add_article', { 'id': article.id }) }}" onclick="return archiveArticle();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Archiver</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="list-unstyled action">
        <li >
            <a href="{{ path('admin_article_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouvel article</a>
        </li>

    </ul>
  </div>
      <div class="modal fade" id="modal-default" style="z-index: 99999999;">
          <div class="modal-dialog">
              <div class="modal-content">
                  {{ form_start(form, {'action': path('admin_article_index')}) }}
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Filtrer par :</h4>
                  </div>
                  <div class="modal-body">

                      <div class="row">
                          <div class="col-md-3  text-right"><strong>Titre ou contenu</strong> :</div>
                          <div class="col-md-6"> {{ form_widget(form.titre) }} </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3  text-right">{{ form_label(form.categorie) }} :</div>
                          <div class="col-md-6"> {{ form_widget(form.categorie) }} </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3  text-right">{{ form_label(form.type) }} : </div>
                          <div class="col-md-6"> {{ form_widget(form.type) }} </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3 text-right">{{ form_label(form.status) }} : </div>
                          <div class="col-md-6"> {{ form_widget(form.status) }} </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3  text-right">{{ form_label(form.auteur) }} : </div>
                          <div class="col-md-6"> {{ form_widget(form.auteur) }} </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3  text-right">{{ form_label(form.premium) }} : </div>
                          <div class="col-md-7 text-left">{{ form_widget(form.premium) }}</div>
                      </div>

                      <div class="clearfix"></div>

                      <div class="row">
                          <div class="col-md-3 text-right"><strong>Date création </strong>: </div>
                          <div class="col-md-6  input-group input-daterange">
                              <input type="date" name="date_creation_debut" class="form-control" value="{{ app.session.get('dateDebutCreation') }}" >
                              <div class="input-group-addon"> à </div>
                              <input type="date" name="date_creation_fin" class="form-control" value="{{ app.session.get('dateFinCreation') }}" >
                          </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="row">
                          <div class="col-md-3 text-right"><strong>Date publication</strong> : </div>
                          <div class="col-md-6  input-group input-daterange">
                              <input type="date" name="date_publication_debut" class="form-control" value="{{ app.session.get('dateDebutPublication') }}" >
                              <div class="input-group-addon"> à </div>
                              <input type="date" name="date_publication_fin" class="form-control" value="{{ app.session.get('dateFinPublication') }}" >
                          </div>
                      </div>


                  </div>
                  <div class="modal-footer">
                      <a href="{{ path('admin_article_index') }}?init=1"  class="btn btn-default pull-left" >Reinitialiser</a>
                      <button type="submit" name="appliquer" value="appliquer" class="btn btn-primary">Appliquer</button>
                  </div>
                  {{ form_end(form) }}
              </div>
              <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
      </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


    <script type="application/javascript">
        $(document).ready(function() {
            $('#article_filter_categorie, #article_filter_type, #article_filter_status, #article_filter_auteur').select2({
                dropdownParent: $("#modal-default")
            });

            $('#articles').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    { extend: 'colvis', text: 'Colonne affichées' }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "pageLength": 50,
                "order": [[ 6, 'desc' ]]

            });
            var tableArticle = $('#articles').DataTable();

            var columnTitre = ["Titre",
                "Catégorie",
                "Contenu",
                "Auteur",
                "Status",
                "Premium",
                "Date création",
                "Date publication",
                "Type",
                "Slug"];

            for (var i=0; i<columnTitre.length ; i++){
                if (i=== 0 || i=== 1 || i===3 || i=== 4 || i===5 || i===6 || i===7) {
                    tableArticle.column(i).visible(true);
                } else {
                    tableArticle.column(i).visible(false);
                }

            }

            $(".actionBO").css("width","245px!important");


        } );

        function duplicateList(){
            var messageConfirm ="Voulez vous vraiement le dupliquer?";
            if(confirm( messageConfirm )){
                return true;
            }else{
                return false;
            }
        }
        
        function resetChamp() {
            $("#article_filter_titre").val("");
            $("#article_filter_categorie").val("");
            $("#article_filter_type").val("");
            $("#article_filter_status").val("");
            $("#article_filter_auteur").val("");

            $('#article_filter_premium').iCheck('uncheck');
            $('#article_filter_homePage').iCheck('uncheck');
            $('#article_filter_revuePage').iCheck('uncheck');

            $("#article_filter_dateCreation").val("");
            $("#article_filter_datePublication").val("");
            return false;
        }

        function archiveArticle(){
            var messageConfirm ="Voulez vous vraiement l' archivé?";
            if(confirm( messageConfirm )){
                return true;
            }else{
                return false;
            }
        }

    </script>


{% endblock %}
