{% extends 'base.admin.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' 'jquery.collection.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        #App_article_linkCalameo{
            width: 50%;
        }
    </style>

{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><a href="{{ path('admin_article_index') }}">Liste article</a></li>
        <li class="active">Nouvel article</li>
    </ol>
    <h1>Nouvel article</h1>
    {{ form_start(form) }}
    <div class="row">
        <ul class="nav nav-tabs nav-article">
            <li class="nav-item active">
                <a class="nav-link active" href="#tab1" data-toggle="tab">Informations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab3" data-toggle="tab">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" data-toggle="tab">Descriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab4" data-toggle="tab">Tags</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#tab7" data-toggle="tab">Vidéo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab6" data-toggle="tab">Evénement</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#tab5" data-toggle="tab">Edition</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#tab8" data-toggle="tab">Revues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab9" data-toggle="tab">Calameo</a>
            </li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="form-group">
                    {{ form_label(form.homePage) }}
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(form.homePage) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.revuePage) }}
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(form.revuePage) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.categorie) }}
                    <div class="col-sm-5">{{ form_widget(form.categorie) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.titre) }}
                    <div class="col-sm-10">{{ form_widget(form.titre) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.slug) }}
                    <div class="col-sm-10">{{ form_widget(form.slug) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.type) }}
                    <div class="col-sm-5">{{ form_widget(form.type, { 'attr': {'onchange': 'return checkVideo(this.value)'} }) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.premium) }}
                    <div class="col-sm-5 col-sm-offset-2">{{ form_widget(form.premium) }}</div>
                </div>

            </div>
            <div class="tab-pane" id="tab2">
                <div class="form-group">
                    {{ form_label(form.resume) }}
                    <div class="col-sm-9">{{ form_widget(form.resume) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.contenu) }}
                    <div class="col-sm-9">{{ form_widget(form.contenu) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="form-group">
                    {{ form_label(form.imageFile) }}
                    <div class="col-sm-10">{{ form_widget(form.imageFile) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.podcastFile) }}
                    <div class="col-sm-10">{{ form_widget(form.podcastFile) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="tab7">
                <div class="form-group">
                    {{ form_label(form.videoArticle) }}
                    <div class="col-sm-10">{{ form_widget(form.videoArticle) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="tab4">
                <div class="form-group">
                    {{ form_label(form.alltags) }}
                    <div class="col-sm-10">{{ form_widget(form.alltags) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.tagnew) }}
                    <div class="col-sm-10">{{ form_widget(form.tagnew) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="tab5">
                <div class="form-group">
                    {{ form_label(form.auteur) }}
                    <div class="col-sm-10">{{ form_widget(form.auteur, { 'attr': {'value': app.user.prenom} }) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.dateCreation) }}
                    <div class="col-sm-10">{{ form_widget(form.dateCreation) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.datePublication) }}
                    <div class="col-sm-10">{{ form_widget(form.datePublication) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.timePublication) }}
                    <div class="col-sm-10">{{ form_widget(form.timePublication) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.status) }}
                    <div class="col-sm-5">{{ form_widget(form.status) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="tab6">
                <div class="form-group">
                    {{ form_label(form.dateDebutEvent) }}
                    <div class="col-sm-10">{{ form_widget(form.dateDebutEvent) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.dateFinEvent) }}
                    <div class="col-sm-10">{{ form_widget(form.dateFinEvent) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.lieuEvent) }}
                    <div class="col-sm-10">{{ form_widget(form.lieuEvent) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="tab8">
                <div class="form-group">
                    {{ form_label(form.revue) }}
                    <div class="col-sm-10">{{ form_widget(form.revue) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="tab9">
                <div class="form-group">
                    {{ form_label(form.linkCalameo) }}
                    <div class="col-sm-10">{{ form_widget(form.linkCalameo) }}</div>
                </div>
            </div>
        </div>
    </div>

    {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Valider" class="btn btn-primary" onclick="return checkChamp();" />

            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.my-selector').collection();
        $(document).ready(function() {
            var typeArticle = $("#App_article_type").val();
            if(typeArticle === "Vidéos"){
                $("#App_article_videoArticle_type").prop( "disabled", false );
                $("#App_article_videoArticle_lien").prop( "disabled", false );

            }else{
                $("#App_article_videoArticle_type").prop( "disabled", true );
                $("#App_article_videoArticle_lien").prop( "disabled", true );
            }

            if(typeArticle === "Événements"){
                $("#App_article_dateDebutEvent").prop( "disabled", false );
                $("#App_article_dateFinEvent").prop( "disabled", false );
                $("#App_article_lieuEvent").prop( "disabled", false );

            }else{
                $("#App_article_dateDebutEvent").prop( "disabled", true );
                $("#App_article_dateFinEvent").prop( "disabled", true );
                $("#App_article_lieuEvent").prop( "disabled", true );
            }

            if(typeArticle === "Calameo"){
                $("#App_article_linkCalameo").prop( "disabled", false );
            }else{
                $("#App_article_linkCalameo").prop( "disabled", true );
            }


        });

        function checkVideo(val) {
            if(val === "Vidéos"){
                $("#App_article_videoArticle_type").prop( "disabled", false );
                $("#App_article_videoArticle_lien").prop( "disabled", false );
                $("#App_article_linkCalameo").prop( "disabled", false );
            }else{
                $("#App_article_videoArticle_type").prop( "disabled", true );
                $("#App_article_videoArticle_lien").prop( "disabled", true );
            }

            if(val === "Événements"){
                $("#App_article_dateDebutEvent").prop( "disabled", false );
                $("#App_article_dateFinEvent").prop( "disabled", false );
                $("#App_article_lieuEvent").prop( "disabled", false );
                $("#App_article_linkCalameo").prop( "disabled", false );
            }else{
                $("#App_article_dateDebutEvent").prop( "disabled", true );
                $("#App_article_dateFinEvent").prop( "disabled", true );
                $("#App_article_lieuEvent").prop( "disabled", true );
            }

            if(val === "Calameo"){
                $("#App_article_linkCalameo").prop( "disabled", false );
            }else{
                $("#App_article_linkCalameo").prop( "disabled", true );
            }
        }

        function checkChamp() {
            var typeArticle = $("#App_article_type").val();
            if(typeArticle === "Vidéos" && $("#App_article_videoArticle_lien").val()==""){
                alert("Merci d'ajouter le lien du vidéo");
                $('.nav-tabs a[href="#tab7"]').tab('show');
                return false;
            }

            if(typeArticle === "Événements" && ($("#App_article_lieuEvent").val()=="" || $("#App_article_dateFinEvent").val()=="" || $("#App_article_dateDebutEvent").val()=="")){
                alert("Merci de completer les informations sur l'evenement");
                $('.nav-tabs a[href="#tab6"]').tab('show');
                return false;
            }

            if(typeArticle === "Calameo"){

                if ($("#App_article_premium").prop("checked")) {

                }else{
                    alert("Merci de cocher la case premium!!");
                    return false;
                }

                if ($("#App_article_linkCalameo").val()=="") {
                    alert("Merci d'ajouter le lien du calameo");
                    $('.nav-tabs a[href="#tab9"]').tab('show');
                    return false;
                }

            }

        }
    </script>
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
{% endblock %}