{#<form name="search" action="index.html.twig" method="POST" class="form-horizontal">
<div class="row">
    <div class="col-lg-6">
        <div class="input-group" id="adv-search">
            <input type="text" class="form-control" name="text" placeholder="Rechercher" />
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">

                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <select class="form-control" name="status" id="status">
                                        <option value="en_cours" selected>En cours</option>
                                        <option value="a_valider">A valider</option>
                                        <option value="valide">Validé</option>
                                        <option value="publie">Publié</option>

                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="categorie">Categorie</label>
                                    <select class="form-control" name="categorie" id="categorie">
                                        <option value="0" selected>All Snippets</option>
                                        <option value="1">Featured</option>
                                        <option value="2">Most popular</option>
                                        <option value="3">Top rated</option>
                                        <option value="4">Most commented</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="contain">Auteur</label>
                                    <input class="form-control" type="text" name="auteur" />
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="premium">Prémium</label>
                                    <input type="checkbox" name="premium" />
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="datePublication">Date publication</label>
                                    <input class="form-control" type="date" name="datePublicationDebut" />
                                    <input class="form-control" type="date" name="datePublicationFin" />
                                </div>
                                <div class="clearfix"></div>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

                        </div>
                    </div>
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>#}
<div class="container">

    <div class="row">

        <div class="col-lg-12">

            <div class="input-group" id="boot-search-box">

                <input type="text" class="form-control" placeholder="Type a search term like: mobile phone" />

                <div class="input-group-btn">

                    <div class="btn-group" role="group">

                        <div class="dropdown dropdown-lg">

                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>

                            <div class="dropdown-menu dropdown-menu-right" role="menu">

                                <form class="form-horizontal" role="form">

                                    <div class="form-group">

                                        <label for="filter">Narrow the search:</label>

                                        <select class="form-control">

                                            <option value="catalogue" selected>Whole catalogue</option>

                                            <option value="modal">Modal</option>

                                            <option value="price">Price</option>

                                            <option value="popular">Most Popular</option>

                                        </select>

                                    </div>

                                    <div class="form-group">

                                        <label for="contain">Brand:</label>

                                        <input class="form-control" type="text" />

                                    </div>

                                    <div class="form-group">

                                        <label for="contain">Category:</label>

                                        <input class="form-control" type="text" />

                                    </div>



                                    <div class="form-group">

                                        <label for="password1" class="col-sm-3 control-label">Price Range:</label>

                                        <div class="col-sm-3">

                                            <input type="text" class="form-control" id="max-price" placeholder="Max"> <br /><br />

                                            <input type="text" class="form-control" id="min-price" placeholder="Min">

                                        </div>

                                        <br /><br /><br /><br />

                                        <button type="submit" class="btn btn-primary btn-block">Search :: <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

                                </form>

                            </div>

                        </div>

                        <button type="button" class="btn btn-success "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

</div>