{{ form_start(adresseForm) }}

<div class="row">
  <div class="container adresse">
    <h2> Adresse de facturation </h2>

    <div class="row">
      <div class="col-lg-12">
        {{ form_widget(adresseForm.prenom, {'attr': {'placeholder': 'Prénom *'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        {{ form_widget(adresseForm.nom, {'attr': {'placeholder': 'Nom *'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        {{ form_widget(adresseForm.adresseFacturation1, {'attr': {'placeholder': 'Ligne 1'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->

    <div class="row">
      <div class="col-lg-12">
        {{ form_widget(adresseForm.adresseFacturation2, {'attr': {'placeholder': 'Ligne 2'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        {{ form_widget(adresseForm.codePostal, {'attr': {'placeholder': 'Code postal'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        {{ form_widget(adresseForm.ville, {'attr': {'placeholder': 'Ville'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->

    <div class="row float-right">
      <div class="col-lg-12">
        <input type="submit" value="modifier">
      </div> <!-- col -->
    </div> <!-- row -->

  </div> <!-- container -->
</div> <!-- row -->

<div class="row">
  <div class="container adresse">
    <h2> Adresse de livraison </h2>

    <div class="row">
      <div class="col-2">
        <input type="checkbox" id="show-shipping-address" v-model="showShippingAddress">
      </div> <!-- col -->
      <div class="col-10">
        <label for="show-shipping-address">Utiliser une adresse différente pour la livraison</label>
      </div> <!-- col -->
    </div> <!-- row -->

    {{ form_start(adresseForm) }}
    <div class="row" v-if="showShippingAddress">
      <div class="col-lg-12">
        {{ form_widget(adresseForm.prenomLivraison, {'attr': {'placeholder': 'Prénom *', 'required':'required'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row" v-if="showShippingAddress">
      <div class="col-lg-12">
        {{ form_widget(adresseForm.nomLivraison, {'attr': {'placeholder': 'Nom *', 'required':'required'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row" v-if="showShippingAddress">
      <div class="col-lg-12">
        {{ form_widget(adresseForm.adresseLivraison1, {'attr': {'placeholder': 'Ligne 1'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row" v-if="showShippingAddress">
      <div class="col-lg-12">
        {{ form_widget(adresseForm.adresseLivraison2, {'attr': {'placeholder': 'Ligne 2'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row" v-if="showShippingAddress">
      <div class="col-lg-12">
        {{ form_widget(adresseForm.codePostalLivraison, {'attr': {'placeholder': 'Code postal *' , 'required':'required'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->

    <div class="row" v-if="showShippingAddress">
      <div class="col-lg-12">
        {{ form_widget(adresseForm.villeLivraison, {'attr': {'placeholder': 'Ville *', 'required':'required'}}) }}
      </div> <!-- col -->
    </div> <!-- row -->

    <div class="row float-right" v-if="showShippingAddress">
      <div class="col-lg-12">
        <input type="submit" value="modifier">
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- row -->

{{ form_end(adresseForm) }}

