{% extends 'main/Boutique/base.html.twig' %}

{% block boutique_content %}
  <div class="boutique pt-mobile">
      <ul class="list-unstyled">
          {% for key, messages in app.session.flashbag.all() %}
              <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                  {% for message in messages %}
                      {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                  {% endfor %}
              </li>
          {% endfor %}
      </ul>
    <div class="row">
      <div class="col-lg-6 form-style">
        {% include 'main/Boutique/Abonnement/_adresse.html.twig' %}
      </div> <!-- col -->
      <div class="col-lg-6 paiement">
        {% include 'main/Boutique/Abonnement/_payment.html.twig' %}
      </div> <!-- col -->
    </div> <!-- row -->
  </div>
  {% include 'main/Boutique/Checkout/_popup_success.html.twig' %}

    <div class="formPaiement">

    </div>

{% endblock boutique_content %}
{% block javascripts %}
    {{ parent() }}
  <script type="text/javascript">
      $(document).ready(function () {
          let isMobile = window.matchMedia("only screen and (max-width: 990px)");
          if (isMobile.matches) {
              $('#panier-wrapper').hide();
          }

          $("#myCard img").click(function () {
              var cardId = $(this).attr('id');

              var amount = $("#ttPanier").val();

              amount = amount * 100;

              var nom = "{{ app.user.nom~' '~app.user.prenom }}";

              var telephone = "{{ app.user.telephone }}";

              var codePostal = "{{ app.user.codePostal }}";

              var adresse = "{{ app.user.adresseFacturation1|raw }}";

              var email = "{{ app.user.email }}";

              var numCommande = "{{ numCommande }}";

              //var abonnement = "RRULE:FREQ=MONTHLY;BYMONTHDAY=12"; //A valider
              var abonnement = "";

              $(".formPaiement").empty();

              $.ajax({
                  url: "/sogecommerce/paiement.php",
                  method: "POST",
                  data: { abonnement: abonnement, cardId: cardId, amount: amount, nom: nom, telephone: telephone, codePostal: codePostal, adresse: adresse, email: email, numCommande: numCommande },
                  success:function (response) {
                      $(".formPaiement").append(response);

                      $( "form[name='lpcPaiement']" ).submit();
                  },
                  error:function () {

                  }
              });
          });
      });
  </script>

{% endblock javascripts %}

