{% extends 'main/Boutique/base.html.twig' %}

{% block boutique_content %}
  <div class="content-box col-12 boutique">
    <div class="row">
      <div class="col-lg-12">
        <h2>
          Paiement abonnement accepté
        </h2>
      </div> <!-- col -->
    </div> <!-- row -->
  </div>

  <div id="popup-success" class="modal open-popup-premium" role="dialog" style="z-index: 9999">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" onclick="leaveToProfile()">&times;</button>
          <div class="premium-icon-lock"><img src="{{ asset('/images/premium.png') }}" alt=""></div>
          <div class="premium-title"><span>Votre paiement a bien été validé</span></div>
          <p class="premium-explain">Votre abonnement est maintenant actif</p>
          <p class="premium-explain">Vous allez être redirigé vers la page mes commandes</p>
        </div>
      </div>
    </div>
  </div>

{% endblock boutique_content %}


{% block javascripts %}
  <script type="text/javascript">
    function leaveToProfile() {
      window.location.replace("{{ path('front_mes_commandes') }}");
    }
setTimeout(leaveToProfile, 60000);
  </script>
{% endblock javascripts %}
