{% extends 'base.admin.html.twig' %}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Événements à la une</li>
    </ol>
    <h1>Événements à la une</h1>
    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    {{ form_start(form) }}
    <div id="events-selection">
        <div class="form-group">
            {{ form_row(form.article1, {'attr': {'class': 'event-select2 form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.article2, {'attr': {'class': 'event-select2 form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.article3, {'attr': {'class': 'event-select2 form-control'}}) }}
        </div>
        <div class="form-group">
           {{ form_row(form.article4, {'attr': {'class': 'event-select2 form-control'}}) }}
        </div>

    </div>

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary', 'style': 'margin: 10px'} }) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.event-select2').select2();
        });
    </script>
{% endblock %}
