$icon-font-path : "../fonts/";
$fa-font-path :  "../fonts/";
// bower:scss
@import "bower_components/bootstrap4/scss/bootstrap.scss";
@import "bower_components/Font-Awesome/web-fonts-with-css/scss/fa-regular.scss";
@import "bower_components/Font-Awesome/web-fonts-with-css/scss/fontawesome.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/slick-carousel/slick/slick-theme.scss";
// endbower

// components
@import "components/variables";
@import "components/fonts";
@import "components/base";
// endcomponents
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
*{
  outline: none !important;
}