{% extends 'base.admin.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Liste reseaux sociaux</li>
    </ol>
    <h1>Liste réseaux sociaux</h1>
    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Reseaux</th>
                <th>Lien</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for linkSociaux in linkSociauxes %}
            <tr>
                <td>{{ linkSociaux.reseaux }}</td>
                <td>{{ linkSociaux.lien }}</td>
                <td>
                    <ul class="list-unstyled action ">
                        <li class="inline">
                            <a href="{{ path('admin_linksociaux_edit', { 'id': linkSociaux.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                        </li>
                        <li class="inline">
                            <a href="{{ path('admin_linksociaux_delete_element', { 'id': linkSociaux.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                        </li>
                    </ul>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="list-unstyled action">
        <li >
            <a href="{{ path('admin_linksociaux_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouveau réseaux sociaux</a>
        </li>

    </ul>

{% endblock %}
