{% extends 'base.html.twig' %}

{% block body %}
    <h1>Linksociaux</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ linkSociaux.id }}</td>
            </tr>
            <tr>
                <th>Reseaux</th>
                <td>{{ linkSociaux.reseaux }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ linkSociaux.lien }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_linksociaux_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_linksociaux_edit', { 'id': linkSociaux.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
