{% extends 'base.admin.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Liste Pub</li>
    </ol>
    <h1>Liste Pub</h1>
    <ul class="list-unstyled">
        {% for key, messages in app.session.flashbag.all() %}
            <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                {% for message in messages %}
                    {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Image</th>
                <th>Titre</th>
                <th>Position</th>
                <th>Active</th>
                <th>Espace abonné</th>
                <th width="35%">Lien</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pub in pubs %}
            <tr>
                <td><img src="{{ asset("uploads/images/pub/"~pub.image) }}" width="50px"></td>
                <td>{{ pub.titre }}</td>
                <td>{{ pub.position }}</td>
                <td>
                    {% if pub.active %}<span style="color: #00a65a;" class="glyphicon glyphicon-ok"></span> {% else %}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{% endif %}
                </td>
                <td>
                    {% if pub.forAbonnee %}<span style="color: #00a65a;" class="glyphicon glyphicon-ok"></span> {% else %}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{% endif %}
                </td>
                <td>{{ pub.lien }}</td>
                <td>
                    <ul class="list-unstyled action ">
                        <li class="inline">
                            <a href="{{ path('admin_pub_edit', { 'id': pub.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                        </li>
                        <li class="inline">
                            <a href="{{ path('admin_pub_delete_element', { 'id': pub.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                        </li>
                    </ul>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled action">
        <li >
            <a href="{{ path('admin_pub_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouveau Pub</a>
        </li>

    </ul>
{% endblock %}
