{% if pub %}
    {% if pub.codeAdserver %}
        {{ pub.codeAdserver|raw }}
    {% else %}
        <a href="{{ pub.lien }}" target="_blank" title="{{ pub.titre }}" id="pub_{{ pub.position }}">
          <img src="{{ asset('uploads/images/pub/'~pub.image) }}"

               alt="{{ pub.titre }}">
        </a>
    {% endif %}



{% endif %}
