{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pub</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pub.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ pub.titre }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ pub.image }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ pub.lien }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_pub_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_pub_edit', { 'id': pub.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
