
<h2> Choix de paiement </h2>
{#<p>Le paiement s'effectue grâce à Paypal. Après avoir accepté les conditions générales de vente, vous pourrez cliquer sur le bouton ci-dessous pour être dirigé vers le service de paiement sécurisé de Paypal&nbsp;:</p>

<div class="row">
  <div class="col-1">
    <input type="checkbox" id="condition-accepted" v-model="showPaymentButton">
  </div> <!-- col -->
  <div class="col-11">
    <label for="condition-accepted">J'accepte les <a href="{{ path("page_information",{'slug':'conditions-generales-de-vente'}) }}" title="Conditions générales de vente" target="_blank">conditions générales de vente</a></label>
  </div> <!-- col -->
</div> <!-- row -->

<div :class="{'hidden': !showPaymentButton}">
  <div id="paypal-button-container" ></div>
</div>#}

<ul class="nav nav-tabs" id="myTab" role="tablist" >
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#myCard" role="tab" aria-controls="home" aria-selected="true">
            Carte de crédit&nbsp;
            <img src="{{ asset('images/cb.png') }}" alt="CB" width="50px" >
            <img src="{{ asset('images/visa.png') }}" alt="visa" width="50px" class="cbLi">
            <img src="{{ asset('images/mastercard.png') }}" alt="Mastercard" width="50px" class="cbLi">

        </a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#paypal" role="tab" aria-controls="profile" aria-selected="false">Paypal &nbsp;&nbsp;<img src="{{ asset('images/ico_paypal.png') }}" alt="Paypal"></a>
    </li>


</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="myCard" role="tabpanel" aria-labelledby="home-tab">
    <div class="row">


        <div class="col-xs-3">
          <img id="VISA_ELECTRON" src="{{ asset('images/visa.png') }}" alt="Visa Electron">
        </div>

        <div class="col-xs-3">
          <img id="VPAY" src="{{ asset('images/vpay.png') }}" alt="V PAY">
        </div>

        <div class="col-xs-3">
          <img id="VISA" src="{{ asset('images/visa1.png') }}" alt="Visa">
        </div>

        <div class="col-xs-3">
          <img id="MASTERCARD" src="{{ asset('images/mastercard.png') }}" alt="Mastercard">
        </div>

        <div class="col-xs-3">
          <img id="MAESTRO" src="{{ asset('images/maestro.png') }}" alt="Maestro">
        </div>

        <div class="col-xs-4 text-center">
          <img id="E-CARTEBLEUE" src="{{ asset('images/e-carte-blue.png') }}" alt="e-Carte Bleue">
        </div>

        <div class="col-xs-3">
          <img id="CB" src="{{ asset('images/cb.png') }}" alt="B">
        </div>



    </div>

  </div>
  <div class="tab-pane fade" id="paypal" role="tabpanel" aria-labelledby="profile-tab">

    <p>Le paiement s'effectue grâce à Paypal. Après avoir accepté les conditions générales de vente, vous pourrez cliquer sur le bouton ci-dessous pour être dirigé vers le service de paiement sécurisé de Paypal&nbsp;:</p>

    <div class="row">
      <div class="col-1">
        <input type="checkbox" id="condition-accepted" v-model="showPaymentButton">
      </div> <!-- col -->
      <div class="col-11">
        <label for="condition-accepted">J'accepte les <a href="{{ path("page_information",{'slug':'conditions-generales-de-vente'}) }}" title="Conditions générales de vente" target="_blank">conditions générales de vente</a></label>
      </div> <!-- col -->
    </div> <!-- row -->

    <div :class="{'hidden': !showPaymentButton}">
      <div id="paypal-button-container" ></div>
    </div>

  </div>

    <div class="tab-pane fade" id="virement" role="tabpanel" aria-labelledby="virement-tab">
        <p>Veuillez nous contacter : <a href="mailto:abonnement@laprofessioncomptable.com"> abonnement@laprofessioncomptable.com</a></p>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h2>Par virement ou par chèque</h2>
        <p>Veuillez nous contacter : <a href="mailto:abonnement@laprofessioncomptable.com"> abonnement@laprofessioncomptable.com</a></p>

    </div>
</div>




