<div id="popup-success" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" onclick="leaveToProfile()">&times;</button>
        <div class="premium-icon-lock"><img src="{{ asset('/images/premium.png') }}" alt=""></div>
        <div class="premium-title"><span>Votre paiement a bien été validé</span></div>
        <p class="premium-explain">Votre commande a bien été prise en compte.</p>
        <p class="premium-explain">Vous allez être redirigé vers la page mes commandes</p>
      </div>
    </div>
  </div>
</div>

