{% extends 'main/Boutique/base.html.twig' %}

{% block title %}Paiement Commande - {{ parent() }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>

  <script>

    function showPopup(data, action) {
      let popupPremium = document.getElementById('popup-success');
      popupPremium.classList.remove('fade');
      popupPremium.classList.add('open-popup-premium');
      $(".fixed-top_sub").css("display","none");
    }

function leaveToProfile() {
  window.location.replace("{{ path('front_mes_commandes') }}");
}
$(document).ready(function() {

paypal.Button.render({
    {% if paypal_environnement == "sandbox" %}
        env: 'sandbox',
    {% else %}
        env: 'production',
    {% endif %}
    payment: function(data, actions) {
        return actions.request.post('{{ path('payment_create') }}')
        .then(function(res) {
          return res.id;
        });
    },

    onAuthorize: function(data, actions) {
      return actions.request.post('{{ path('payment_execute') }}', {
        paymentID: data.paymentID,
        payerID:   data.payerID
      })
        .then(function(res) {
          showPopup();
          setTimeout(leaveToProfile, 60000);
          document.body.addEventListener('click', leaveToProfile, true); 
        });
    }
  }, '#paypal-button-container');


    let isMobile = window.matchMedia("only screen and (max-width: 990px)");
    if (isMobile.matches) {
        $('#panier-wrapper').hide();
    }


    $("#myCard img").click(function () {
        var cardId = $(this).attr('id');

        var amount = $("#ttPanier").val();

        amount = amount * 100;

        var nom = "{{ app.user.nom~' '~app.user.prenom }}";

        var telephone = "{{ app.user.telephone }}";

        var codePostal = "{{ app.user.codePostal }}";

        var adresse = "{{ app.user.adresseFacturation1 }}";

        var email = "{{ app.user.email }}";

        var numCommande = "{{ numCommande }}";

        $(".formPaiement").empty();

        $.ajax({
            url: "/sogecommerce/paiement.php",
            method: "POST",
            data: { cardId: cardId, amount: amount, nom: nom, telephone: telephone, codePostal: codePostal, adresse: adresse, email: email, numCommande: numCommande },
            success:function (response) {
                $(".formPaiement").append(response);

                $( "form[name='lpcPaiement']" ).submit();
            },
            error:function () {
                
            }
        });
    });

});
  </script>
{% endblock javascripts %}

{% block boutique_content %}

  <div class="row boutique pt-mobile">
    <div class="col-lg-6 form-style">
      {% include 'main/Boutique/Checkout/_adresse.html.twig' %}
    </div> <!-- col -->
    <div class="col-lg-6 paiement titre-nv">
      {% include 'main/Boutique/Checkout/_payment.html.twig' %}
    </div> <!-- col -->
  </div> <!-- row -->
  {% include 'main/Boutique/Checkout/_popup_success.html.twig' %}

    <div class="formPaiement">

    </div>
{% endblock boutique_content %}

