{% extends 'base.admin.html.twig' %}

{% block body %}
    <h1>Cas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Annee</th>
                <th>Ca</th>
                <th>Cabinet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ca in cas %}
            <tr>
                <td><a href="{{ path('admin_ca_show', { 'id': ca.id }) }}">{{ ca.id }}</a></td>
                <td>{{ ca.annee }}</td>
                <td>{{ ca.caLettre }}</td>
                <td>{{ ca.cabinet?ca.cabinet:'' }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_ca_show', { 'id': ca.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_ca_edit', { 'id': ca.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_ca_new') }}">Create a new ca</a>
        </li>
    </ul>
{% endblock %}
