{% extends 'base.admin.html.twig' %}

{% block body %}
    <h1>Ca</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ca.id }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ ca.annee }}</td>
            </tr>
            <tr>
                <th>Calettre</th>
                <td>{{ ca.caLettre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_ca_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_ca_edit', { 'id': ca.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
