{% extends 'base.admin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

{% endblock %}

{% block body %}
<div id="app">
    <div id="app">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active">Liste Page</li>
        </ol>
        <h1>Liste Articles</h1>
        <ul class="list-unstyled">
            {% for key, messages in app.session.flashbag.all() %}
                <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
                    {% for message in messages %}
                        {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>

        <table class="table table-striped table-hover" id="pages">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Is footer</th>
                <th>Position</th>
                <th class="actionBO">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                <tr>
                    <td>{{ page.titre|raw }}</td>
                    <td>{{ page.contenu|striptags|truncate(100, true)|raw }}</td>
                    <td>{% if page.footer %}<span style="color: #00a65a;" class="glyphicon glyphicon-ok"></span> {% else %}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                    <td>
                        <ul class="list-unstyled action ">
                            {% if (page.position+1) != pages|length %}
                                <li class="inline">
                                    <a href="{{ path('admin_page_sort', { 'id': page.id,'position':page.position+1 }) }}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> </a>
                                </li>
                            {% endif %}
                            {% if (page.position-1)!= -1 %}
                                <li class="inline">
                                    <a href="{{ path('admin_page_sort', { 'id': page.id,'position':page.position-1 }) }}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true" ></span></a>
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled action ">
                            <li class="inline">
                                <a href="{{ path('admin_page_edit', { 'id': page.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                            </li>
                            <li class="inline">
                                <a href="{{ path('admin_page_delete_element', { 'id': page.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="list-unstyled action">
            <li >
                <a href="{{ path('admin_page_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouvelle page</a>
            </li>

        </ul>
    </div>
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

        <script type="application/javascript">
            $(document).ready(function() {
                $('#pages').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                    },
                    "pageLength": 10,
                    "order": [[ 4, 'asc' ]]


                });
            } );
        </script>

    {% endblock %}
