<li class="treeview {% if currentPath == 'admin_categorie_index' or currentPath == 'admin_categorie_edit' or currentPath == 'admin_categorie_new' %}active menu-open{% endif %}">
    <a href="{{ path('admin_categorie_index') }}">
        <i class="fa fa-table"></i> <span>Catégorie</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li {% if currentPath == 'admin_categorie_index' %}class="active"{% endif %}><a href="{{ path('admin_categorie_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li {% if currentPath == 'admin_categorie_new' %}class="active"{% endif %}><a href="{{ path('admin_categorie_new') }}"><i class="fa fa-book"></i> Ajouter</a></li>
    </ul>
</li>

<li class="treeview {% if currentPath == 'admin_article_index'
    or currentPath == 'admin_article_edit'
    or currentPath == 'admin_article_new'
    or currentPath == 'admin_tags_new'
    or currentPath == 'admin_tags_index'
    or currentPath == 'admin_tags_edit'
    or currentPath == 'admin_unearticle_index'
    or currentPath == 'admin_unearticle_new'
    or currentPath == 'admin_videos_top'
    or currentPath == 'admin_videos_new'
    or currentPath == 'admin_events_top'
    or currentPath == 'admin_events_new'
    or currentPath == 'admin_archive'
    or currentPath == 'admin_archive_restaurer'
    or currentPath == 'admin_commentaire_index'
%}
                               active menu-open
                            {% endif %}">

    <a href="{{ path('admin_article_index')}}">
        <i class="fa fa-edit"></i> <span>Gestion Article</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li {% if currentPath == 'admin_article_index' %}class="active"{% endif %}><a href="{{ path('admin_article_index')}}"><i class="glyphicon glyphicon-th-list"></i> Liste</a></li>
        <li {% if currentPath == 'admin_article_new' %}class="active"{% endif %}><a href="{{ path('admin_article_new')}}"><i class="fa fa-circle-o"></i> Nouveau</a></li>
        <li {% if currentPath == 'admin_tags_index' or currentPath == 'admin_tags_new' %}class="active"{% endif %}><a href="{{ path('admin_tags_index')}}"><i class="fa fa-book"></i> Tags</a></li>
        <li {% if currentPath == 'admin_unearticle_index' or currentPath == 'admin_unearticle_new' %}class="active"{% endif %}><a href="{{ path('admin_unearticle_index')}}"><i class="fa fa-files-o"></i> A la Une</a></li>
        <li {% if currentPath == 'admin_videos_top' or currentPath == 'admin_videos_new' %}class="active"{% endif %}><a href="{{ path('admin_videos_top')}}"><i class="fa fa-laptop"></i> Vidéos</a></li>
        <li {% if currentPath == 'admin_events_top' or currentPath == 'admin_events_new' %}class="active"{% endif %}><a href="{{ path('admin_events_top')}}"><i class="fa fa-pie-chart"></i> Événements</a></li>
        <li {% if currentPath == 'admin_archive' or currentPath == 'admin_archive_restaurer' %}class="active"{% endif %}><a href="{{ path('admin_archive')}}"><i class="glyphicon glyphicon-th-list"></i> Archives</a></li>
        <li {% if currentPath == 'admin_commentaire_new' or currentPath == 'admin_commentaire_index' %}class="active"{% endif %}><a href="{{ path('admin_commentaire_index')}}"><i class="fa fa-book"></i> Commentaires</a></li>
    </ul>
</li>
<li class="treeview {% if currentPath == 'admin_revue_index' or currentPath == 'admin_revue_edit' or currentPath == 'admin_revue_new' %}active menu-open{% endif %}">
    <a href="{{ path('admin_revue_index') }}">
        <i class="fa fa-calendar"></i> <span>Gestion Revue</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li {% if currentPath == 'admin_revue_index' %}class="active"{% endif %}><a href="{{ path('admin_revue_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li {% if currentPath == 'admin_revue_new' %}class="active"{% endif %}><a href="{{ path('admin_revue_new') }}"><i class="fa fa-book"></i> Ajouter</a></li>
    </ul>
</li>

<li class="treeview {% if currentPath == 'admin_produit_index' or currentPath == 'admin_produit_edit' or currentPath == 'admin_produit_new' %}active menu-open{% endif %}">
    <a href="{{ path('admin_produit_index') }}">
        <i class="fa fa-pie-chart"></i> <span>Gestion Produits</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li {% if currentPath == 'admin_produit_index' %}class="active"{% endif %}><a href="{{ path('admin_produit_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li {% if currentPath == 'admin_produit_new' %}class="active"{% endif %}><a href="{{ path('admin_produit_new') }}"><i class="fa fa-book"></i> Ajouter</a></li>
    </ul>
</li>

<li class="treeview {% if currentPath == 'admin_linksociaux_index' or currentPath == 'admin_sociaux_edit' or currentPath == 'admin_sociaux_new' %}active menu-open{% endif %}">
    <a href="{{ path('admin_linksociaux_index') }}">
        <i class="fa fa-laptop"></i> <span>Réseaux sociaux</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li {% if currentPath == 'admin_linksociaux_index' %}class="active"{% endif %}><a href="{{ path('admin_linksociaux_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li {% if currentPath == 'admin_linksociaux_new' %}class="active"{% endif %}><a href="{{ path('admin_linksociaux_new') }}"><i class="fa fa-book"></i> Ajouter</a></li>
    </ul>
</li>
<li class="treeview {% if currentPath == 'admin_pub_index' or currentPath == 'admin_pub_edit' or currentPath == 'admin_pub_new' %}active menu-open{% endif %}">
    <a href="{{ path('admin_pub_index') }}">
        <i class="fa fa-dashboard"></i> <span>Publicités</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li {% if currentPath == 'admin_pub_index' %}class="active"{% endif %}><a href="{{ path('admin_pub_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li {% if currentPath == 'admin_pub_new' %}class="active"{% endif %}><a href="{{ path('admin_pub_new') }}"><i class="fa fa-book"></i> Ajouter</a></li>
    </ul>
</li>

<li class="treeview {% if currentPath == 'admin_page_index' or currentPath == 'admin_page_edit' or currentPath == 'admin_page_new' %}active menu-open{% endif %}">
    <a href="{{ path('admin_page_index') }}">
        <i class="fa fa-dashboard"></i> <span>Gestion Pages</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li {% if currentPath == 'admin_page_index' %}class="active"{% endif %}><a href="{{ path('admin_page_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li {% if currentPath == 'admin_page_new' %}class="active"{% endif %}><a href="{{ path('admin_page_new') }}"><i class="fa fa-book"></i> Ajouter</a></li>
    </ul>
</li>
{% if is_granted('ROLE_ADMIN') %}
    <li class="treeview {% if currentPath == 'admin_user_index' or currentPath == 'admin_user_edit' or currentPath == 'admin_user_new' or currentPath == 'admin_user_import' %}active menu-open{% endif %}">
        <a href="{{ path('admin_user_index') }}">
            <span class="glyphicon glyphicon-user"></span> <span>Gestion utilisateur</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li {% if currentPath == 'admin_user_index' %}class="active"{% endif %}><a href="{{ path('admin_user_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>
            <li {% if currentPath == 'admin_user_new' %}class="active"{% endif %}><a href="{{ path('admin_user_new') }}"><i class="fa fa-book"></i> Ajouter</a></li>
            <li {% if currentPath == 'admin_user_import' %}class="active"{% endif %}><a href="{{ path('admin_user_import') }}"><i class="fa fa-files-o"></i> Importer</a></li>
        </ul>
    </li>
{% endif %}

<li class="treeview {% if currentPath == 'admin_newsletter_index' or currentPath == 'admin_newsletter_edit' %}active menu-open{% endif %}">
    <a href="{{ path('admin_newsletter_index') }}">
        <span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span> <span>Newsletter</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li {% if currentPath == 'admin_newsletter_index' %}class="active"{% endif %}><a href="{{ path('admin_newsletter_index') }}"><i class="fa fa-users"></i> Liste</a></li>

    </ul>
</li>

{% if is_granted('ROLE_ADMIN') %}

<li class="treeview {% if currentPath == 'admin_etudenational_index' or currentPath == 'admin_etudenational_edit' %}active menu-open{% endif %}">
    <a href="{{ path('admin_etudenational_index') }}">
        <span class="glyphicon glyphicon-bookmark"></span> <span>Etude nationale</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li {% if currentPath == 'admin_etudenational_index' %}class="active"{% endif %}><a href="{{ path('admin_etudenational_index') }}"><i class="fa fa-bookmark"></i> Liste</a></li>
        <li {% if currentPath == 'admin_etudenational_new' %}class="active"{% endif %}><a href="{{ path('admin_etudenational_new') }}"><i class="fa fa-plus"></i> Nouveau</a></li>

    </ul>
</li>

<li class="treeview {% if currentPath == 'admin_cabinet_etude_index' or currentPath == 'admin_cabinet_etude_edit' or currentPath == 'admin_cabinet_import' %}active menu-open{% endif %}">
    <a href="{{ path('admin_cabinet_etude_index') }}">
        <span class="glyphicon glyphicon-briefcase"></span><span>Cabinet</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li {% if currentPath == 'admin_cabinet_etude_index' %}class="active"{% endif %}><a href="{{ path('admin_cabinet_etude_index') }}"><i class="fa fa-briefcase"></i> Liste</a></li>
        <li {% if currentPath == 'admin_cabinet_etude_new' %}class="active"{% endif %}><a href="{{ path('admin_cabinet_etude_new') }}"><i class="fa fa-plus"></i> Nouveau</a></li>
        <li {% if currentPath == 'admin_cabinet_import' %}class="active"{% endif %}><a href="{{ path('admin_cabinet_import') }}"><i class="fa fa-files-o"></i> Importer</a></li>
        <li {% if currentPath == 'admin_cabinet_import' %}class="active"{% endif %}><a onclick="return confirm('Voulez vous vraiement tout supprimer les cabinets?')" href="{{ path('admin_cabinet_delete_from_marcel') }}"><i class="fa fa-files-o"></i> Tout supprimer</a></li>
    </ul>
</li>

<li class="treeview {% if currentPath == 'admin_questionnaire_index' %}active menu-open{% endif %}">
    <a href="{{ path('admin_questionnaire_index') }}">
        <i class="fa fa-calendar"></i> <span>Questionnaire Cabinet</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li {% if currentPath == 'admin_revue_index' %}class="active"{% endif %}><a href="{{ path('admin_questionnaire_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>

    </ul>
</li>

<li class="treeview">
    <a href="{{ path('admin_barometre_index') }}">
        <i class="fa fa-dashboard"></i> <span>Baromètre</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{{ path('admin_barometre_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>

    </ul>
</li>
{% endif %}

