<li class="treeview {% if currentPath == 'admin_article_index'
    or currentPath == 'admin_article_edit'
    or currentPath == 'admin_article_new'
    or currentPath == 'admin_tags_new'
    or currentPath == 'admin_tags_index'
    or currentPath == 'admin_tags_edit'
    or currentPath == 'admin_unearticle_index'
    or currentPath == 'admin_unearticle_new'
    or currentPath == 'admin_videos_top'
    or currentPath == 'admin_videos_new'
    or currentPath == 'admin_events_top'
    or currentPath == 'admin_events_new'
%}
                               active menu-open
                            {% endif %}">

    <a href="{{ path('admin_article_index')}}">
        <i class="fa fa-edit"></i> <span>Gestion Article</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li {% if currentPath == 'admin_article_index' %}class="active"{% endif %}><a href="{{ path('admin_article_index')}}"><i class="glyphicon glyphicon-th-list"></i> Liste</a></li>
        <li {% if currentPath == 'admin_article_new' %}class="active"{% endif %}><a href="{{ path('admin_article_new')}}"><i class="fa fa-circle-o"></i> Nouveau</a></li>

    </ul>
</li>